.container-div{
	margin:20px;
}

.alerts-table{
	margin-top:20px;
	margin-bottom:20px;	
}

.table-bdy-td{
	word-wrap:break-word;
	max-width:250px;
}

.small-action-btn-confirm-del{
	background:red;
	margin-right:5px;
} 