<div class=".container m-2" >
	
	<!-- Nav options -->
	<ul class="nav nav-tabs">
	  <li class="nav-item" *ngIf="!isRecruiterNoSubscription() && !hasUnpaidSubscription()">
	    <span class="nav-link tabNav" (click)="switchTab('showAccountDetails')">Account Details</span>
	  </li>
	  <li class="nav-item">
	    <span class="nav-link tabNav" (click)="switchTab('showSubscriptions')">Subscriptions</span>
	  </li>
	</ul>
	
	<!-- Account details -->
	<div class="container-div" *ngIf="showAccountDetails">

		<div class="action-buttons">
			<button class="btn btn-secondary btnRight" (click)="switchToEditMode()" *ngIf="!isInEditMode">Edit Details</button>
			<button class="btn btn-secondary btnRight" (click)="cancelEditMode()"	*ngIf="isInEditMode">Cancel</button>
		</div>
		
		<div id="account-details-input">
			<form [formGroup]="accoundDetailsForm">
				<table class="table center">
					<tr>
						<td class="table-left-hdr" ><label>UserId</label></td>
						<td class="table-cell">{{recruiter.userId}}</td>
					</tr>
					<tr>
						<td class="table-left-hdr">First Name</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.firstName}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="firstName"/> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Surname</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.surname}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="surname"/> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Email Address</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.email}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="email"/> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Preferred Language</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.language}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
						 	<select  formControlName="language">
								<option value="ENGLISH" >English</option>
								<option value="DUTCH"	>Dutch</option>
								<option value="FRENCH"	>French</option>
							</select>
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Company Name</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.companyName}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="companyName"/> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Company Address</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.companyAddress}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<textarea formControlName="companyAddress"></textarea> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Company Country</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.companyCountry}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="companyCountry"/> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Company VAT Number</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.companyVatNumber}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="companyVatNumber"/> 
						</td>
					</tr>
					<tr>
						<td class="table-left-hdr">Company Registration Number</td>
						<td class="table-cell" *ngIf="!isInEditMode"><label>{{recruiter.companyRegistrationNumber}}</label></td>
						<td class="table-cell" *ngIf="isInEditMode">
							<input type="text" formControlName="companyRegistrationNumber"/> 
						</td>
					</tr>
				</table>
				
				<div class="action-buttons">
					<button class="btn btn-secondary btnRight" (click)="persistAccountDetails()" *ngIf="isInEditMode">Save Changes</button>
				</div>
			
			</form>
		</div>
	</div>
	
	<!-- Subscriptions -->
	<div class="container-div container-div-high" *ngIf="showSubscriptions">
		
		<div *ngIf="isBuyingSubscription" class="no-sub-warn">
		
			<h1>Please select a subscription option</h1>
			
			<p>
			Please select a subscription option and enter your company details. Upon confirmation you will receive immediate access 
			to the site. Your invoice will be e-mailed to the email address associated with your account and needs to be paid within 
			30 days. 
			</p>
			
			<div class="company-details">
				<form [formGroup]="accoundDetailsForm">
					<table>
						<tr>
							<td class="label">Subscription Type</td>
							<td>
								<select formControlName="subscriptionOption" (change)="setSubscriptionOption()">
									<option value="CREDIT_BASED_ACCESS">Credit Based Access (Free)</option>
									<option value="THREE_MONTH_SUBSCRIPTION">3 Month Subscription (15 Euros ex TAX)</option>
									<option value="SIX_MONTH_SUBSCRIPTION">6 Month Subscription (60 Euros ex TAX)</option>
									<option value="YEAR_SUBSCRIPTION">Annual Subscription (120 Euros ex TAX)</option>
								</select>
								<br><br>
								<p *ngIf="subscriptionOption == 'CREDIT_BASED_ACCESS'">
									Your access is free and based on an assignment of weekly credits. Once the credits have been used certain functions will no longer be available 
									until you are assigned new credits the following week. Credits need to be used the same week that they are assigned or else they will be lost.
								</p>
								<p *ngIf="subscriptionOption == 'THREE_MONTH_SUBSCRIPTION'">
									You have unlimited access to the sites functions for a period of 3 months. When your subscription expires you will be able to select a new 
									subscription for continued access to the site.
								</p>
								<p *ngIf="subscriptionOption == 'SIX_MONTH_SUBSCRIPTION'">
									You have unlimited access to the sites functions for a period of 6 months. When your subscription expires you will be able to select a new 
									subscription for continued access to the site.
								</p>
								<p *ngIf="subscriptionOption == 'YEAR_SUBSCRIPTION'">
									You have unlimited access to the sites functions for a period of 1 year. When your subscription expires you will be able to select a new 
									subscription for continued access to the site.
								</p>
							</td>
						</tr>
						<tr>
							<td class="label">Company Name</td>
							<td><input type="text" formControlName="companyName"></td>
						</tr>
						<tr>
							<td class="label">Company Address</td>
							<td><textarea formControlName="companyAddress"></textarea></td>
						</tr>
						<tr>
							<td class="label">Company Country</td>
							<td><input type="text" formControlName="companyCountry"></td>
						</tr>
						<tr>
							<td class="label">Company Tax Number</td>
							<td><input type="text" formControlName="companyVatNumber"></td>
						</tr>
						<tr>
							<td class="label">Company Registration Number</td>
							<td><input type="text" formControlName="companyRegistrationNumber"></td>
						</tr>
						<tr>
							<td class="label"></td>
							<td>
								<button class="btn btn-secondary btnRight btnSubscribe" (click)="confirmSwitchToYearlySubscription()">Confirm Subscription</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		
		</div>
		
		<div *ngIf="!hasActiveSubscription() && !isBuyingSubscription" class="no-sub-warn">
		
			<h1>Trial Ended</h1>
			
			<p>
			Your trial subscription has ended. We hope that you have found the site useful. To continue to use the site please select 
			one of the following options
			</p>
			
			<div class="center">
				<div class="sub-opt-div {{mobCss}}">
					<h3>Free - Credit Based</h3>
					<p>
					This option provides free access based on a weekly allocation of credits. Once the credits are 
					exhausted you will no longer have access to specific features until you are assigned more credits the
					following week.
					</p>
					<div>
						<ul>
							<li>8 Credits for Curriculums</li>
							<li>2 Credits for the Job board</li>
							<li>2 Credits for the Marketplace</li>
							<li>New credits added every Monday</li>
							<li>Unused credits will be lost.</li>
						</ul>
						<button class="btn btn-secondary">Select</button>
					</div>
				</div>
				<div class="sub-opt-div {{mobCss}}">
					<h3>Paid Subscription</h3>
					<p>
					This option provides unlimited access to the site for the duration of the Subscription. Once the subscription has 
					expired you can opt to take out a further subscription. Select this option to see available subscription options.
					</p>
					<div>
					<ul>
						<li>Unlimited Curriculums downloads</li>
						<li>Unlimited Job Board postings</li>
						<li>Unlimited Marketplace requests</li>
					</ul>
					<button class="btn btn-secondary" (click)="showSubscriptionOptions()">Select</button>
					</div>
				</div>
				<div class="spacer"></div>
			</div>
			<!--  
			<h1>Your 30 day free trial has come to an end</h1>
			<p>
			We hope that you found the site useful and would like to continue with us in the future. For continued access a subscription costs 
			just 120 euro's per year excluding tax. 
			</p>
			<p>
			There are no other fees involved. You will have full access to all the features on the site and will be able to place as many candidates 
			as you you like for no additional fees.
			</p>
			
			<h2>Annual Subscription 120 euro's</h2>
			
			<div class="company-details">
				<form [formGroup]="accoundDetailsForm">
					<table>
						<tr>
							<td class="label">Company Name</td>
							<td><input type="text" formControlName="companyName"></td>
						</tr>
						<tr>
							<td class="label">Company Address</td>
							<td><textarea formControlName="companyAddress"></textarea></td>
						</tr>
						<tr>
							<td class="label">Company Country</td>
							<td><input type="text" formControlName="companyCountry"></td>
						</tr>
						<tr>
							<td class="label">Company Tax Number</td>
							<td><input type="text" formControlName="companyVatNumber"></td>
						</tr>
						<tr>
							<td class="label">Company Registration Number</td>
							<td><input type="text" formControlName="companyRegistrationNumber"></td>
						</tr>
						<tr>
							<td class="label"></td>
							<td>
								<button class="btn btn-secondary btnRight btnSubscribe" (click)="confirmSwitchToYearlySubscription()">Confirm Subscription</button>
							</td>
						</tr>
					</table>
				</form>
			</div>
		-->
		</div>
		
		<div *ngIf="hasUnpaidSubscription()" class="no-sub-warn">
			<h2><b>Warning:</b> There is an outstanding invoice. Access to the system is temporarily suspended until the invoice has been paid. </h2>
		</div>
		
		<div  *ngIf="hasActiveSubscription() && !isBuyingSubscription">
			
			<h2>Your subscriptions</h2>
			
			<table class="table">
				<thead>
					<tr>
						<th class="bg-tab-hdr">Subscription Id</th>
						<th class="bg-tab-hdr">Type</th>
						<th class="bg-tab-hdr">Created</th>
						<th class="bg-tab-hdr">Activated / Activates</th>
						<th class="bg-tab-hdr">Status</th>
						<th class="bg-tab-hdr"></th>
					</tr>
				</thead>
				<tr *ngFor="let subscription of getOrderedRecruiterSubscriptions()">
					<td class="subscription-tab-col">{{subscription.subscriptionId}}</td>
					<td class="subscription-tab-col">{{subscription.type}}</td>
					<td class="subscription-tab-col">{{subscription.created | date:'yyyy-MM-dd'}}</td>
					<td class="subscription-tab-col">{{subscription.activatedDate | date:'yyyy-MM-dd'}}</td>
					<td class="subscription-tab-col">{{subscription.status}}</td>
						
					<td class="subscription-tab-col subscription-table-btn" *ngIf="subscription.type === 'YEAR_SUBSCRIPTION' && subscription.status != 'SUBSCRIPTION_ENDED'">
							<button class="btn btn-secondary  alter-subscription-btn" 			*ngIf="!hasUnpaidSubscription() && !showCancelSubscriptionConfirmButtons" (click)="cancelSubscription()">Cancel Subscription</button>
							<button class="btn btn-secondary  alter-subscription-btn-confirm" 	*ngIf="!hasUnpaidSubscription() && showCancelSubscriptionConfirmButtons"  (click)="confirmCancelSubscription(subscription)">Confirm</button>
							<button class="btn btn-secondary  alter-subscription-btn-cancel" 	*ngIf="!hasUnpaidSubscription() && showCancelSubscriptionConfirmButtons"  (click)="cancelCancelSubscription()">Cancel</button>
					</td>
					
					<td class="subscription-tab-col subscription-table-btn" *ngIf="subscription.type != 'YEAR_SUBSCRIPTION' || (subscription.type === 'YEAR_SUBSCRIPTION' && subscription.status === 'SUBSCRIPTION_ENDED')">
						<span style="width:200px">&nbsp;</span>
					</td>
					
				</tr>
			</table>
			
		</div>
		
</div>

<div *ngIf="hasActiveSubscription()" class="rec-account-footer"></div>