.table-left-hdr {
	font-weight: bold;
	background: #6c757d;
	color:white;
	max-width:100px;
}

.table-cell{
	background:#E8E8E8;
}

.center {
  margin: auto;
  width: 95%;
  padding: 5%;
}

.container-div{
	margin:20px;
}

.tabNav{
	cursor:pointer;
}

.container-div-high{
	margin-top:30px;
}

.bg-tab-hdr{
	border:1px black solid;
	background: #6c757d;
    color: #ffffff;
    font-size: x-small;
    white-space:nowrap;
    padding:5px;
    margin:5px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    min-width:50px;
}

.alter-subscription-btn{
	min-width:200px;
}

.alter-subscription-btn-confirm{
	background:red; 
	min-width:200px; 
	margin-bottom:5px;
	margin-left:5px;
}

.alter-subscription-btn-cancel{
	background:green; 
	min-width:200px; 
	margin-bottom:5px;
	margin-left:5px;
}

.subscription-tab-col{
    border:1px black solid;
    background-color: #ffffff;
    font-size: x-small;
    text-align: center;
    padding: 5px;
}

.subscriptions-options-div{
	margin-top:50px;
	margin-bottom:20px;
}

.subscription-table-btn{
	text-align:center;
}

.btn-subscription{
 	margin-top:20px;
	margin-right:10px;
    min-width:100px;
}

.no-sub-warn{
	color:red;
	text-align:center;
	margin-top:20px;
	margin-bottom:50px;
}

.action-buttons{
	text-align:right;
	margin-right:40px;
	margin-bottom:20px;
	margin-top:20px;
}

.action-buttons button{
	width:150px;
}

#account-details-input label{
	width:50%;
}

#account-details-input input[type="text"]{
	width:50%;
}