.mini-details-panel-top{
	width:100%;
	margin:10px;
}

.mini-details-panel-top h1{
	text-align:center;
}

.candidate-overview-panel{
	float:left; 
	width:100%; 
	min-width:100%; 
	max-width:100%; 
}

.left-box{
	width:100%;
	margin:10px;
}

.profile-photo-details{
	width:100%;
}

.action-buttons{
	background:#002549;
    width:100%;
    height:75px;
    float:none;	
}

.arenella-buttons-inline{
	padding:10px;
	padding-right:20px;
}

.candidate-mini-profile-panel{
	left:50px;
	margin:20px;
	width:60%;
	border:3px solid black;
	z-index:1000;
	position:fixed;
	top:20%;
	margin-left:0%;
	background:white;
	height:555px;
}

.candidate-mini-profile-panel-body{
	overflow-y:scroll;
	height:475px;
	padding:10px;
}


	
	