@media ( max-width :700px) {
	
	.candidate-mini-profile-panel{
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		margin:0px;
	}
	
	.mini-profile-intro-panel{
		float:left;
		width:100%;
	}
	
	.mini-profile-job-title{
		width:100%;
		text-align:center;
	}
	
	.mini-profile-infobox{
		float:none;
	}
	
}
