.left-menu{
	/*float:left;*/
	margin:10px;
	padding:10px;
	margin-bottom:0px;
	font-size:14px;
}

.sugg-srch-hdr{
	width:120px;
	font-weight:bold;
}

.sugg-srch-bdy{
	margin-top:10px;
}

.sugg-srch-job-title{
	width:50%;
	font-weight:bold;
}

.sugg-srch-ctry-ul{
	margin:0;
	padding:0;
	margin-top:10px;
}

.sugg-srch-ctry-chkbox{
	display:inline;
	margin:0;
	padding:0;
}

.suggestion-results{
	float:left;
	padding:10px;
}

.left-menu h3, h5{
	margin-top:10px;
	text-align:center;
}

.filter-options-group{
	float:left;
	margin-bottom:10px;

}

.filter-options-group-contents{
	float:left;
	margin-right:10px;
	
}

.filter-options-group-contents b {
	float:left;
	margin-right:10px;
	width:100px;
}

.filter-options-group ul{
	list-style-type: none;
	text-align:left;
	padding:0px;
	margin:0px;
}

.filter-options-group ul li{
	display: inline
}

.country-selected-true{
	opacity:1;
}

.country-selected-false{
	opacity:0.25;
}

.flag-icon-med{
	width:30px;
	height:30px;
	margin:10px;	
	margin-top:0px;
	margin-left:0px;
	cursor:pointer;
}

.suggestions-search-div{
	margin-top:20px;
}

.suggestions-search-div input{
	width:80%;	
}

.btn-action{
	margin-left:10px;
    min-width:100px;
    margin-top:5px;
}

.suggestion-search-bar{
	height:25px;
	padding:5px;
	padding-left:10px;
}

.selected-skill{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
.selected-skill:hover{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:red;
 	cursor:pointer;
 	display:inline-block;
 }
 
 .skill-filters{
 	min-height:40px;
 }
 
 .min-max{
 	width:60px;
 	margin-left:10px;
 	margin-right:10px;
 }
 
 .lang-checkbox{
	 margin-right:5px;
	 margin-left:5px;
	 margin-top:5px;
 }

.add-skill-btn{
	width:50px;
	margin-top:5px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
} 

.search-label{
	font-weight:bold;
	font-size:20px;
	margin-right:10px;
}

.suggestion-icon{
	float:left;
	background:#E8E8E8;
	margin:10px;
	width:140px;
	height:120px;
	cursor:pointer;
}

.suggestion-icon-body{
	text-align:center;
	margin-top:10px;
	font-size:12px;
}

.suggestion-icon-header{
	background:#6c757d;
	margin:0px;
	font-weight:bold;
	font-size:16px;
	width:100%;
	padding:5px;
	color:white;
}

.suggestion-summary-infobox{
	background:#E8E8E8;
	margin:10px;
	margin-top:0px;
	margin-bottom:0px;
}

.suggestion-summary-infobox-header{
	margin:0px;
	width:100%;
	padding:5px;
	color:#6A5ACD;
	font-weight:bold;
}

.suggestion-summary-infobox-body{
	text-align:center;
	margin-top:0px;
	padding:5px;
	color:black;
	float:left;
}

.language-level{
	margin-left:10px;
}

.skill-level{
	margin-left:10px;
	margin-right:10px;
}

.suggestion-flag-country{
	height:20px;
	width:50px;
	padding-left:0px;
	margin-left:0px;
	background-position:0%;
}

.suggestion-location{
	margin-top:20px;
}

.suggestion-title{
	background:#E8E8E8;
	width:100%;
	font-size:24px;
	padding:5px;
}

.skill-match{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:green;
 	display:inline-block;	
}

.skill-no-match{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
}

.suggestion-perception-perfect{
	background:green;
	width:100%;	
	height:10px;
}

.suggestion-perception-excellent{
	background:green;
	width:90%;
	height:10px;
}

.suggestion-perception-good{
	background:green;
	width:75%;
	height:10px;
}

.suggestion-perception-average{
	background:orange;
	width:60%;
	height:10px;
}

.suggestion-perception-poor{
	background:red;
	width:25%;
	height:10px;
}

.candidate-suggestion-table > .table th, .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}


.candidate-suggestion-table-hdr {
	font-weight:bold;
}

.suggestion-role-header{
	margin-bottom:10px;
}

.available-check-icon{
	color:green;
	font-weight:bold;
	font-size:16px;
}

.lang-proficient-check-icon{
	color:green;
	font-weight:bold;
	font-size:16px;
}

.lang-basic-check-icon{
	color:orange;
	font-weight:bold;
	font-size:16px;
}