.left-menu{
	float:left;
	margin:20px;
	background:#E8E8E8;
	min-height:70vh;
	min-width:300px;
	border:5px solid #6c757d;
	border-radius:25px;
	padding:10px;
}

.suggestion-results{
	float:left;
	min-height:70vh;
	padding:10px;
	margin-top:20px;
}

.left-menu h3, h5{
	margin-top:10px;
	text-align:center;
}

.filter-options-group{
	text-align:center;
	margin-bottom:20px;
}

.country-selected-true{
	opacity:1;
}

.country-selected-false{
	opacity:0.25;
}

.flag-icon-med{
	width:30px;
	height:30px;
	margin:10px;	
	cursor:pointer;
}

.suggestions-search-div{
	margin-top:20px;
	text-align:right;
}

.suggestions-search-div input{
	width:80%;
	
}

.btn-action{
	margin-left:10px;
    min-width:100px;
}

.suggestion-search-bar{
	height:50px;
	padding:5px;
	padding-left:10px;
}

.selected-skill{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
.selected-skill:hover{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:red;
 	cursor:pointer;
 	display:inline-block;
 }
 
.skills-filter-options-group{
	max-width:250px;
 }
 
 .skill-filters{
 	margin-top:10px;
 }
 
 .min-max{
 	width:60px;
 }
 
 .lang-checkbox{
	 margin-right:2px;
 }

.add-skill-btn{
	width:50px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
} 

.search-label{
	font-weight:bold;
	font-size:20px;
	margin-right:10px;
}

.suggestion-icon{
	float:left;
	background:#E8E8E8;
	margin:10px;
	width:200px;
	height:150px;
	cursor:pointer;
}

.suggestion-icon-body{
	text-align:center;
	margin-top:20px;
	font-size:14px;
}

.suggestion-icon-header{
	background:#6c757d;
	margin:0px;
	font-weight:bold;
	font-size:16px;
	width:100%;
	padding:5px;
	color:white;
}

.suggestion-summary-infobox{
	background:#E8E8E8;
	margin:10px;
	width:250px;
}

.suggestion-summary-infobox-header{
	margin:0px;
	width:100%;
	padding:5px;
	color:#6A5ACD;
	font-weight:bold;
}

.suggestion-summary-infobox-body{
	text-align:center;
	margin-top:10px;
	padding:5px;
}



.suggestion-flag-country{
	height:20px;
	width:50px;
	padding-left:0px;
	margin-left:0px;
	background-position:0%;
}

.suggestion-location{
	margin-top:20px;
}

.suggestion-title{
	background:#E8E8E8;
	width:100%;
	font-size:24px;
	padding:5px;
}

.skill-match{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:green;
 	display:inline-block;	
}

.skill-no-match{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
}

.suggestion-perception-perfect{
	background:green;
	width:100%;	
	height:10px;
}

.suggestion-perception-excellent{
	background:green;
	width:90%;
	height:10px;
}

.suggestion-perception-good{
	background:green;
	width:75%;
	height:10px;
}

.suggestion-perception-average{
	background:orange;
	width:60%;
	height:10px;
}

.suggestion-perception-poor{
	background:red;
	width:25%;
	height:10px;
}

.candidate-suggestion-table-hdr {
	font-weight:bold;
}

.suggestion-role-header{
	margin-bottom:20px;
}

.available-check-icon{
	color:green;
	font-weight:bold;
	font-size:16px;
}

.lang-proficient-check-icon{
	color:green;
	font-weight:bold;
	font-size:16px;
}

.lang-basic-check-icon{
	color:orange;
	font-weight:bold;
	font-size:16px;
}