.suggestion-perception-excellent{
	background:green;
	width:90%;
	height:10px;
}
.suggestion-perception-good{
	background:green;
	width:75%;
	height:10px;
}
.suggestion-perception-average{
	background:orange;
	width:60%;
	height:10px;
}
.suggestion-perception-poor{
	background:red;
	width:25%;
	height:10px;
}

.suggestion-perception-result-perfect{
	background:green;
	width:100%;	
	height:8px;
	border-bottom: 1px solid black;
}

.suggestion-perception-result-perfect{
	background:green;
	width:100%;	
	height:8px;
	border-bottom: 1px solid black;
}

.suggestion-perception-result-excellent{
	background:green;
	width:90%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.suggestion-perception-result-good{
	background:green;
	width:75%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.suggestion-perception-result-average{
	background:orange;
	width:60%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.suggestion-perception-result-poor{
	background:red;
	width:25%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.info-text{
	color:blue;
	font-style:italic;
}

.saved-candidate-icon-header{
	background:#6A5ACD;
	margin:0px;
	font-weight:bold;
	font-size:16px;
	width:100%;
	padding:5px;
	color:white;
	padding-left:20px;
}

.notes-textarea{
	width:95%;
	overflow: auto;
	min-height:130px;
}

.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;
}

.sugg-srch-job-title-name{
	margin-right:20px;
	min-width:500px;
}

textarea {
    width:100%;
    height:200px;
}

.publicity-suggestions{
	text-align:left;
	font-size:16px;
	overflow: auto;
}

.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;
}

.button-panel-mobile{
	padding-left:10px;
	padding-right:10px;	
}

.sugg-srch-job-title{
	min-width:1000px;
}

.sugg-srch-job-title-name{
	margin-right:20px;
	min-width:500px;
}

.search-name-default{
	font-style:italic;
	color:#6c757d;
	font-weight:bold;
}


.mobile-search-box{
	margin-left:1%;
	margin-right:1%;
	width:98%;
}

.suggestion-result-icons{
	margin-top:5px;
	margin-left:40px;
}

.hide-for-mobile{
	display:inline;
}

.geo-zone-filters{
	padding:5px;
	margin-top:5px;
}

.geo-code-filter{
	float:left;
	border-radius: 0.25rem;
	margin:5px;
	background:#6a5acd;
	color:white;
	padding:5px;
	width:300px;	
	cursor:pointer;
	text-align:center;
}

.geo-code-selected-true{
	opacity:1;
}

.geo-code-selected-false{
	opacity:0.25;
}

.toggle-filter-option{
	margin:0px;
	cursor:pointer;
	color:#6a5acd;	
}

@media (max-width:700px)  {
	.suggestion-result-icons{
		margin-top:5px;
		margin-left:0px;
	}	
	.geo-code-filter{
		width:100%;	
	}
}

.suggestion-result-footer{
	height:20px;
	width:300px;
}

.country-selections{
	width:55%;
}

.candidate-available-false{
	opacity: 0.5;
}

.filter-type-opt{
	cursor:pointer;
}

.loc-table tr td{
	padding-right:10px;
}

.hideChild{
	visibility:collapse;
	height:0px;
}

.showChild{
	visibility:visible;
}

@media (max-width:700px)  {

	 .suggestion-icon{
	 	width:48%;
		margin-right:2%;
		margin-bottom:2%;
	 }

	 .country-selections{
		width:100%;
	 }
	 	 
	 .sugg-srch-job-title{
		min-width:0px;
	}
	
	.sugg-srch-job-title-name{
		margin-right:20px;
		min-width:0px;
	}
	
	.desc-body{
		min-width:100%;
		padding-right:0px;
		padding-left:0px;
	}
	
}
