<div class="page">

	<!-- Nav options -->
	<div class="nav-tabs-bar" ></div>
		
	<div class="page-body">	
		
		<!-- Action buttons -->
		<div *ngIf="currentView === 'suggestion-results'" class="action-buttons">
		    <button class="btn btn-secondary arenella-btn" (click)="showSavedCandidates()" download>{{'arenella-suggestions-btn-my-candidates' | translate}}</button>
	        <button class="btn btn-secondary arenella-btn" (click)="openPublicityDialog()" *ngIf="currentUserAuth.isAdmin()" download>{{'arenella-suggestions-btn-copy' | translate}}</button>
	        <button class="btn btn-secondary arenella-btn" (click)="showFilterByJobSpecDialog(specUploadBox)" download>{{'arenella-suggestions-btn-filter-by-spec' | translate}}</button>
	        <button class="btn btn-secondary arenella-btn" (click)="doReset()">{{'arenella-suggestions-btn-reset' | translate}}</button>
	     </div>
		 
		 <div class="arenella-whole-width-page"  *ngIf="currentView != 'saved-candidates' && currentView != 'suggested-canidate-overview'">
		 
		 </div>
		
		 <div class="{{searchBarCss}}" *ngIf="currentView != 'saved-candidates'">
		 	<app-searchbar #searchbar (newSuggestionResults)="handleNewSearchRequest($event)" ></app-searchbar>
		 </div>
		 
		<div *ngIf="currentView === 'saved-candidates'">
			<app-saved-candidates [savedCandidates]="savedCandidates" (switchViewEvent)="showSuggestionsResults()" [infoItemConfig]="infoItemConfig" [skillFilters]="skillFilters"></app-saved-candidates>
		</div>
	

		<!-- Suggestion Results -->
		<div *ngIf="currentView === 'suggestion-results'">
		
			<div class="suggestion-result-icons">
			
				<div class="suggestion-icon {{suggestionMobileClass}} {{getUnvailableCssClass(suggestion)}}" *ngFor="let suggestion of this.suggestions" (click)="showSuggestedCandidateOverview(suggestion)">
					<div>
						
						<div *ngIf="!isSavedCandidate(suggestion)" class="suggestion-icon-header">	
						<span class=" flag-icon {{infoPaneUtil.getFlagClassFromCountry(suggestion.country)}} suggestion-results-flag-country"></span> <span class="candidate-id"> C{{suggestion.candidateId}}</span>
						</div>
						<div *ngIf="isSavedCandidate(suggestion)" class="suggestion-icon-header suggestion-icon-header-saved">	
						<span class=" flag-icon {{infoPaneUtil.getFlagClassFromCountry(suggestion.country)}} suggestion-results-flag-country"></span> <span class="candidate-id"> C{{suggestion.candidateId}}</span>
						</div>
					</div>
					<div title="Accuracy Skills" class="suggestion-perception-result-{{suggestion.accuracySkills}}"></div>
					<div title="Accuracy Languages" class="suggestion-perception-result-{{suggestion.accuracyLanguages}}"></div>
					<div class="suggestion-icon-body">
						<div>
							{{suggestion.firstname}} {{suggestion.surname}}
						</div>
						<div>
							{{suggestion.roleSought}}
						</div>
					</div>
				</div>
				
			</div>
			<div class="suggestion-result-footer">&nbsp;</div>
		</div>

		<!-- Suggestion Profile -->
		<div *ngIf="currentView === 'suggested-canidate-overview'">
			<app-candidate-profile (backEvent)="showSuggestionsResults()" [parentComponent]="parentComponent" [isViewOnly]="isViewOnly()" [infoItemConfig]="infoItemConfig" [suggestedCandidate]="suggestedCandidate" [candidateProfile]="candidateProfile" [skillFilters]="skillFilters"></app-candidate-profile>
		</div>
	</div>
</div>

<dialog #specUploadBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-suggestions-box-spec-hdr' | translate}}</h4>
 		<div class="filter-close-box" (click)="specUploadBox.close()">X</div>
	</div>
	<div class="specUploadBox;">
		<div class="modal-body" *ngIf="showFilterByJobSpec && jobSpecUploadView == 'chooseType'">
			<p>{{'arenella-suggestions-box-spec-intro' | translate}}</p>
			<div class="job-spec-options">
			<div class="job-spec-upld-opt" (click)="switchJobSpecUpldOpt('doc')">{{'arenella-suggestions-box-spec-file' | translate}}</div>
			<div class="job-spec-upld-opt" (click)="switchJobSpecUpldOpt('text')">{{'arenella-suggestions-box-spec-text' | translate}}</div>
			</div>
		</div>
		<div class="modal-body" *ngIf="showFilterByJobSpec && jobSpecUploadView == 'doc'">
			<input type="file" (change)="setJobSepecFile($event)">
			<br><br>
				<button class="btn btn-secondary" (click)="extractFiltersFromJobSpec()">{{'arenella-suggestions-box-spec-extraction' | translate}}</button>
			<br><br>
			<p>{{'arenella-suggestions-box-spec-file-types' | translate}}</p>
			<br><br>
		</div>
		<div class="modal-body" *ngIf="showFilterByJobSpec && jobSpecUploadView == 'text'">
			<form [formGroup]="filterByJobSpecForm">
				<textarea formControlName="specAsText" (click)="clearSpecAsText()">
					
				</textarea>
				<br><br>
					<button class="btn btn-secondary" (click)="extractFiltersFromJobSpecText()">{{'arenella-suggestions-box-spec-extraction' | translate}}</button>
				<br><br>
				<br><br>
			</form>
		</div>
		<div class="modal-body" *ngIf="showFilterByJonSpecFailure">
			<p>{{'arenella-suggestions-box-spec-msg-failure' | translate}}</p>
		</div>
	</div>
</dialog> 

<!-- publicity -->
<dialog class="publicity-dialog" #publicityModal>

	<!--  Options -->
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-suggestions-box-publicity-hdr' | translate}}</h4>
		<div class="filter-close-box" (click)="publicityModal.close()">X</div>
	</div>
	<div class="modal-body publicity-suggestions">
		
		 <div class='suggestions-dialog-publicity-btns'>
		 	<button class="btn btn-secondary arenella-btn" (click)="showPublicityBasic()">Basic</button>
		 	<button class="btn btn-secondary arenella-btn not-available-mobile" (click)="showPublicityAdvanced()">Advanced</button>
		 </div>
		 
		 <div *ngIf="publicityView != 'advanced'" styele="width:100%;">
		 	<div style="margin: 0 auto; min-width:50%;max-width:600px;">
		 		<div *ngFor="let c of publicitySuggestions" >
				{{getCountryCode(c.country)}} - {{'arenella-suggestions-box-publicity-exp' | translate}}: {{c.yearsExperience}}  {{'arenella-suggestions-box-publicity-years' | translate}} -  {{c.roleSought}}
			</div>
			</div>
		 </div>
		 
		<div *ngIf="publicityView == 'advanced'">
			<h4>Applied filters</h4>
			<table class="sugg-pub-advanced-table-filters">
				<tr>
					<th>Role</th>
					<td>{{this.searchBar.extractedFilters.jobTitle}}</td>	
					<th>{{'arenella-suggestions-contract' | translate}}</th>
					<td>
						<span *ngIf="this.searchBar.extractedFilters.freelance == 'TRUE'" 	class="function-selectable function-selected-true">{{'arenella-suggestions-contract' | translate}}</span>
						<span *ngIf="this.searchBar.extractedFilters.perm 		== 'TRUE'" 	class="function-selectable function-selected-true">{{'arenella-suggestions-permanent' | translate}}</span>
						<span *ngIf="this.searchBar.extractedFilters.perm == 'FALSE' && this.searchBar.extractedFilters.freelance == 'FALSE'" style="text-align:center;">-</span>
					</td>	
					<th>{{'arenella-suggestions-experience' | translate}}</th>
					<td>
						<span *ngIf="this.searchBar.extractedFilters.experienceGTE == '' && this.searchBar.extractedFilters.experienceLTE != '' ">  &lt;= {{this.searchBar.extractedFilters.experienceLTE}}</span>
						<span *ngIf="this.searchBar.extractedFilters.experienceGTE != '' && this.searchBar.extractedFilters.experienceLTE == '' ">  &gt;= {{this.searchBar.extractedFilters.experienceGTE}}</span>
						<span *ngIf="this.searchBar.extractedFilters.experienceGTE != '' && this.searchBar.extractedFilters.experienceLTE != '' "> {{this.searchBar.extractedFilters.experienceGTE}} - {{this.searchBar.extractedFilters.experienceLTE}}</span>
					</td>	
				</tr>
				<tr>
					<th>{{'arenella-suggestions-location-country' | translate}}</th>
					<td *ngIf="this.searchBar.extractedFilters.city != ''">
						<mat-icon >
							<span class="flag-icon flag-icon-{{this.searchBar.getIso2CodeByCountryName(this.searchBar.extractedFilters.countries[0])}} flag-icon-med"></span>
						</mat-icon>
					</td>
					
					
					<th *ngIf="this.searchBar.extractedFilters.city != ''">City</th>
					<td *ngIf="this.searchBar.extractedFilters.city != ''">{{this.searchBar.extractedFilters.city}}</td>	
					<th *ngIf="this.searchBar.extractedFilters.city != ''"></th>
					<td *ngIf="this.searchBar.extractedFilters.city != ''"></td>
					
					<td *ngIf="this.searchBar.extractedFilters.city == ''"  colspan="6">
						<mat-icon *ngFor="let country of this.searchBar.extractedFilters.countries.slice(0,5)" title="country" style="margin-right:10px">
							<span class="flag-icon flag-icon-{{this.searchBar.getIso2CodeByCountryName(country)}} flag-icon-med" ></span>
						</mat-icon>
						<span *ngIf="this.searchBar.extractedFilters.countries.length >= 6 " style="font-weight:bold">+ {{this.searchBar.extractedFilters.countries.length - 6}}</span>
					</td>	
				</tr>
				
				<tr>
					<th>{{'arenella-suggestions-language' | translate}}</th>
					<td>
						<span *ngFor="let language of this.searchBar.extractedFilters.languages.slice(0,8)" class="function-selectable function-selected-true">{{language | translate}}</span>
						<span *ngIf="this.searchBar.extractedFilters.languages.length >= 8 " style="font-weight:bold">....</span>
					</td>	
				</tr>
				<tr>
					<th>{{'arenella-suggestions-skills' | translate}}</th>
					<td>
						<span *ngFor="let skill of this.searchBar.extractedFilters.skills.slice(0,3) " class="function-selectable function-selected-true">{{skill}}</span>
						<span class="extra-option-count" *ngIf="this.searchBar.extractedFilters.skills.length >= 4 " style="font-weight:bold">+ {{this.searchBar.extractedFilters.skills.length - 4}}</span>
					</td>
					
						
				</tr>
			</table> 
			<h4>Best matches</h4>
			<table class="sugg-pub-advanced-table">
				<tr>
					<th>id</th>
					<th>Name</th>
					<th>Role</th>
					<th>Years Experience</th>
					<th>Accuracy skills</th>
					<th>Accuracy language</th>
				</tr>
				<tr *ngFor="let c of publicitySuggestions">
					<td>{{c.candidateId}}</td>
					<td>{{c.firstname}}</td>
					<td>{{c.roleSought}}</td>
					<td>{{c.yearsExperience}}</td>
					<td style="border-bottom:1px solid black">
						<div class="suggestion-perception-result-publicity suggestion-perception-result-{{c.accuracySkills}}"></div>
					</td>
					<td style="border-bottom:1px solid black">
						<div class="suggestion-perception-result-publicity suggestion-perception-result-{{c.accuracyLanguages}}"></div>
					</td>
				</tr>
			</table>
		 </div>
		 
	</div> 
</dialog>
<!-- Paid subscription only -->
<dialog #paidSubscriptionModal>
	<!--  Options -->
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-suggestions-paid-subscription-option' | translate}}</h4>
		<div class="filter-close-box" (click)="paidSubscriptionModal.close()">X</div>
	</div>
	<div class="modal-body">
		<p>{{'arenella-suggestions-paid-subscription-text-1' | translate}}</p>
		<p *ngIf="paidFeature == 'paidFeatureUnavailableCandidates'">{{'arenella-suggestions-paid-subscription-text-3' | translate}}</p>
		<p *ngIf="paidFeature == 'paidFeatureUnavailableCandidates'">{{'arenella-suggestions-paid-subscription-text-4' | translate}} : {{candidateTotals.unavailable}}</p>
		<p *ngIf="paidFeature == 'paidFeatureGeoZones'">{{'arenella-suggestions-paid-subscription-text-2-geozone' | translate}}</p>
		<p>{{'arenella-suggestions-paid-subscription-text-2' | translate}}</p>
		<button class="btn btn-secondary" (click)="choseSubscription()" download>{{'arenella-suggestions-paid-subscription-choose-subscription-btn' | translate}}</button>
	</div> 
</dialog>
