<div class=".container m-2">

	<form [formGroup]="suggestionFilterForm">

		<!-- Search Bar -->
		<div class="suggestions-search-div">
			<label class="search-label">Search:</label><input type="text" value="Java Developer" class="suggestion-search-bar" formControlName="searchPhrase">
		</div>
		
		<!-- Filter Options -->
		<div class="left-menu">
			
			<h5>Filter Options</h5>
				<div class="filter-options-group">
					<span class="country-selected-{{includeResultsForCountry('nl')}}" (click)="toggleCountrySelection('nl')">
						<span class="flag-icon flag-icon-nl flag-icon-med"></span>
					</span>
					<span class="country-selected-{{includeResultsForCountry('be')}}" (click)="toggleCountrySelection('be')">
						<span class="flag-icon flag-icon-be flag-icon-med"></span>
					</span>
					<span class="country-selected-{{includeResultsForCountry('uk')}}" (click)="toggleCountrySelection('uk')">
						<span class="flag-icon flag-icon-gb flag-icon-med"></span>
					</span>
				</div>
				<div class="filter-options-group">
					<h5>Contract type</h5>
					<select formControlName="contractType">
						<option value="BOTH">Both</option>
						<option value="CONTRACT">Contract</option>
						<option value="PERM">Permanent</option>
					</select>
				</div>
				<div class="filter-options-group">
					<h5>Languages</h5>
					<div  style="text-align:center;width:100%">
						<div style="text-align:left;padding-left:100px;">
							<input type="checkbox" formControlName="dutchLanguage" class="lang-checkbox">Dutch
						</div>
						<div style="text-align:left;padding-left:100px;">
							<input type="checkbox" formControlName="frenchLanguage" class="lang-checkbox">French
						</div>
						<div style="text-align:left;padding-left:100px">
							<input type="checkbox" formControlName="englishLanguage" class="lang-checkbox">English
						</div>
					</div>
				
				</div>
				<div class="filter-options-group">
					<h5>Years experience</h5>
					<div>
						Min:
						<select class="min-max" formControlName="minYearsExperience">
							<option *ngFor="let opt of minMaxOptions" value="opt">{{opt}}</option>
						</select>
						Max:
						<select class="min-max" formControlName="maxYearsExperience">
							<option *ngFor="let opt of minMaxOptions" value="opt">{{opt}}</option>
						</select>
					</div>
				</div>
			
				<div class="filter-options-group skills-filter-options-group">
					<h5>Skills</h5>
					<div>
						<input type="text" formControlName="skill"><button (click)="addSkill()" class="btn btn-secondary add-skill-btn">Add</button>
					</div>
					<div class="skill-filters">
						<div class="selected-skill" style="float:left" *ngFor="let skill of skillFilters">{{skill}}</div>
					</div>
				</div>
			
		</div>

	</form>

	<!-- Suggestion Results -->
	<div *ngIf="true" class="suggestion-results" style="max-width:75%;">
	
	
		<div class="suggestion-icon" *ngFor="let suggestion of suggestions">
			{{suggestion.roleSought}}
		</div>
	</div>
	
	<!-- Suggestion Profile -->
	<div *ngIf="false" class="suggestion-results">
		Candidate auto profile
		 - Name
		 - CV download
		 - Not available flag
		 - Matched skills listed
		 - Country
		 - Job title
		 - Years experience
		 - Languages spoken
	</div>

</div>