<div class=".containerX m-2X page">

	<!-- Action buttons -->
	<div *ngIf="currentView === 'suggestion-results'" class="button-panel-mobile">
		<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="doReset()">Reset</button>
		<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="openPublicityDialog()" *ngIf="isAuthenticatedAsAdmin()" download>Copy</button>
		<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="showFilterByJobSpecDialog(specUploadBox)" download>Filter by Job Spec</button>
		<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="showCreateAlertDialog()" download>Create Email Alert</button>
		<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" routerLink="/recruiter-alerts" download>Manage Alerts</button>
        <button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="showSavedCandidates()" download>My Candidates</button>
     </div>
	
	<div *ngIf="currentView === 'saved-candidates'" class="suggestion-resultsXX">
		
		<div>
			<button class="btn btn-secondary btnRight main-btns" (click)="showSuggestionsResults()">Back</button>
		</div>
		
		<br>
	 
		<div class="suggestion-result-icons" style="margin-top:50px">
				<div class="suggestion-icon {{suggestionMobileClass}}" *ngFor="let savedCandidate of savedCandidates" (click)="showSuggestedCandidateOverviewSavedCandidate(savedCandidate)">
					<div class="saved-candidate-icon-header" *ngIf="!isNoLongerAvailableSC(savedCandidate)">
						C{{savedCandidate.candidate.candidateId}}
					</div>
					<div class="saved-candidate-icon-header" *ngIf="isNoLongerAvailableSC(savedCandidate)">
						{{savedCandidate.candidate.candidateId}}
					</div>
					<div title="Accuracy Skills" class="suggestion-perception-result-{{savedCandidate.candidate.accuracySkills}}"></div>
					<div title="Accuracy Languages" class="suggestion-perception-result-{{savedCandidate.candidate.accuracyLanguages}}"></div>
					<div class="suggestion-icon-body">
						<div>
							{{savedCandidate.candidate.firstname}} {{savedCandidate.candidate.surname}}
						</div>
						<div>
							{{savedCandidate.candidate.roleSought}}
						</div>
					</div>
					
			</div>
		</div>
		<div style="height:20px;width:300px;">&nbsp;</div>
	</div>
	
	<div>	
		<form [formGroup]="suggestionFilterForm" *ngIf="currentView === 'suggestion-results'">
	
			<div class="left-menu " *ngIf="currentView === 'suggestion-results'">		
				<table class="{{mobileSearchBox}}">
					<tr>
						<td class="sugg-srch-hdr">Job Title</td>
						<td class="sugg-srch-bdy">
							<input type="text" value="Java Developer" class="sugg-srch-job-title {{mobileJobTitleBar}}" formControlName="searchPhrase">
							
						</td>
						
					</tr>
					
					<tr>
						<td class="sugg-srch-hdr">Country</td>
						<td class="sugg-srch-bdy country-filters">
							<span class="country-filter country-selected-{{includeResultsForCountry('nl')}}" (click)="toggleCountrySelection('nl')">
								<span class="flag-icon flag-icon-nl flag-icon-med"></span>
							</span>
							<span class="country-filter country-selected-{{includeResultsForCountry('be')}}" (click)="toggleCountrySelection('be')">
								<span class="flag-icon flag-icon-be flag-icon-med"></span>
							</span>
							<span class="country-filter country-selected-{{includeResultsForCountry('uk')}}" (click)="toggleCountrySelection('uk')">
								<span class="flag-icon flag-icon-gb flag-icon-med"></span>
							</span>
							<span class="country-filter country-selected-{{includeResultsForCountry('ie')}}" (click)="toggleCountrySelection('ie')">
								<span class="flag-icon flag-icon-ie flag-icon-med"></span>
							</span>
						</td>
					</tr>
					
					<tr>
						<td class="sugg-srch-hdr">Contract</td>
						<td class="sugg-srch-bdy">
							<select class="contract-type" formControlName="contractType">
							<option value="BOTH">Both (Includes unknown)</option>
							<option value="CONTRACT">Contract</option>
							<option value="PERM">Permanent</option>
						</select>
						</td>
					</tr>
					<tr>
						<td class="sugg-srch-hdr">Languages</td>
						<td class="sugg-srch-bdy">
							<ul class="sugg-srch-ctry-ul">
								<li class="sugg-srch-ctry-chkbox"><input type="checkbox" formControlName="dutchLanguage" class="lang-checkbox">Dutch</li>
								<li class="sugg-srch-ctry-chkbox"><input type="checkbox" formControlName="frenchLanguage" class="lang-checkbox">French</li>
								<li class="sugg-srch-ctry-chkbox"><input type="checkbox" formControlName="englishLanguage" class="lang-checkbox">English</li>
							</ul>					
						</td>
					</tr>
					
					<tr>
						<td class="sugg-srch-hdr">Years Exp</td>
						<td class="sugg-srch-bdy">
							<div style="margin-top:10px;">
								<select class="min" formControlName="minYearsExperience">
									<option *ngFor="let opt of minMaxOptions" value="{{opt}}">{{opt}}</option>
								</select>
								<span> <B>TO</B> </span>
								<select class="max" formControlName="maxYearsExperience">
									<option *ngFor="let opt of minMaxOptions" value="{{opt}}">{{opt}}</option>
								</select>
							</div>
						</td>
					</tr>
					
					<tr>
						<td class="sugg-srch-hdr">Skills</td>
						<td class="sugg-srch-bdy">
							<form [formGroup]="skilFilterForm">
								<input class="skill-field" type="text" formControlName="skill"><button (click)="addSkill()" class="btnX btn-secondary add-skill-btn">Add</button>
							</form>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<div style="min-height:35px;">
								<div class="selected-skill" *ngFor="let skill of skillFilters" (click)="removeSkill(skill)">{{skill}}</div>
							</div>
						</td>
					</tr>
					
				</table>
			</div>
		</form>
	</div>
	
	<!-- Inline CV -->
	<div *ngIf="currentView === 'inline-cv'">
	
		<div style="text-align:right;margin-right:50px;">
			<button class="btn btn-secondary btn-action" (click)="showSuggestedCandidateOverview(suggestedCandidate)">Back</button>
		</div>
		
		<object id="content"  class="cv-inline" [attr.data]="trustedResourceUrl" width="95%" height="500px">
			
		</object>
	
	</div>
	
	<!-- Suggestion Results -->
	<div *ngIf="currentView === 'suggestion-results'" class="suggestion-resultsXX">
		
		<div class="suggestion-result-icons">
			
			<div class="suggestion-icon {{suggestionMobileClass}}" *ngFor="let suggestion of suggestions" (click)="showSuggestedCandidateOverview(suggestion)">
				<div>
					<div *ngIf="!isSavedCandidate(suggestion)" class="suggestion-icon-header">	
					C{{suggestion.candidateId}}
					</div>
					<div *ngIf="isSavedCandidate(suggestion)" class="suggestion-icon-header suggestion-icon-header-saved">	
					C{{suggestion.candidateId}}
					</div>
				</div>
				<div title="Accuracy Skills" class="suggestion-perception-result-{{suggestion.accuracySkills}}"></div>
				<div title="Accuracy Languages" class="suggestion-perception-result-{{suggestion.accuracyLanguages}}"></div>
				<div class="suggestion-icon-body">
					<div>
						{{suggestion.firstname}} {{suggestion.surname}}
					</div>
					<div>
						{{suggestion.roleSought}}
					</div>
				</div>
				
			</div>
				
		</div>
		<div style="height:20px;width:300px;">&nbsp;</div>
	</div>

	<!-- Suggestion Profile -->
	<div *ngIf="currentView !== 'suggestion-results' && currentView !== 'inline-cv' && currentView !== 'saved-candidates'">
		<div class="suggestion-buttons button-panel-mobile">
			
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="showSuggestionsResults()" 					*ngIf="lastView != 'saved-candidates'  && !isCandidate()">Back</button>
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="showSavedCandidates()" 						*ngIf="lastView === 'saved-candidates'  && !isCandidate()">Back</button>
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" *ngIf="isCandidate() || isAdmin() || isOwner()" (click)="deleteAccount()"> Delete</button>
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" *ngIf="isCandidate() || isAdmin() || isOwner()" (click)="editAccount()"> Edit</button>
        	
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="rememberCandidate(suggestedCandidate)" 		*ngIf="lastView != 'saved-candidates' && !isSavedCandidate(suggestedCandidate) && !isCandidate()" title="Add candidate to your list of saved candidates">Save Candidate</button>
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="rememberCandidate(suggestedCandidate)" 		*ngIf="lastView != 'saved-candidates' && isSavedCandidate(suggestedCandidate) && !isCandidate()" title="Add candidate to your list of saved candidates" disabled>Save Candidate</button>
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="forgetCandidate()" 							*ngIf="lastView === 'saved-candidates'" title="removed candidate from your list of saved candidates">Unsave Candidate</button>
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="showNotesDialog(notesBox,suggestedCandidate)" 	*ngIf="lastView === 'saved-candidates'">Notes</button>
				
			<a class="currliculum-link" (click)="doCreditCheckByCount()" href="{{getCurriculumDownloadUrl(suggestedCandidate.candidateId)}}" *ngIf="passedCreditCheck && (!isCandidate()) && (lastView != 'saved-candidates' || (lastView == 'saved-candidates' && !isNoLongerAvailable()))">
				<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}">Download CV</button>
			</a>
			
			<button class="btn btn-secondary btnRight main-btn {{suggestionMobileBtnClass}}" (click)="handleNoCredit()" *ngIf="!passedCreditCheck && (!isCandidate()) && (lastView != 'saved-candidates' || (lastView == 'saved-candidates' && !isNoLongerAvailable()))">Download CV</button>
			
			<button class="btn btn-secondary btnRight main-btn" (click)="showInlineCVView()" 							*ngIf="!isMobile && (lastView != 'saved-candidates' || (lastView == 'saved-candidates' && !isNoLongerAvailable())) && !isCandidate()">Display CV</button>
			
			
		</div>
	</div>
	
	<div *ngIf="currentView === 'suggested-canidate-overview'" class="suggestion-resultsXX">
	
		<!-- Left Pane -->
		<app-candidate-info-box [config]="infoItemConfig" (openContactBoxEvent)="contactCandidate(contactBox)"></app-candidate-info-box>
			
		<!-- div class="details-right" -->
		<div class="desc-body details-right {{mobileDescBody}}">
			<div style="width:100%">
				<h1>{{suggestedCandidate.roleSought}}</h1>
			</div>
			
			<div *ngIf="candidateProfile.introduction && candidateProfile.introduction.length != 0" style="margin-top:50px;margin-bottom:50px;">
				<div>
					<h1 style="background:#e8e8e8">Candidate Introduction</h1>
				</div>
				<div style="width:100%;">
					<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{candidateProfile.introduction}}</pre>
				</div>
			</div>		
			<div *ngIf="!candidateProfile.introduction || candidateProfile.introduction.length == 0" style="margin-top:50px;margin-bottom:50px;">
				<div>
					<h1 style="background:#e8e8e8">Candidate Introduction</h1>
				</div>
				<div style="width:100%;">
					<div style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">
					I would like to introduce myself. My name is {{this.suggestedCandidate.firstname}} 
					and I have {{this.suggestedCandidate.yearsExperience}} years experience. I am currently looking for a new role.
					
					I am based in {{this.suggestedCandidate.country | enumToHumanReadableValue}} 
					</div>
				</div>
			</div>		
			
			<div>
				<table class="table candidate-suggestion-table">
					<tr>
						<td class="candidate-suggestion-table-hdr">Candidate Number</td>
						<td>{{suggestedCandidate.candidateId}}</td>
					</tr>
					<tr>
						<td class="candidate-suggestion-table-hdr">Name</td>
						<td>{{suggestedCandidate.firstname}} {{suggestedCandidate.surname}}</td>
					</tr>
					<tr *ngIf="!isCandidate()">
						<td class="candidate-suggestion-table-hdr">Skill Accuracy</td>
						<td>
							<div class="suggestion-perception-{{suggestedCandidate.accuracySkills}}"></div>
						</td>
					</tr>
					<tr *ngIf="!isCandidate()">
						<td class="candidate-suggestion-table-hdr">Language Accuracy</td>
						<td>
							<div class="suggestion-perception-{{suggestedCandidate.accuracyLanguages}}"></div>
						</td>
					</tr>
					<tr *ngIf="!isCandidate()">
						<td class="candidate-suggestion-table-hdr">Matching Skills</td>
						<td>
							<div style="float:center" *ngFor="let skill of skillsFiltersMatch()" class="{{hasRequiredSkill(skill)}}">
								{{skill}}
							</div>
						</td>
					</tr>
					<tr *ngIf="!isCandidate()">
						<td class="candidate-suggestion-table-hdr">Missing Skills</td>
						<td>
							<div style="float:center" *ngFor="let skill of skillsFiltersNoMatch()" class="{{hasRequiredSkill(skill)}}">
								{{skill}}
							</div>
						</td>
					</tr>
				</table>
			</div>
						
		</div>
			
	</div>
</div>

<dialog #specUploadBox>
	<div class="modal-header">
		<h4 class="modal-title">Extract Filters</h4>
 		<div class="filter-close-box" (click)="specUploadBox.close()">X</div>
	</div>
	<div class="specUploadBox;">
		<div class="modal-body" *ngIf="showFilterByJobSpec && jobSpecUploadView == 'chooseType'">
			<p>Please choose how to upload the job specification to filter on</p>
			<div class="job-spec-options">
			<div class="job-spec-upld-opt" (click)="switchJobSpecUpldOpt('doc')">Upload File</div>
			<div class="job-spec-upld-opt" (click)="switchJobSpecUpldOpt('text')">Paste Text</div>
			</div>
		</div>
		<div class="modal-body" *ngIf="showFilterByJobSpec && jobSpecUploadView == 'doc'">
			<input type="file" (change)="setJobSepecFile($event)">
			<br><br>
				<button class="btn btn-secondary" (click)="extractFiltersFromJobSpec()">Perform Extraction</button>
			<br><br>
			<p>File types of .doc, .docx and pdf up to 1MB</p>
			<br><br>
		</div>
		<div class="modal-body" *ngIf="showFilterByJobSpec && jobSpecUploadView == 'text'">
			<form [formGroup]="filterByJobSpecForm">
				<textarea formControlName="specAsText" (click)="clearSpecAsText()">
					
				</textarea>
				<br><br>
					<button class="btn btn-secondary" (click)="extractFiltersFromJobSpecText()">Perform Extraction</button>
				<br><br>
				<br><br>
			</form>
		</div>
		<div class="modal-body" *ngIf="showFilterByJonSpecFailure">
			<p>Unfortunately it was not possible to extract filters from this file.</p>
		</div>
	</div>
</dialog> 

<dialog #feedbackBox >
	<div class="modal-header">
		<h4 class="modal-title">Create Email Alert</h4>
 		<div class="filter-close-box" (click)="feedbackBox.close()">X</div>
	</div>
	<div class="feedbackBox;">
		<form [formGroup]="createAlertForm">
			<div class="modal-body" *ngIf="showSaveAlertBox">
				<p class="info-text">Please add required filters before creating your alert</p>
				Alert Name: <input type="text" formControlName="alertName">
				<br/><br/>
				<button class="btn btn-secondary" (click)="saveAlert()" download>Save</button>
			</div>       
			<div class="modal-body" *ngIf="showSaveAlertBoxSuccess">
				<p>Your Candidate Search Alert was created successfully. You will now receive alerts when matching candidates are uploaded.</p>
				<p>You can manage alerts in the 'Manage Search Alerts' screen.</p>
			</div>
			<div class="modal-body" *ngIf="showSaveAlertBoxFailure">
				<p>Unfortunately it was not possible to create your Candidate Search Alert at this time.</p>
			</div>
		</form>
	</div>
</dialog>

<dialog #notesBox>
	<div class="modal-header">
		<h4 class="modal-title">Notes for Candidate</h4>
 		<div class="filter-close-box" (click)="notesBox.close()">X</div>
	</div>
	<div class="feedbackBox;">
		<form [formGroup]="savedCandidateNotesForm">
			<div class="modal-body" *ngIf="!updatedSavedCandidate">
				<textarea class="notes-textarea" formControlName="notes"></textarea>
				<br/>
				<button class="btn btn-secondary" (click)="updateSavedCandidate()" *ngIf="!isNoLongerAvailable()" download>Save</button>
			</div>
			<div class="modal-body" *ngIf="updatedSavedCandidate">
				<h1>Updated</h1>
			</div>              
		</form>
	</div>
</dialog>

<!-- publicity -->
<dialog #publicityModal>

	<!--  Options -->
	<div class="modal-header">
		<h4 class="modal-title">Publicity</h4>
		<div class="filter-close-box" (click)="publicityModal.close()">X</div>
	</div>
	<div class="modal-body publicity-suggestions">
		<table>
			<div *ngFor="let c of publicitySuggestions">
				{{getCountryCode(c.country) + ' - Exp: ' + c.yearsExperience + ' years - ' + c.roleSought}}
			</div>
		</table>
	</div> 
</dialog>
<!-- Delete -->
<dialog #confirmDeleteModal>

	<!--  Options -->
	<div class="modal-header">
		<h4 class="modal-title">Confirm Delete</h4>
		<div class="filter-close-box" (click)="confirmDeleteModal.close()">X</div>
	</div>
	<div class="modal-body publicity-suggestions">
		<p>This profile will be deleted and it will no longer be possible to access the associated data</p>
		<button class="btn btn-secondary action-btn btn-right" (click)="confirmDeleteProfile()">Confirm</button>
	</div> 
</dialog>
<!-- Candidte contact -->
<dialog #contactBox >
	<div class="modal-header">
		<h4 class="modal-title">Message Candidate</h4>
 		<div class="filter-close-box" (click)="contactBox.close()">X</div>
	</div>
	<div class="modal-body" *ngIf="contactCandidateView === 'message'">
		<form [formGroup]="sendMessageGroup">
			<div style="float:left;margin:0px; margin-bottom:10px;">
				<b>Title:</b><input type="text" style="margin-left:10px;width:300px;" formControlName="title"/>
				<br>
			</div>
			<textarea formControlName="message"></textarea>
			<button class="btn btn-secondary action-btn btn-right" (click)="sendMessageToCandidate()">Send</button>
		</form>	
	</div>
	<div class="modal-body message-send-success" *ngIf="contactCandidateView === 'success'">
			<p>Message Sent Successfully</p>
			<p>You can view a copy of your message and any replies in your inbox</p>
	</div>
	<div class="modal-body" *ngIf="contactCandidateView === 'failure'">
			<p class="message-send-failure">Failed to Send Message</p>
	</div>
</dialog> 
