.suggestion-perception-excellent{
	background:green;
	width:90%;
	height:10px;
}

.suggestion-perception-good{
	background:green;
	width:75%;
	height:10px;
}

.suggestion-perception-average{
	background:orange;
	width:60%;
	height:10px;
}

.suggestion-perception-poor{
	background:red;
	width:25%;
	height:10px;
}

.suggestion-perception-result-perfect{
	background:green;
	width:100%;	
	height:8px;
	border-bottom: 1px solid black;
}

.suggestion-perception-result-excellent{
	background:green;
	width:90%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.suggestion-perception-result-good{
	background:green;
	width:75%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.suggestion-perception-result-average{
	background:orange;
	width:60%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.suggestion-perception-result-poor{
	background:red;
	width:25%;
	height:8px;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.candidate-suggestion-table > .table th, .table td {
	padding: 0.75rem;
	vertical-align: top;
	border-top: 1px solid #dee2e6;
}


.candidate-suggestion-table-hdr {
	font-weight:bold;
}

.candidate-suggestion-table-hdr-saved {
	font-weight:bold;
	background:red;
}

.suggestion-role-header{
	margin-bottom:10px;
}

.available-check-icon{
	color:green;
	font-weight:bold;
	font-size:16px;
}

.lang-proficient-check-icon{
	color:green;
	font-weight:bold;
	font-size:16px;
}

.lang-basic-check-icon{
	color:orange;
	font-weight:bold;
	font-size:16px;
}

.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;        
}

.cv-inline{
	margin-top:20px;
	margin-left:40px;
}

.contract-type{
	width:195px;
}

.country-filter{
	margin-left:8px;
}

.skill-field{
	width:140px;
}

.min{
	width:75px;
 	margin-right:13px;
}
 
.max{
 	width:75px;
 	margin-left:13px;
}

.info-text{
	color:blue;
	font-style:italic;
}

.main-btns{
	width:155px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:5px;
	
}

.saved-candidate-icon-header{
	background:#6A5ACD;
	margin:0px;
	font-weight:bold;
	font-size:16px;
	width:100%;
	padding:5px;
	color:white;
	padding-left:20px;
}

.notes-textarea{
	width:95%;
	overflow: auto;
	min-height:130px;
}


.details-left{
	float:left;
	width:100%;
	max-width:380px;
	padding-left:20px;
	padding-right:20px;
}

.details-left-collections ul{
	list-style-type:none;
}
.details-left-collections h5{
	background:#e8e8e8;
	padding:2px;
}
/*
.modal-title{
	margin-left:20px;
}
*/
/*
.modal-body{
	font-size: large;
	height:345px;
	text-align: center;
}
*/
/*
.modal-header{
	background:#181414;
	color:#6A5ACD;
	font-weight:bold;
}
*/
.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;        
}

.message-send-failure{
	margin-top:100px;
	font-weight:bold;
}

.message-send-success{
	margin-top:100px;
	font-weight:bold;
}

textarea {
    width:100%;
    height:200px;
}

.left-info-box{
	width:100%;
	background:#e8e8e8;
	padding:10px;
	margin-bottom:20px;
}

.details-left p{
	color:black;
	font-weight:bold;
}

.publicity-suggestions{
	text-align:left;
	font-size:16px;
	overflow: auto;
}

.details-left{
	float:left;
}

.details-left-collections{
	min-width:300px;
	margin-bottom:20px;
}

.details-left-collections ul{
	list-style-type:none;
}
.details-left-collections h5{
	background:#e8e8e8;
	padding:2px;
}
/*
.modal-title{
	margin-left:20px;
}
*/
/*
.modal-body{
	font-size: large;
	height:345px;
	text-align: center;
}
*/

.modal-header{
	background:#181414;
	color:#6A5ACD;
	font-weight:bold;
}

.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;        
}

.message-send-failure{
	margin-top:100px;
	font-weight:bold;
}

.message-send-success{
	margin-top:100px;
	font-weight:bold;
}

.details-left h3{
	color:#6A5ACD;
	border-bottom:2px black solid;
	width:100%;
	max-width:360px;
}

.left-info-box{
	min-width:300px;
	margin-bottom:30px;
}



.details-left p{
	color:black;
	font-weight:bold;
}

.details-right{
	margin-left:0px;
	float:left;
	width:100%;
	min-width:72%;
	max-width:750px;
	padding:0px;
	margin-left:0px;
	padding-right:20px;
	padding-left:20px;
}



.details-right h1{
	background:#6A5ACD; 
	width:100%;
	margin-bottom:10px;
	margin-left:0px;
	padding:10px;	
}

.profile-photo-details{
	width:100%;
	height:320px;
	border:2px solid lightgrey;
}

.left-info-box table tr td {
	padding-left:20px;
}

/*
.job-spec-upld-opt{
	float:left;
	min-width:280px;
	margin:2%;
	border:2px green solid;
	cursor:pointer;
	padding:20px;
	font-weight:bold;
	width:45%;
}

.job-spec-upld-opt:hover{
	background:grey;
}*/