<div class="page">
	<!-- Nav options -->
	<div class="nav-tabs-bar"></div>

	<div class="page-body">
		<div [ngSwitch]="activeView">
		
	    <!-- List View -->
	    <div *ngSwitchCase="'list'">
	    	<div class="action-buttons" >
				<button class="btn btn-secondary arenella-btn" (click)="openCreateAlertDialog()" *ngIf="!isAuthenticated() || isAuthenticated() && isCandidate()">Create Alert</button>
				<button class="btn btn-secondary arenella-btn" routerLink="/recruiter-listings" *ngIf="isAuthenticated() && !isAuthenticatedAsAdmin() && !isCandidate()">Manage Your Posts</button>
			</div>
	       	<!-- Listings Table -->
			<div>
				<div class="site-header" *ngIf="!isLoggedIn()">
					<h1>Welcome to Arenella-ICT</h1>
					<h5>A place for IT candidates and IT recruiters to come together</h5>
				</div>
				<div class="filters {{mobileListingclassFilters}}">
					<div class="filters-title" *ngIf="displayFilters"  (click)="toggleFilters()">Filters:<span style="float:right; margin-right:20px;cursor:pointer"> Hide </span></div>
					<div class="filters-title" *ngIf="!displayFilters" (click)="toggleFilters()">Filters:<span style="float:right; margin-right:20px;cursor:pointer"> Show </span></div>
					<table *ngIf="displayFilters">
						<tr>
							<th>Contract Type</th>
							<td>
								<div>
									<ul class="contract-type-filter">
										<li><span class="{{getFilterTypeClass('')}}" 		 		(click)="updateContractTypeFilter('')"></span>Both</li>
										<li><span class="{{getFilterTypeClass('CONTRACT_ROLE')}}" 	(click)="updateContractTypeFilter('Contract')"></span>Contract</li>
										<li><span class="{{getFilterTypeClass('PERM_ROLE')}}" 	 	(click)="updateContractTypeFilter('Perm')"></span>Perm</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<th>Age of Post</th>
							<td>
								<div>
									<ul class="contract-type-filter">
										<li><span class="{{getPostAgeClass('ALL')}}"	 	 	(click)="updatePostAgeFilter('ALL')"></span>All</li>
										<li><span class="{{getPostAgeClass('TODAY')}}" 	 		(click)="updatePostAgeFilter('TODAY')"></span>Today</li>
										<li><span class="{{getPostAgeClass('THIS_WEEK')}}" 		(click)="updatePostAgeFilter('THIS_WEEK')"></span>This Week</li>
										<li><span class="{{getPostAgeClass('THIS_MONTH')}}" 	(click)="updatePostAgeFilter('THIS_MONTH')"></span>This Month</li>
									</ul>
								</div>
							</td>
						</tr>
					</table>
				</div>
				<div class="listing-pane {{mobileListingclassPane}}">
					<div class="job-post {{mobileListingclass}}" *ngFor="let listing of listings">
						<div (click)="showListingDetails(listing)">
							<div class="listing-title">{{getFormattedJobTitle(listing.title)}}</div>
							<div>
								<span title="{{listing.listingId}}" *ngIf="listing.country === 'NETHERLANDS'"  	class="flag-icon flag-icon-nl suggestion-flag-country listing-country"></span>
								<span title="{{listing.listingId}}" *ngIf="listing.country === 'BELGIUM'"		class="flag-icon flag-icon-be suggestion-flag-country listing-country"></span>
								<span title="{{listing.listingId}}" *ngIf="listing.country === 'UK'"			class="flag-icon flag-icon-gb suggestion-flag-country listing-country"></span>
								<span title="{{listing.listingId}}" *ngIf="listing.country === 'IRELAND'"		class="flag-icon flag-icon-ie suggestion-flag-country listing-country"></span>
								<span title="{{listing.listingId}}" *ngIf="listing.country === 'EU_REMOTE'"		class="flag-icon flag-icon-eu suggestion-flag-country listing-country"></span>
								<span title="{{listing.listingId}}" *ngIf="listing.country === 'WORLD_REMOTE'"	class="flag-icon flag-icon-xx suggestion-flag-country listing-country"></span>	
							</div>
							<div class="job-post-contract-type">
								{{getFormattedContractType(listing.type)}}
							</div>
							<div>
								<a href="{{getExternalUrl(listing.listingId)}}"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Show Selected Listing View -->
		<div class="{{mobileListingViewDiv}}">
			<div  *ngSwitchCase="'show'">
	       		<!-- Action buttons -->
				<div class="action-buttons">
					<button class="btn btn-secondary arenella-btn {{mobileButton}}" *ngIf="isAuthenticated() && isAuthenticatedAsAdmin()" (click)="showPublicity()">Publicity</button>
					<button (click)="showList()" class="btn btn-secondary arenella-btn {{mobileButton}}">Back</button>
				</div>
				
				<app-candidate-info-box [config]="infoItemConfig"></app-candidate-info-box>
				
				<div>
	       			<div class="left-box-containerXXX {{mobileListingLeftPaneContainer}}">
	       				<h1 *ngIf="isMobile" class="listing-view-title">{{selectedListing.title}}</h1>
	       				
	       			</div>
	       			
	       			<div class="desc-body {{mobileDescBody}}">
			       		<div class="listing-view-div">
							<h1 *ngIf="!isMobile" class="listing-view-title">{{selectedListing.title}}</h1>
							<h1 *ngIf="isMobile" class="listing-view-title">Description</h1>
						</div>
						<div>
							<div>
								<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{selectedListing.description}}</pre>
							</div>
							<div *ngIf="!isCandidate()" style="min-width:75%">
								<form [formGroup]="emailRequestFormBean">
									<div>
										<p class="email-label">Your Name:</p>
										<input class="email-input" type="email" formControlName="name">
									</div>
									<div>
										<p class="email-label">Your Email:</p>
										<input class="email-input" type="email" formControlName="email">
									</div>
									<p class="email-label">Message To Recruiter</p>
									<textarea class="contact-recruiter-textarea" formControlName="message"></textarea>
									<div class="div-spacing">
										<p class="email-label">Curriculum</p>
										<input class="email-input" type="file" (change)="uploadCurriculumFile($event)"> 
										<div style="margin-top:10px">.doc, .docx, .pdf - up to 1MB</div>
									</div>
										<div class="action-buttons">
											<button class="btn btn-secondary arenella-btn" (click)="sendEmailRequest()" *ngIf="enableSendEmail()">Send</button>
											<button class="btn btn-secondary arenella-btn" disabled *ngIf="!enableSendEmail()">Send</button>
										</div>
								</form>
							</div>
							<div *ngIf="isCandidate()" style="min-width:75%">
								<form [formGroup]="emailRequestFormBean">
									<p class="email-label">Message To Recruiter</p>
									<textarea class="contact-recruiter-textarea" formControlName="message"></textarea>
									<div class="div-spacing">
										<p class="email-label">Curriculum</p>
										<div *ngIf="!curriculumFile">
											<br>
											<input type="checkbox" disabled="disabled" checked><span> Use stored CV</span>
											<br><br>
											<p>Or</p>
										</div>
										<input class="email-input" name="selected-file" type="file" (change)="uploadCurriculumFile($event)"> 
										<div style="margin-top:10px">.doc, .docx, .pdf - up to 1MB</div>
									</div>
									<div class="action-buttons">
										<button class="btn btn-secondary arenella-btn" (click)="sendEmailRequest()" *ngIf="enableSendEmail()">Send</button>
										<button class="btn btn-secondary arenella-btn" disabled *ngIf="!enableSendEmail()">Send</button>
									</div>
								</form>
							</div>
		       			</div>
		       		</div>
				</div>
			</div>
		</div>
	</div>
</div>
	</div>
	
	


<!-- Feedback Box -->
<dialog #feedbackBox>
	<div class="modal-header">
		<h4 class="modal-title">Contact Recruiter</h4>
 		<div class="filter-close-box" (click)="feedbackBox.close()">X</div>
	</div>
	<div class="feedbackBox;">
		<div class="modal-body" *ngIf="showSendAlertBoxSuccess">
			<p>The message has been sent to the recruiter managing this role. </p>
			<p>They will get back to you shortly.</p>
		</div>
		<div class="modal-body" *ngIf="showSendAlertBoxFailure">
			<p>Unfortunately it was not possible to send the Email at this time.</p>
		</div>
	</div>
</dialog>

<!-- Publicity Box -->
<dialog #publicityBox>
	<div class="modal-header">
		<h4 class="modal-title">Publicity</h4>
 		<div class="filter-close-box" (click)="publicityBox.close()">X</div>
	</div>
	<div class="feedbackBox;">
		<div class="modal-body"  style="height:400px;">
			<p>Open Position: {{selectedListing.title}}</p>
			<br>
			<p>Location: {{getCountryCode(selectedListing.country)}}</p>
			<br>
			<p>https://www.arenella-ict.com/listing/{{selectedListing.listingId}}</p>
			<br>
			<span>#openposition </span>
			<span>#itjob </span>
			<span>#itjobs </span>
			<span>#ictbaan </span>
			<span>#ictbanen </span>
			<span>#itjobboard </span>
			<span>#cvdatabase </span>
			<span *ngFor="let skill of selectedListing.skills">#{{skill}} </span>
		</div>
	</div>
</dialog>
<!-- Listing Alert Box -->
<dialog #listingAlertBox>
	<div class="modal-header">
		<h4 class="modal-title">Create Email Alert</h4>
 		<div class="filter-close-box" (click)="listingAlertBox.close()">X</div>
	</div>
	<div class="feedbackBox;">
		<form [formGroup]="alertFormBean">
			<div class="modal-body"  style="height:400px;">
				<div *ngIf="createAlertStep == 0">
					<P>1/3 Select a Contract type</P>
					<select formControlName="contractType">
						<option *ngFor="let type of getContractTypeOptions()" [ngValue]="type.value">{{type.label}}</option>
					</select>
				</div>
				<div *ngIf="createAlertStep == 1">
					<P>2/3 Select roles of interest</P>
					<div class="alert-options center">
						<div class="listing-alert-option {{selectedFunctionTypeCss(sft)}}" *ngFor="let sft of selectableFunctionTypes" (click)="toggleFunctionType(sft)">{{sft.functionType.humanReadable}}</div>
					</div>
				</div>
				<div *ngIf="createAlertStep == 2">
					<P>3/3 Select a Countries of interest</P>
					<div class="alert-options center">
						<div class="listing-alert-option {{selectedCountryCss(sc)}}" *ngFor="let sc of selectableCountries" (click)="toggleCountry(sc)">{{sc.country.humanReadable}}</div>
					</div>
				</div>
				<div *ngIf="createAlertStep == 3">
					<P>Email address and confirm</P>
					<div style="margin-top:50px;">
						<b style="margin-right:10px;">Email:</b><input type="email" formControlName="emailAddress" (keyup)="handleAlertEmailOnChange()"/>
					</div>
				</div>
				<div *ngIf="createAlertStep == 4">
					<P>&nbsp;</P>
					<div style="margin-top:50px;">
						<h1>Alert Created</h1>
					</div>
				</div>
				<div style="clear:both;margin-top:50px;" >
					<button *ngIf="createAlertStep != 0 && createAlertStep != 4" class="btn btn-secondary arenella-btn" (click)="createListingAlertLastStep()">Back</button>
					<button *ngIf="createAlertStep != 3 && createAlertStep != 4" class="btn btn-secondary arenella-btn" (click)="createListingAlertNextStep()">Next</button>
					<button *ngIf="createAlertStep == 3" 						 class="btn btn-secondary arenella-btn" [disabled]="listingAlertConfirmDisabled" (click)="createListingAlert()">Confirm</button>
				</div>
			
			</div>	
		</form>
	</div>
</dialog>