.page{
	width:98%;
	margin-bottom:100px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.listing-step-content{
 	margin-top:50px;
 	margin-left:50px;
 }
 
 .btn-listing{
 	margin-top:15px;
	min-width:150px;
}

.a-table-cell{
	display:table-cell; 
}

.text-area-listing{
	height:260px;
	width:100%;
}

.checkbox-ctrl{
		margin-right:5px;
}

.radio-button{
	margin-right:5px;
}

.radio-button_label{
	margin-right:10px;
}

.listing-table{
	margin-top:20px;
	vertical-align:middle;
}

.listing-tab-col{
    border:1px black solid;
    background-color: #ffffff;
    font-size: x-small;
    text-align: center;
    padding: 5px;
}

.bg-tab-hdr{
	border:1px black solid;
	background: #6c757d;
    color: #ffffff;
    font-size: x-small;
    white-space:nowrap;
    padding:5px;
    margin:5px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    min-width:50px;
}

.action-buttons{
	text-align:right;
	margin-right:10px;
}

.btnRight{
	margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
    min-width:100px;
}

.listing-nav{
	cursor:pointer;
	color:blue;
	font-weight:bold;
	margin-left:20px;
	
}

.listing-nav-disabled{
	color:grey;
    font-weight:bold;
    margin-left:20px;
    
}
 
.listing-tab-row:hover{
	cursor:pointer;
}

.listing-view-title{
	margin-top:20px;
	color:#6A5ACD;
}



.listing-country{
	margin-right:20px;
	margin-left:10px;
}

.listing-table-td{
	text-align:left;
}

.listing-table-td-date{
	text-align:center;
}

.contract-type-filter li{
	display: inline-block;
	text-decoration:none;
	margin-right:10px;	  
}

.active-filter{
	height: 20px;
  	width: 20px;
  	background-color: #6f42c1;
 	border-radius: 50%;
 	display: inline-block;	
 	margin-right:5px;
 	margin-top:8px;
}

.inactive-filter{
	height: 20px;
  	width: 20px;
  	background-color: grey;
 	border-radius: 50%;
 	display: inline-block;
 	margin-right:5px;
 	margin-top:8px;
 	cursor:pointer;
}

.listing-title{
	font-weight:bold;
	width:100%;
	padding-top:0px;
	padding-bottom:0px;
	min-width:100%;
}

.hide-url{
	cursor:default;
}

.contact-recruiter-textarea{
	width:100%;
	height:200px;
	margin-top:20px;
}

.email-label{
	border-bottom:2px solid black;
	margin-top:10px;
}

.email-input{
	min-width:33%;
}

.feedbackBox{
    width:200px;
    height:350px;
}

.modal-title{
	margin-left:20px;
}

.modal-header{
     background:#181414;
     color:#6A5ACD;
     font-weight:bold;
}

.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;
}

.modal-body{
    font-size: large;
    height:200px;
    text-align: center;
}

.listing-view{
	margin-left:30px;
}

.filters{
	margin-top:20px;
	margin-left:30px;
	margin-right:30px;
	border-bottom:1px solid black;
	margin-bottom:10px;
	background:#e8e8e8;
}

.listing{
	/*border:5px solid #6c757d;*/
	background:#e8e8e8;
	margin:10px;
	margin-left:30px;
	margin-right:30px;	
	padding:10px;
	border-radius:0px 25px 25px 0px;
	float:left;
	min-height: inherit;
	height:100%;
	cursor:pointer;
	min-width:96%;
}

.mobile-listing-layout{
	width:100px;
	min-width:85%;
}

.filters table tr th{
	font-weight:bold;
	padding-left:10px;
}

.filters table tr td ul li{
	min-width:110px;
}

.filters-title{
	background:#6c757d;
	padding-left:30px;
	color:white;
	font-weight:bold;
	padding-left:10px;
}

.left-box{
	min-width:300px;
	margin-bottom:30px;
	max-width:300px;
}

.left-box-body{
	padding:5px;
	background:#e8e8e8;
}

.left-box table{
	width:100%;
}

.left-box table th{
	width:120px;
}

.left-box h5{
	border-bottom:2px solid black;
}

.skill{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 	background:green;
 	color:white;
}

.profile-photo-details{
	width:300px;
	height:320px;
	border:2px solid lightgrey;
	margin-bottom:10px;
}