.center {
	margin: auto;
	width: 100%;
	padding: 10px;
}

.listing-view-title {
	color: #6A5ACD;
}

.listing-table-td {
	text-align: left;
	background: linear-gradient(to bottom, red 50%, grey 51%)
}

.site-header {
	margin-top: 20px;
	text-align: center;
}

.listing-pane {
	width: 95%;
	margin: 0 auto;
	padding-left:0px;
}

.job-post {
	width: 22%;
	height: 150px;
	padding: 20px;
	padding-left:2px;
	padding-right:2px;
	background: #e8e8e8;
	margin-top: 15px;
	margin-right: 3%;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
}

.listing-title {
    font-weight: 700;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    min-width: 100%;
    text-align: center;
    margin-bottom:5px;
    height:50px;
}

.listing-country {
	display: table;
	margin: 0 auto;
	margin-top:0px;
}

.job-post-contract-type {
	text-align: center;
	margin-top: 20px;
}

.listing-table-td-date {
	text-align: center;
}

.contract-type-filter li {
	display: inline-block;
	text-decoration: none;
	margin-right: 10px;
}

.active-filter {
	height: 20px;
	width: 20px;
	background-color: #6f42c1;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	margin-top: 8px;
}

.inactive-filter {
	height: 20px;
	width: 20px;
	background-color: grey;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
	margin-top: 8px;
	cursor: pointer;
}

.filters {
	border-bottom: 1px solid black;
	margin-bottom: 10px;
	background: #e8e8e8;
	margin-top: 20px;
}

.listing {
	background: #e8e8e8;
	margin: 10px;
	margin-left: 30px;
	margin-right: 30px;
	padding: 10px;
	border-radius: 0px 25px 25px 0px;
	float: left;
	min-height: inherit;
	height: 100%;
	cursor: pointer;
	min-width: 96%;
}

.filters table tr th {
	font-weight: bold;
	padding-left: 10px;
}

.filters table tr td ul li {
	min-width: 110px;
}

.filters-title {
	background: #6c757d;
	color: white;
	font-weight: bold;
	padding-left: 10px;
}

.desc-body {
	float: left;
	padding: 5px;
	padding-left: 20px;
	min-width: 72%;
	max-width: 72%;
}

.alert-options {
	width: 100%;
}

.listing-alert-option {
	padding: 8px;
	border-radius: 0%;
	background: #dee2e6;
	border: black;
	margin-bottom: 5px;
	white-space: nowrap;
	float: left;
	margin-left:5px;
	width:175px;
	color:#002549;
	border-radius:5px 5px 5px 5px;
}

.listing-alert-option:hover {
	cursor: pointer;
}

.listing-alert-option-selected {
	background: green;
}

.listing-alert-btn {
	margin: 5px;
}

.site-header h5 {
	color: grey;
}

.country-filter{
	margin-left:8px;
	cursor:pointer;
}

.country-flag{
	height:30px;
	width:55px;
	padding-left:0px;
	margin-left:0px;
	margin-bottom:10px;
	background-position:0%;
}

.country-selections{
	width:100%;
}

.country-selected-true{
	opacity:1;
}

.country-selected-false{
	opacity:0.35;
}

.share-post{
	height:150px;	
}

.share-post-url{
	color:blue; 
	font-size:10px;
	margin:20px;
}

.share-post-clipboard{
	margin: 0 auto;
	width:250px;
	height:100px;
}

.share-post-clipboard-text{
	margin: 0 auto;
	color:blue; 
	font-size:10px;
	width:150px;
	text-align:center;
}

.share-post-clipboard button{ 
	margin-bottom:20px;
	margin-top:20px;
}

.clipboard-btn{
	width:100%;
}

.toggle-options{
	float:right;
	margin-right:20px;
	cursor:pointer
}

.stat-option-bar{
	max-width:200px;
	padding:5px;
}

.listing-stats-pane{
	margin-bottom:20px;
}

.listing-pane-left{
	float:left;
	padding:10px;
	margin:1px;
	width:24%;
	max-width:24%;
}

.listing-pane-right{
	float:left;
	padding:10px;
	width:75%;
}

.hideChild{
	visibility:collapse;
	height:0px;
}

.showChild{
	visibility:visible;
}

@media ( max-width :700px) {

	.listing-pane {
		width: 100%;
		padding-left: 0%;
		margin-left: 0%;
	}
	
	.filters {
		margin-left: 0%;
	}
	.job-post {
		min-width: 100%;
	}
	.desc-body {
		min-width: 98%;
		padding-right: 0px;
		padding-left: 5px;
	}
	
	.listing-alert-option {
		border-radius: 0%;
		border: black;
		margin-bottom: 5px;
		white-space: nowrap;
		float: left;
		width:85px;
		font-size:12px;
	}
	
	.country-flag{
		height:25px;
		width:30px;
		padding-left:0px;
		margin-left:0px;
		margin-bottom:5px;
		background-position:0%;
	}
	
	.share-post{
		height:200px;	
	}
	
	.share-post-clipboard{
		margin: 0 auto;
		width:250px;
		height:100px;
	}
	
	.statistics-table{
		width:100%;
	}
	
	.statistics-table-pane{
		width:100%;
	}
	
	.stat-option-bar{
		max-width:160px;
		padding:5px;
	}
	
	.listing-stats-pane{
		display:none;
	}
	
	.listing-pane-right{
		width:100%;
	}

	.search-filter-pane{
		margin-left:0px;
	}
	
	.sugg-srch-ctry-chkbox{
		display:inline-block;
		margin:0;
		padding:0;
		width:100%;
	}	
	
	.sugg-srch-job-title-name{
		margin-right:20px;
		min-width:0px;
	}

	.geo-code-filter{
		width:100%;	
	}
	
	.search-filter-pane{
		margin-left:1%;
		margin-right:1%;
		width:98%;
	}
	
	.filters-collapse-options{
		margin-left:5px;
		color:#6A5ACD;
		font-weight:bold;
		cursor:pointer;
	}
	
}