.page{
	width:98%;
	margin-bottom:100px;
}

.content-div{
	margin:20px;
}

.email-buttons{
	height:75px;
	border-bottom:1px solid grey;
	margin-bottom:20px;
}

th{
	border: 1px black solid;
    background: #6c757d;
    color: #ffffff;
    font-size: x-small;
    white-space: nowrap;
    padding: 5px;
    margin: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
}

td{
	border: 1px black solid;
    font-size: x-small;
    white-space: nowrap;
    padding: 5px;
    margin: 5px;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    min-width: 50px;
}

tr:nth-child(odd){
  background-color: #ffffff;
}

tr:nth-child(even){
  background-color: #e8e8e8;
}

.action-buttons{
	text-align:right;
}

.action-btn{
	width:150px;
	margin-top:5px;
	margin-left:5px;
	padding-left:0px;
	padding-right:5px;
} 

.tab-nav{
	cursor:pointer;
}

.email-header{
	background:#6A5ACD;
	padding-top:15px;
	color:white;	
	min-height:90px;
}

.attachments{
	background:#6c757d;
	padding-top:10px;
	height:20px;
	color:white;	
	min-height:50px;
	padding-left:20px;
}

.attachment-title{
	margin-right:50px;	
}
.email-body{
	background:#e8e8e8;
	padding:20px;
	margin-bottom:20px;
}

.email-footer{
	clear:both;	
}

.page-footer{
	clear:both;
	margin-top:20px;
}

.left-div-header{
	float:left;
	margin-left:20px;
	max-width:65%;
}

.right-div-header{
	float:right;
	margin-right:20px;
	text-align:right;
}

.left-div{
	float:left;
	margin-left:20px;
	max-width:95%;
}

.email-title{
	text-align:center;
	font-size:22px;
	font-weight:bold;
	margin-bottom:20px;
}

.attachment{
	color:white;
	cursor:pointer;
	text-decoration:underline;
}
