<div class=".container m-2 page">
	<div class='content-div'>
		<div class="email-buttons">
			<div class="action-buttons" *ngIf="currentView == 'view-inbox'">
				
			</div>
			<div class="action-buttons" *ngIf="currentView == 'view-read'">
				<button class="btn btn-secondary action-btn" (click)="markAsUnread()">Mark Unread</button>
				<button class="btn btn-secondary action-btn" (click)="viewInbox()">Back</button>
			</div>
		</div>
		<div >
			<table class="table marketplace-table tab-nav" *ngIf="currentView == 'view-inbox'">
				<thead>
					<tr>
						<th>From</th>
						<th>Subject</th>
						<th>Sent</th>
					</tr>
				</thead>
				<tr *ngFor="let email of emails" (click)="viewEmail(email)">
					<td>{{email.sender.senderName}}</td>
					<td>{{email.title}}</td>
					<td>{{email.created | date: 'dd MMM'}}</td>
				</tr>
			</table>
		</div>
	</div>
	<div class='content-div' *ngIf="currentView == 'view-read'">
		<div >
			<div class="email-title">{{currentEmail.title}}</div>
			<div class="email-header">
				<div class="left-div-header">{{currentEmail.sender.senderName}} : {{currentEmail.sender.email}}</div>
				<div class="right-div-header">
					{{currentEmail.created | date: 'dd MMMM yyyy'}}
					<br>
					{{currentEmail.created | date: 'hh:mm:ss'}}
				</div>
			</div>
			<div class="attachments">
				<span class="attachment-title">Attachments:</span>
				<span *ngFor="let attachment of currentEmail.attachments">
					<a href="{{getAttachmentUrl(attachment, currentEmail)}}">
						<span class="attachment">{{attachment.name}}</span>
					</a>
				</span>
			</div>
			<div class="email-body">
				<div>
					<div class="left-div" style="white-space: pre-wrap;">{{currentEmail.body}}</div>
				</div>
				<div class="email-footer">
				</div>	
			</div>
			
		</div>
	</div>
	<div class="page-footer">
	</div>
</div>
