centerdiv{
    margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    width:90%;
}

.center-table{
    margin:0 auto;
    margin-top:25px;
}

.faqs{
	margin-top:20px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:50px;
}

.faq h3{
	color:black;
}