<div class="page">

	<!-- Nav options -->
	<div class="nav-tabs-bar" *ngIf="isAuthenticated()"></div>
	
    <div class="page-body">
            <div class="row">
            	 <div>
            	 	<div  class="subject-header">
            	 		<h1>FAQ's</h1>
            	 		<h5 class="non-mobile-only-element">{{ "arenella-faqs-header" | translate }}</h5>
            	 	</div>
            	 	<div class="faqs">
	            	 	<div class="faq">
	            			<h3>{{ "arenella-faqs-q1-question" | translate }}</h3>
						
							<p>
								{{ "arenella-faqs-q1-answer" | translate }}
							</p>
						</div>
	            	 	<div class="faq">
	            	 	 	<h3>{{ "arenella-faqs-q4-question" | translate }}</h3>
							<p>
								{{ "arenella-faqs-q4-answer" | translate }}
							</p>
						</div>
						 
						<div class="faq">
							<h3>{{ "arenella-faqs-q5-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q5-answer" | translate }}</p>
						</div>
						<div class="faq">
							<h3>{{ "arenella-faqs-q6-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q6-answer" | translate }}
							</p>
						</div>
						 
						<div class="faq">
							<h3>{{ "arenella-faqs-q7-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q7-answer" | translate }}
							</p>
						</div>
						<div class="faq">
							<h3>{{ "arenella-faqs-q8-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q8-answer" | translate }}
							</p>
						</div>
						<div class="faq">
							<h3>{{ "arenella-faqs-q9-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q9-answer" | translate }}</p>
						</div>
						<div class="faq">
							<h3>{{ "arenella-faqs-q10-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q10-answer" | translate }}</p>
						</div>
						<div class="faq">
							<h3>{{ "arenella-faqs-q11-question" | translate }}</h3>
							<p>{{ "arenella-faqs-q11-answer" | translate }}
								
							</p>
						</div>
					</div>
            	 </div>	
			</div>
		
	</div>
</div>