/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

.bg-arenella-primary {
	background: #181414;
}

body{
	background: #F5F5F5;
}

.nav-primary{
	color:#6A5ACD;
}


.li-arenella-nav{
	float:left;
	margin-right:5px;
}

.dropdown-item:hover{
	background: #D3D3D3;	
}

.nav-secondary{
	color:#F5F5F5;
}

.candidate-signup{
	background:green;
	float:right;
	margin-top:3px;
	width:190px;
	text-align:center;
	margin-right:10px;
}

.recruiter-signup{
	background:orange;
	float:right;
	margin-top:3px;
	width:190px;
	text-align:center;
	margin-right:10px;
}

.centerdiv{
    margin: 0 auto;
}



.bg-tab-hdr{
	color: #000000;
	border-bottom: 2px solid black;
	font-weight: bold;
	padding:10px;
	margin-bottom:50px;
	
}

.col-fixed-width{
	width:250px;
}

.row-section{
	margin-top:15px;
}

.row-section-body{
	padding-top:5px;
	padding-bottom: 2px;
}

.inpt-tab-std{
	width:350px;
}

.dropdown-item{
	color:#ffffff;
}

.skills{
	width:470px;
	height:130px;
	text-align: top;
	margin-bottom:20px;
}

.rowadduser{
	margin-top:5px;
}

.halpagecol{
	margin-left:10px;
	margin-right:10px;
	max-width: 500px;
}

.arenella-navbar{
	list-style-type:none;
	margin: 0;
	padding: 10px;
	overflow: hidden;
	background-color:#303030;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
