/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';
@import 'material-symbols';

@media (min-width:701px)  {
		
	.mobile-only-element{
		display:none;
	}	
	
	.non-mobile-only-element{
		display:inline;
	}
	
	.arenella-whole-width-page{
		margin-top:20px;
	}
	
	.modal-header-text{
	    text-align:center;
	    margin-top:10px;
	    width:500px;
	}
	 .modal-header{
	     background:#002549;
	     color:white;
	     font-weight:bold;
	 }
	
	 .filter-close-box{
	     cursor:pointer;
	     margin-right:10px;
	     margin-top:10px;  
	}
	
	.bg-arenella-primary {
		background: #181414;
	}
	
	body{
		background: white;
	}
	
	.nav-primary{
		color:#6A5ACD;
	}
	
	.li-arenella-nav{
		float:left;
		margin-right:5px;
	}
	
	.dropdown-item{
		color:#002549;
		padding-left:5px;
		padding-right:5px;
		min-width:160px;
	}
	
	.dropdown-item-preauth{
		min-width:20px;
	}
	
	.nav-secondary{
		color:#F5F5F5;
	}
	
	.centerdiv{
	    margin: 0 auto;
	}
	
	
	
	.bg-tab-hdr{
		color: #000000;
		border-bottom: 2px solid black;
		font-weight: bold;
		padding:10px;
		margin-bottom:50px;
		
	}
	
	.col-fixed-width{
		width:250px;
	}
	
	.row-section{
		margin-top:15px;
	}
	
	.row-section-body{
		padding-top:5px;
		padding-bottom: 2px;
	}
	
	.inpt-tab-std{
		width:350px;
	}
	
	.skills{
		width:470px;
		height:130px;
		text-align: top;
		margin-bottom:20px;
	}
	
	.rowadduser{
		margin-top:5px;
	}
	
	.halpagecol{
		margin-left:10px;
		margin-right:10px;
		max-width: 500px;
	}
	
	.arenella-navbar{
		list-style-type:none;
		margin: 0;
		padding: 10px;
		overflow: hidden;
		background-color:#303030;
	}
	
	html, body { height: 100%; }
	body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
	
	.unseen-posts{
		border-radius:10%;
		background:blue;
		color:white;
		padding:5px;
		margin-right:10px;
	}
	
	
	/*START DIALOG CSS*/
	.modal-title{
		margin-left:20px;
	}
	
	.modal-body{
		font-size: large;
		text-align: center;
		width:600px;
	}
	
	.modal-body-text{
		vertical-align: middle;
		font-weight: bold;
	}
	
	dialog {
		overflow: hidden;
		padding:0px;
		border:none;
		min-width:40%;
	}
	
	.message-send-failure{
		font-weight:bold;
	}
	
	.message-send-success{
		font-weight:bold;
	}
	
	/*Dialog upload spec*/
	.job-spec-options{
		width:100%;
		margin:auto;
	}
	
	.job-spec-upld-opt{
		margin:2%;
		border:2px green solid;
		cursor:pointer;
		padding:20px;
		font-weight:bold;
	}
	
	.job-spec-upld-opt:hover{
		background:grey;
	}
	
	/*END DIALOG CSS*/
	
	/* Buttons START*/
	.btn-main-bar{
	 	margin-top:15px;
		min-width:160px;
		margin-left:5px;
		margin-right:5px;
	}
	
	.buttons-icon-mobile {
	    width: 49%;
	    margin-top: 10px;
	    margin-left: 1%;
	    margin-bottom: 0px;
	}
	
	.left-info-box table tr td {
		padding-left:20px;
	}
	
	.action-buttons{
		text-align:right;
	}
	
	.page{
		padding: 0px;
		width:100%;
		
	}
	
	.nav-tabs-bar{
		min-height:40px;
		background:#dee2e6;
	}
	
	.nav-tabs{
		color:#6d6969;
	}
	
	.page-body{
		width:98%;
		margin: auto;
		margin-top:10px;
	}
	
	textarea {
	    width: 100%;
	    height: 200px;
	}
	
	.arenella-btn{
	    width: 165px;
	    margin-right: 5px;
	    margin-bottom: 0px;
	    margin-top: 5px;
	}
	
	.right-body-pane{
		float:left;
		padding:5px;
		padding-left:20px;
		max-width:72%;
		padding-top:0px;
	}

}

@media (max-width:700px)  {
	
	h5{
		color:#002549;
	}
	
	body{
		font-family:veranda;
	}
	
	.modal-header{
		width:100%;
		font-family:allessa;
		text-align:center;
		background:#002549;
    	color:white;
	}
	
	.modal-title{
		width:100%;
		font-family:allessa;
		text-align:center;
		background:#002549;
    	color:white;
	}
	
	select{
		border-radius:3px;
	}
	
	input{
		border-radius:3px;
		padding-left:5px;
	}
	
	.arenella-btn{
    	width: 165px;
    	margin-right: 5px;
    	margin-bottom: 0px;
    	margin-top: 5px;
    	border-radius:12px;
    	background:#dee2e6;
    	color:black;
	}
	
	.arenella-btn:focus{
    	width: 165px;
    	margin-right: 5px;
    	margin-bottom: 0px;
    	margin-top: 5px;
    	border-radius:12px;
    	background:#24629e;
    	color:white;
	}
	
	.mobile-only-element{
		display:block;
	}
	
	.non-mobile-only-element{
		display:none;
	}
	
	.mobile-header-bar{
		width:100%;
		height:20px;
		background:black;
		text-decoration: none;
	}
	
	.mobile-menu-bar{
		width:100%;
		background:white;
		
	}
	
	.mobile-menu-bar-icon{
		color:#002549;
		margin-left:10px;
		padding:10px;
		font-size:36px;
		text-decoration: none;
	}
	
	
	dialog {
		overflow: hidden;
		padding:0px;
		border:none;
		min-width:90%;
	}

	.page-body{
		width:96%;
		margin: auto;
		margin-top:10px;
	}
	
	.right-body-pane{
		min-width:100%;
		padding-right:0px;
		padding-left:0px;
	}
	
	.hide-for-mobile{
		display:none;
	}
	
	.modal-body{
		font-size: large;
		text-align: center;
		width:100%;
	}
	
	.job-spec-upld-opt{
		margin:2%;
		border:2px green solid;
		cursor:pointer;
		padding:20px;
		font-weight:bold;
	}

	.job-spec-upld-opt:hover{
		background:grey;
	}
	
	.unseen-posts{
		border-radius:10%;
		background:blue;
		color:white;
		padding:5px;
		margin-right:10px;
	}
	
	.action-buttons{
		text-align:right;
		margin-bottom:20px;
	}
	
}