/* You can add global styles to this file, and also import other style files */
.bg-arenella-primary {
	background: #181414;
}

.xx{
	background:#303030;
	height:50px;
	color:red;
}


body{
	background: #F5F5F5;
}

.nav-primary{
	color:#6A5ACD;
}


.dropdown-item:hover{
	background: #D3D3D3;
}

.nav-secondary{
	color:#F5F5F5;
}

.centerdiv{
    margin: 0 auto;
}

.wholepage{
    margin:0 auto;
	width:800px;
}

.bg-tab-hdr{
	color: #000000;
	border-bottom: 2px solid black;
	font-weight: bold;
	padding:10px;
	margin-bottom:50px;
	
}

.col-fixed-width{
	width:250px;
}

.row-section{
	margin-top:15px;
}

.row-section-body{
	padding-top:5px;
	padding-bottom: 2px;
}

.inpt-tab-std{
	width:150px;
}

.dropdown-item{
	color:#ffffff;
}

.skills{
	width:350px;
	height:130px;
	text-align: top;
	margin-bottom:20px;
}

.rowadduser{
	margin-top:5px;
}

.halpagecol{
	margin-left:10px;
	margin-right:10px;
	max-width: 400px;
}

