<div>
    <div class="centerdiv">
        <div class="center-table">
            <div class="row">
                <div class="col">
                    <h2>Over 200 ICT Candidates available</h2>
                    <p>
                    Are you a recruiter looking for ICT candidates in the Netherlands, Belgium or the UK? Arenella ICT recruitment
                    offers you access to a large number of ICT candidates activelly looking for a new role. We have both Freelancers 
                    and Permanent candidates available.
                    </p>
                    <p>
                        Over 200 ICT candidates available accross the Netherlands, Belgium and 
                        UK markets
                    </p>
                    <p>
                        All candidates are local, hand picked and  native or have vaid work vias.
                    </p>
                    <p>
                        Our ICT candidates speak diverse languages, including Dutch, English and French
                    </p>
                    <p>
                        Both freelance and perm candidates are available for a variety of ICT roles such as 
                    </p>
                    <div class="row">
                        <div class="col">
                            <ul class="skill">
                             <li>Java Developers</li>
                             <li>C# Developers</li>
                             <li>.Net Developers</li>
                             <li>Web Developers</li>
                             <li>Business Analysts</li>
                             <li>Project Managers</li>
                          </ul>
                        </div>
                        <div class="col">
                            <ul class="skill">
                                <li>UI\UX specialists</li>
                                <li>Enterprise Architects</li>
                                <li>Solution Architects</li>
                                <li>Network Engineers</li>
                                <li>QA Test engineers</li>
                            </ul>
                        </div>
                    </div>
                        
                </div>
                <div class="col">
                    <h2>How it works</h2>
                    <p>We provide access to suitable ICT candidates</p>
                    <p>If you place the candidate you set up the contract direct with them. There are no chains </p>
                    <p>You let us know how many hours the candidate has worked each month</p>
                    <p>For freelance ICT candidates we send you an invoice each months for the  hours worked.</p>
                    <p>For permanent ICT candidates we send you a single invoice when you place the candidade.</p>
                    <h2>How to get started</h2>
                    <p>Email: kparkings@gmail.com to receive a free use account.</p>
                </div>
            </div>
        </div>
    </div>
</div>