<div *ngIf="showRecruitersTabDetails">
</div>
<div *ngIf="showRecruitersTabSummary">
	<table style="width:300px;">
		
		<tbody>
			<tr>
				<td class="recruiter-active-subscription">{{'arenella-accounts-tabrecruiters-paid-subscriptions' | translate}}</td>
				<td class="recruiter-active-subscription">{{getSubscriptionRecruiters().length}}</td>
				<td><button class="btn btn-secondary acc-rec-tog-btn" (click)="toggleShowActivePaidSubscription()">{{'arenella-accounts-tabrecruiters-toggle' | translate}}</button></td>
			</tr>
			<tr>
				<td class="recruiter-credit-based-subscription">{{'arenella-accounts-tabrecruiters-credit-based' | translate}}</td>
				<td class="recruiter-credit-based-subscription">{{getCreditBasedRecruiters().length}}</td>
				<td><button class="btn btn-secondary acc-rec-tog-btn" (click)="toggleShowCreditBasedSubscription()">{{'arenella-accounts-tabrecruiters-toggle' | translate}}</button></td>
			</tr>
			<tr>
			<td>{{'arenella-accounts-tabrecruiters-subscriptions-totals' | translate}}</td>
				<td>{{getTotalActiveRecruiters()}}</td>
			</tr>
		</tbody>
	</table>
	<div >
		<table class="table candidate-table" (click)="toggleActivityBreakdown()">
			<thead>
	      		<tr class="activityBreakdownRow">
      				<!-- Table Headers -->
      				<th></th>
      				<th class="bg-tab-hdr">{{'arenella-accounts-tabcandidates-id' | translate}}</th>
      				<th class="bg-tab-hdr">{{'arenella-accounts-tabcandidates-name' | translate}}</th>
      				<th class="bg-tab-hdr">Activity {{getPercentActiveInactive()}}</th>
      		
      			</tr>
      			<tr *ngIf="showActivityBreakdown">
      				<td></td>
      				<td></td>
      				<td></td>
      				<td style="padding:0px; margin:0px;margin-bottom:20px;">
      					<table>
      						<tr>
      							<td>
      								<span class="recruiter-activity-level-HIGH">
	            	    		</span>
      							</td>
      							<td>
      								{{getActivityLevel('HIGH')}}
      							</td>
      						</tr>
      						<tr>
      							<td>
      								<span class="recruiter-activity-level-MEDIUM">
	            	    		</span>
      							</td>
      							<td>
      								{{getActivityLevel('MEDIUM')}}
      							</td>
      						</tr>
      						<tr>
      							<td>
      								<span class="recruiter-activity-level-LOW">
	            	    		</span>
      							</td>
      							<td>
      								{{getActivityLevel('LOW')}}
      							</td>
      						</tr>
      						<tr>
      							<td>
      								<span class="recruiter-activity-level-NONE">
	            	    		</span>
      							</td>
      							<td>
      								{{getActivityLevel('NONE')}}
      							</td>
      						</tr>
      					</table>
      				</td>
      	
      			</tr>
	      	</thead>
	      	<tbody>
	      		<!-- Table row -->
	      		<ng-container *ngFor="let recruiter of getSubscriptionRecruiters()" class="recruiter-active-subscription">
	      			<tr  class="recruiter-active-subscription" (click)="toggleRecruiterDetails(recruiter.recruiter)">
	      				<td *ngIf="showActivePaidSubscription" style="width:20px"><span class="subscription{{recruiter.subscriptionStatus}}" style="padding-top:10px"></span></td>
	      				<td *ngIf="showActivePaidSubscription" class="candidate-tab-col medicol">
	      					{{recruiter.recruiter.userId}}
	      				</td>
	            	    <td *ngIf="showActivePaidSubscription" class="candidate-tab-col medicol"> {{recruiter.recruiter.firstName}} {{recruiter.recruiter.surname}}</td>
	            	    <td *ngIf="showActivePaidSubscription" class="candidate-tab-col medicol">
	            	    	<span class="recruiter-activity-level-{{recruiter.loginSummary.activityLevel}}">
	            	    	</span>
	            	    </td>
	      			</tr>	
	      			<tr *ngIf="showDetailsForRecruiter == recruiter.recruiter">
	      				<td colspan="5">
	      					<table>
								<tr>
									<th>Company Name:</th>
									<td>{{recruiter.recruiter.companyName}}</td>
								</tr>
								<tr>
									<th>Email:</th>
									<td>{{recruiter.recruiter.email}}</td>
								</tr>
								<tr>
									<th>Actions:</th>
									<td></td>
								</tr>
								<tr>
									<td colspan="2" *ngIf="showCreditBasedSubscription" class="candidate-tab-col medicol">
		            	    			<button class="btn btn-secondary delete-btn" (click)="deleteRecruiter(recruiter.recruiter.userId)" 		*ngIf="recruiterToDelete == ''">Del</button>
		            	    			<button class="btn btn-secondary delete-btn delete-confirm" (click)="confirmDeleteRecruiter()" 	*ngIf="recruiterToDelete != '' && recruiterToDelete == recruiter.recruiter.userId">Yes</button>
		            	    			<button class="btn btn-secondary delete-btn" (click)="cancelDeleteRecruiter()" 					*ngIf="recruiterToDelete != '' && recruiterToDelete == recruiter.recruiter.userId">No</button>
									</td>
								</tr>
								
								
							</table>
						</td>
	      			</tr>
      			</ng-container>
      			<ng-container *ngFor="let recruiter of getCreditBasedRecruiters()">
	      			<tr  class="recruiter-credit-based-subscription" (click)="toggleRecruiterDetails(recruiter.recruiter)">
	      				<td *ngIf="showCreditBasedSubscription" style="width:20px"><span class="subscription{{recruiter.subscriptionStatus}}"></span></td>
	      				<td *ngIf="showCreditBasedSubscription" class="candidate-tab-col medicol"><span class="candidate-id-prefix">
	      					</span>{{recruiter.recruiter.userId}}
	      				</td>
	            	    <td *ngIf="showCreditBasedSubscription" class="candidate-tab-col medicol"> {{recruiter.recruiter.firstName}} {{recruiter.recruiter.surname}}</td>
	            	    <td *ngIf="showCreditBasedSubscription" class="candidate-tab-col medicol">
	            	    	<span class="recruiter-activity-level-{{recruiter.loginSummary.activityLevel}}">
	            	    	</span>
	            	    </td>
	      			</tr>	
	      			<tr *ngIf="showDetailsForRecruiter == recruiter.recruiter">
	      				<td colspan="5">
	      					<table>
								<tr>
									<th>Company Name:</th>
									<td>{{recruiter.recruiter.companyName}}</td>
								</tr>
								<tr>
									<th>Email:</th>
									<td>{{recruiter.recruiter.email}}</td>
								</tr>
								<tr>
									<th>Actions:</th>
									<td></td>
								</tr>
								<tr>
									<td colspan="2" *ngIf="showCreditBasedSubscription" class="candidate-tab-col medicol">
		            	    			<button class="btn btn-secondary delete-btn" (click)="deleteRecruiter(recruiter.recruiter.userId)" 		*ngIf="recruiterToDelete == ''">Del</button>
		            	    			<button class="btn btn-secondary delete-btn delete-confirm" (click)="confirmDeleteRecruiter()" 	*ngIf="recruiterToDelete != '' && recruiterToDelete == recruiter.recruiter.userId">Yes</button>
		            	    			<button class="btn btn-secondary delete-btn" (click)="cancelDeleteRecruiter()" 					*ngIf="recruiterToDelete != '' && recruiterToDelete == recruiter.recruiter.userId">No</button>
									</td>
								</tr>
								
								
							</table>
						</td>
	      			</tr>
      			</ng-container>
      		</tbody>
		</table>	
	</div>
</div>