<div class="page">
	<div>
		
		<!-- Nav options -->
		<div class="nav-tabs-bar">	
			
		</div>
		
		<div class="page-body">
			
			<!-- Action buttons -->
			<div class="action-buttons">
				<button class="btn btn-secondary arenella-btn" (click)="refreshStats()">{{'arenella-stats-btn-refresh' | translate}}</button>
			</div>
			<div>
				<h3>{{'arenella-stats-current-week' | translate}}: {{todaysDate | date:'w'}}</h3>
				<div class="stat-canvas">
					<div class="statChartDiv">
						<canvas  id="leftChart" >{{ leftChart }}</canvas>	
					</div>
				</div>
		</div>
	</div>
</div>
		