<div class=".container">
	<div class='content-div'>
		<div class="recruiter-profile-buttons">
			<div class="action-buttons">
				<button class="btn btn-secondary action-btn"  					*ngIf="currentView == 'view-edit'" 	(click)="showViewMain()">Back</button>
				<button class="btn btn-secondary action-btn" 					*ngIf="currentView == 'view-edit'" 	(click)="contactCandidate(deleteProfileBox)">Delete Profile</button>
				<button class="btn btn-secondary action-btn" 		 			*ngIf="currentView == 'view-main'" 	(click)="showViewEdit()">Edit Profile</button>
				<button class="btn btn-secondary action-btn main-action_btn" 	*ngIf="currentView == 'view-edit'"  (click)="updateCandidate()">Save</button>	
			</div>
		</div>
		
		<!-- View of Profile -->
		<div *ngIf="currentView === 'view-main'">
		
			<div  class="details-left">
			
				<img class="profile-photo-details" *ngIf="candidateProfile?.photo?.imageBytes" id='base64image' src='data:image/jpeg;base64, {{candidateProfile?.photo?.imageBytes}}' />
				<br>
				<div>
					<h3 style="border:none;">{{candidateProfile.firstname | enumToHumanReadableValue}} {{candidateProfile.surname | enumToHumanReadableValue}}</h3>
				</div>
				<!-- 
				<button class="btn btn-secondary action-btn main-action_btn" style="width:300px;margin-bottom:10px;" (click)="contactCandidate(contactBox)">Contact</button>
				 -->
				<br>
				<div>
					<h3>Location</h3>
				</div>
				<div class="left-info-box">
					<table>
						<tr>
							<th>Country</th>
							<td>{{candidateProfile.country | enumToHumanReadableValue}}</td>
						</tr>
						<tr>
							<th>City</th>
							<td>{{candidateProfile.city | enumToHumanReadableValue}}</td>
						</tr>
					</table>
				</div>
				<div>
					<h3>Languages</h3>
				</div>
				<div class="left-info-box">
					<table>
						<tr>
							<th>Dutch</th>
							<td>{{getLanguageLevel('DUTCH') | enumToHumanReadableValue}}</td>
						</tr>
						<tr>
							<th>English</th>
							<td>{{getLanguageLevel('ENGLISH') | enumToHumanReadableValue}}</td>
						</tr>
						<tr>
							<th>French</th>
							<td>{{getLanguageLevel('FRENCH') | enumToHumanReadableValue}}</td>
						</tr>
					</table>
				</div>
				<div>
					<h3>Contract Types</h3>
				</div>
				<div class="left-info-box">
					
					<table>
						<tr>
							<th>Freelance/Contract</th>
							<td>{{candidateProfile.freelance | enumToHumanReadableValue}}</td>
						</tr>
						<tr>
							<th>Permanent</th>
							<td>{{candidateProfile.perm | enumToHumanReadableValue}}</td>
						</tr>
					</table>
				</div>
				<div *ngIf="candidateProfile.rate">
					<h3>Rate</h3>
				</div>
				<div class="left-info-box" *ngIf="candidateProfile.rate">
					<p>{{candidateProfile.rate.currency | enumToHumanReadableValue}}: {{candidateProfile.rate.value}} per {{candidateProfile.rate.period | enumToHumanReadableValue}}</p>
				</div>
				<div>
					<h3>Years Experience</h3>
				</div>
				<div  class="left-info-box">
					<p>{{candidateProfile.yearsExperience}}
				</div>
				<br>
				
			</div>	
				
			<div class="details-right" style="max-width:75%;min-width:300px;">
				<div style="float:center">
					<h1>{{candidateProfile.roleSought}}</h1>
					
					<!-- 
					<pre>
					{{candidateProfile.firstname}} is a {{candidateProfile.roleSought}} with {{candidateProfile.yearsExperience}} years experience 
					who is based in {{candidateProfile.country}}.
					
					</pre>
					 -->
					<div style="width:100%;margin-bottom:10px;padding:20px;">
						<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{candidateProfile.introduction}}</pre>
					</div>
				</div>
			
				<div class="action-buttons" style="padding-bottom:50px;"></div>
			</div>
		</div>
		
		<!-- Candidate Edit View -->
		<div *ngIf="currentView === 'view-edit'" id="view-create-table">
			<form [formGroup]="candidateProfileFormBean">
				<table>
					<tr>
						<th>Profile Image</th>
						<td>
							<input type="file" accept="image/jpeg,image/png" (change)="uploadProfileImage($event)">
							<!-- 
							<img class="profile-photo" *ngIf="candidateProfile?.profilePhoto?.imageBytes" id='base64image'                 
   									src='data:image/jpeg;base64, {{candidateProfile?.profilePhoto?.imageBytes}}'/>
   							 -->
						</td>
					</tr>
					<tr>
						<th>First Name</th>
						<td>
							<input type="text" formControlName="firstname" value="aaa">
						</td>
					</tr> 
					<tr>
						<th>Surname</th>
						<td>
							<input type="text" formControlName="surname">
						</td>
					</tr>
					<tr>
						<th>Email</th>
						<td>
							<input type="text" formControlName="email">
						</td>
					</tr>
					<tr>
						<th>Introduction</th>
						<td>
							<textarea formControlName="introduction"></textarea>
						</td>
					</tr>
					<tr>
						<th>Role sought</th>
						<td>
							<input type="text" formControlName="roleSought">
						</td>
					</tr>
					<tr>
						<th>Function</th>
						<td>
							<select formControlName="function">
								<option></option>
								<option *ngFor="let f of functionTypes" [ngValue]="f.id">{{f.desc}}</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>English</th>
						<td>
							<select class="new-candidate-inpt" formControlName="english">
								<option value="UNKNOWN">No</option>
								<option value="PROFICIENT">Yes</option>
								<option value="BASIC">Basic</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Dutch</th>
						<td>
							<select class="new-candidate-inpt" formControlName="dutch">
								<option value="UNKNOWN">No</option>
								<option value="PROFICIENT">Yes</option>
								<option value="BASIC">Basic</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>French</th>
						<td>
							<select class="new-candidate-inpt" formControlName="french">
								<option value="UNKNOWN">No</option>
								<option value="PROFICIENT">Yes</option>
								<option value="BASIC">Basic</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Country</th>
						<td>
							<select formControlName="country">
								<option value="NETHERLANDS">Netherlands</option>
								<option value="BELGIUM">Belgium</option>
								<option value="UK">UK</option>
								<option value="REPUBLIC_OF_IRELAND">ROI</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>City</th>
						<td>
							<input type="text" formControlName="city">
						</td>
					</tr>
					<tr>
						<th>Perm</th>
						<select class="new-candidate-inpt" formControlName="perm">
							<option value="FALSE">No</option>
							<option value="TRUE">Yes</option>
							<option value="UNKNOWN">Unknown</option>
						</select>
					</tr>
					<tr>
						<th>Freelance</th>
						<select class="new-candidate-inpt" formControlName="freelance">
							<option value="FALSE">No</option>
							<option value="TRUE">Yes</option>
							<option value="UNKNOWN">Unknown</option>
						</select>
					</tr>
					<tr>
						<th>Years Experience</th>
						<td>
							<input type="number" formControlName="yearsExperience">
						</td>
					</tr>
					<tr>
						<th>Rate Currency</th>
						<td>
							<select class="new-candidate-inpt" formControlName="rateCurrency">
								<option value=""></option>
								<option value="EUR">Euros</option>
								<option value="GBP">Pounds Sterling</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Rate Period</th>
						<td>
							<select class="new-candidate-inpt" formControlName="ratePeriod">
								<option value=""></option>
								<option value="HOUR">Per hour</option>
								<option value="DAY">Per Day</option>
								<option value="YEAR">Per Year</option>
							</select>
						</td>
					</tr>
					<tr>
						<th>Rate Amount</th>
						<td>
							<input type="number" formControlName="rateValue">
						</td>
					</tr>
				</table>
			</form>
		</div>
	</div>
</div>

<ng-template #contactBox let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Send Message To Candidate</h4>
 		<div class="filter-close-box" (click)="closeModal()">X</div>
	</div>
	<div class="modal-body" *ngIf="contactCandidateView === 'message'">
		<form [formGroup]="sendMessageGroup">
			<div style="float:left;margin:0px; margin-bottom:10px;">
				<b>Title:</b><input type="text" style="margin-left:10px;width:300px;" formControlName="title"/>
				<br>
			</div>
			<textarea formControlName="message"></textarea>
			<button class="btn btn-secondary action-btn btn-right" (click)="sendMessageToCandidate()">Send</button>
		</form>	
	</div>
	<div class="modal-body message-send-success" *ngIf="contactCandidateView === 'success'">
			<p>Message Sent Successfully</p>
			<p>You can view a copy of your message and any replies in your inbox</p>
	</div>
	<div class="modal-body" *ngIf="contactCandidateView === 'failure'">
			<p class="message-send-failure">Failed to Send Message</p>
	</div>
</ng-template> 

<ng-template #deleteProfileBox let-modal>
	<div class="modal-header">
		<h4 class="modal-title">Confirm Profile Deletion</h4>
 		<div class="filter-close-box" (click)="closeModal()">X</div>
	</div>
	<div class="modal-body" *ngIf="profileDeletionView === 'home'">
		<p>Please confirm deletion of your profile and account. Once deleted all your information will be permanently removed 
		from the system</p>
		<div>
			<button class="btn btn-secondary action-btn"  *ngIf="currentView == 'view-edit'" 							(click)="closeModal()">Cancel</button>
			<button class="btn btn-secondary action-btn"  *ngIf="currentView == 'view-edit'" style="background:red;"	(click)="confirmDeleteProfile()">Delete</button>
		</div>
	</div>
	<div class="modal-body" *ngIf="profileDeletionView === 'failure'">
		<p class="message-send-failure">
		Something went wrong. Please email kparkings@gmail.com and I will remove your profile manually. My appologie's for the inconvenience
		</p>
		
	</div>
</ng-template> 