.feedback-failure{
    background: #F0F0F0;
    color: red;
}

.feedback-success{
    background: #F0F0F0;
}

.feedbackBox{
    width:300px;
    height:500px;
}

.modal-header{
    background: #303030;
    font-size: medium;
    height: 50px;
    text-align:center;
    width:500px;
    padding:0px;
    margin:0px;
    
}

.modal-header-text{
    text-align:center;
    color:#6f42c1;
    margin-top:10px;
    width:500px;
    
}

.pendingCandidateRow:hover{
	background:#6f42c1;
	color:white;
}

.feedbackBox{
    width:200px;
    height:350px;
}

.modal-title{
	margin-left:20px;
}


.pendingCandidateBox-td{
    font-size:12px;
}

.pendingCandidateBox-th{
    font-size:12px;
    font-weight:bold;
}

.modal-body{
    font-size: large;
    height:200px;
    text-align: center;
}

.modal-body-text{
    vertical-align: middle;
    margin-top: 60px;
    font-weight: bold;
}

 .modal-header{
     background:#181414;
     color:#6A5ACD;
     font-weight:bold;
 }

 .filter-close-box{
     padding:10px;
     cursor:pointer;
     font-size:20px;
     font-weight: bold;
    text-align: right;
        
}

.wholepagerow {
    margin: 0 auto;
    width: 1040px;
}

.centerdiv{
    margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    width:90%;
}

.center-table{
    margin:0 auto;
    margin-top:50px;
}