<div class="page">

	<!-- Nav options -->
	<div class="nav-tabs-bar"></div>
	
		<div class='page-body'>
			<div *ngIf="currentView == 'add'">
						
				<div class="action-buttons">
					<button class="btn btn-secondary arenella-btn {{mobileBtnClass}}" (click)="addCandidate()">{{'arenella-new-candidate-btn-publish' | translate}}</button>
					<button class="btn btn-secondary arenella-btn {{mobileBtnClass}}" (click)="showOfferedCandidates()" *ngIf="showBackBtn">{{'arenella-new-candidate-btn-back' | translate}}</button>
				</div>
				
				<form [formGroup]="offeredCandidateFormBean">
					<table class="table new-user-table">
						<tr>
							<td class="hdr-label" colspan="2">{{'arenella-new-candidate-curriculum' | translate}}</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="file"  (change)="uploadCurriculumFile($event)">
							</td>
						</tr>
						<tr>
							<td class="hdr-label" colspan="2">{{'arenella-new-candidate-profile-image' | translate}}</td>
						</tr>
						<tr>
							<td colspan="2">
								<input type="file"  (change)="updateProfileImageFile($event)">
							</td>
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-candidate-id' | translate}}</td>
							<td class="hdr-value">{{candidateId}}</td>
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-firstname' | translate}}</td>
							<input formControlName="firstName" type="text"/>
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-surname' | translate}}</td>
							<input formControlName="surname" type="text"/>
						</tr>
						<tr *ngIf="!isRecruiter()">
							<td class="hdr-label">{{'arenella-new-candidate-email' | translate}}</td>
							<td class="hdr-value">
								<input formControlName="email" type="text"/>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-function-group' | translate}}</td>
							<td class="hdr-value">
								<select formControlName="function">
									<option></option>
									<option value="{{func.id}}" *ngFor="let func of functionTypes">{{func.desc | translate}}</option>
								</select>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-role-sought' | translate}}</td>
							<td class="hdr-value">
								<input formControlName="roleSought" type="text"/>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-country' | translate}}</td>
							<td>
								<select formControlName="country" class="new-candidate-country-list">
									<option></option>
									<option *ngFor="let country of countries" value="{{country.name}}">{{country.name | translate}}</option>
									
								</select>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-location' | translate}}</td>
							<td>
								<input  formControlName="city" type="text"/>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-permanent' | translate}}</td>
							<td>
								<select class="new-candidate-inpt" formControlName="perm" (ngModelChange)="permOnChange($event)">
									<option value="FALSE">{{'arenella-new-candidate-no' | translate}}</option>
									<option value="TRUE">{{'arenella-new-candidate-yes' | translate}}</option>
									<option value="UNKNOWN">{{'arenella-new-candidate-unknown' | translate}}</option>
								</select>
							</td>	
						</tr>
						
						<tr class="{{permRoleClass}}">
							<td class="hdr-label">{{'arenella-new-candidate-rate' | translate}}</td>
							<td>
								<select formControlName="permCurrency"  class='select-mini'>
									<option>{{'arenella-new-candidate-eur' | translate}}</option>
									<option>{{'arenella-new-candidate-gbp' | translate}}</option>
								</select>
							
								<select formControlName="permTimeUnit"  class='select-mini'>
									<option value="HOUR">{{'arenella-new-candidate-hour' | translate}}</option>
									<option value="DAY">{{'arenella-new-candidate-day' | translate}}</option>
									<option	value="YEAR">{{'arenella-new-candidate-year' | translate}}</option>
								</select>
								{{'arenella-new-candidate-from' | translate}}: <input type="number" formControlName="permFrom"> {{'arenella-new-candidate-to' | translate}}: <input type="number" formControlName="permTo">
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-contract' | translate}}</td>
							<td>
								<select class="new-candidate-inpt" formControlName="freelance" (ngModelChange)="contractOnChange($event)">
									<option value="FALSE">{{'arenella-new-candidate-no' | translate}}</option>
									<option value="TRUE">{{'arenella-new-candidate-yes' | translate}}</option>
									<option value="UNKNOWN">{{'arenella-new-candidate-unknown' | translate}}</option>
								</select>
							</td>	
						</tr>
						<tr class="{{contractRoleClass}}">
							<td class="hdr-label">{{'arenella-new-candidate-rate' | translate}}</td>
							<td>
								<select formControlName="contractCurrency" class='select-mini'>
									<option>{{'arenella-new-candidate-eur' | translate}}</option>
									<option>{{'arenella-new-candidate-gbp' | translate}}</option>
								</select>
								<select formControlName="contractTimeUnit" class='select-mini'>
									<option value="HOUR">{{'arenella-new-candidate-hour' | translate}}</option>
									<option value="DAY">{{'arenella-new-candidate-day' | translate}}</option>
									<option	value="YEAR">{{'arenella-new-candidate-year' | translate}}</option>
								</select>
							{{'arenella-new-candidate-from' | translate}}: <input type="number" formControlName="contractFrom">
							{{'arenella-new-candidate-to' | translate}}: <input type="number" formControlName="contractTo">
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-days-on-site' | translate}}</td>
							<td>
								<select  formControlName="daysOnSite">
									<option></option>
									<option value="ZERO">{{'arenella-new-candidate-fully-remote' | translate}}</option>
									<option value="ONE">{{'arenella-new-candidate-1' | translate}}</option>
									<option value="TWO">{{'arenella-new-candidate-2' | translate}}</option>
									<option value="THREE">{{'arenella-new-candidate-3' | translate}}</option>
									<option value="FOUR">{{'arenella-new-candidate-4' | translate}}</option>
									<option value="FIVE">{{'arenella-new-candidate-5' | translate}}</option>
								</select>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-available-from' | translate}}</td>
							<td>
							<input  formControlName="availableFromDate" type="date"/>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-requires-sponsorship' | translate}}</td>
							<td>
							<input  formControlName="requiresSponsorship" type="checkbox"/>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-security-clearance' | translate}}</td>
							<td>
							<select  formControlName="securityClearance">
									<option value="NONE">{{'arenella-new-candidate-sc-none' | translate}}</option>
									<option value="SC">{{'arenella-new-candidate-sc-sc' | translate}}</option>
									<option value="DV">{{'arenella-new-candidate-sc-dv' | translate}}</option>
									<option value="NATO">{{'arenella-new-candidate-sc-nato' | translate}}</option>
								</select>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label" colspan="2">{{'arenella-new-candidate-skills' | translate}}</td>
						</tr>
						<tr>
							<td class="sugg-srch-bdy" colspan="2">
								<div style="min-height:35px;">
									<div class="selected-skill" *ngFor="let skill of coreSkills" (click)="removeOfferedCandidateSkill(skill)">{{skill}}</div>
								</div>
								<input type="text" formControlName="skill">
								<button (click)="addOfferedCandidateSkill()" class="btn btn-secondary add-skill-btn">{{'arenella-new-candidate-btn-add' | translate}}</button>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-years-experience' | translate}}</td>
							<td>
								<input  formControlName="yearsExperience" type="number"/>
							</td>	
						</tr>
						<tr>
							<td class="hdr-label">{{'arenella-new-candidate-introduction' | translate}}</td>
							<td>
								<textarea formControlName="introduction"></textarea>
							</td>
						</tr>
						<tr>
							<td class="hdr-label" colspan="2">{{'arenella-new-candidate-spoken-languages' | translate}}</td>
						</tr>
						<tr *ngFor="let language of supportedLanguages">
							<td>{{language.languageCode | translate}}</td>
							<td>
								<select id="langOpt{{language.languageCode}}" #langLevelSelect (change)="setLanguageFormValue(language.languageCode, langLevelSelect.value)" >
									<option  *ngFor="let level of languageOptions" value="{{level.value}}">{{level.label | translate}}</option>
								</select>
							</td>
						</tr>
					</table>
				</form>
			</div>
	</div>
</div>

<dialog #feedbackBox>
	<div class="modal-header">
		<h4 class="modal-title">&nbsp;</h4>
   		<div class="filter-close-box" (click)="feedbackBox.close()">X</div>
 		</div>
	<div class="feedbackBox; {{feedbackBoxClass}}">
		<div class="modal-body">
			<p class="modal-body-text">{{feedbackBoxText}}</p>
		</div>       
	</div>
</dialog>

<dialog #validationBox>

	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-new-candidate-validation-errors' | translate}}</h4>
   		<div class="filter-close-box" (click)="validationBox.close()">X</div>
 		</div>
	<div class="validationBox">
		<div class="modal-body">
			<p>{{'arenella-new-candidate-required-fields' | translate}}</p>
			<ul>
				<li *ngFor="let valErr of validationErrors">{{valErr}}</li>
			</ul>
		</div>       
	</div>
</dialog>

<dialog #pendingCandidateBox>
	<div>
		<div class="modal-header">
		<h4 class="modal-title">{{'arenella-new-candidate-pending-candidates' | translate}}</h4>
   		<div class="filter-close-box" (click)="pendingCandidateBox.close()">X</div>
 	</div>
	<div class="modal-bod">
		<table class="table pendng-candidate-table" >
			<thead>
				<tr>
					<th class="pendingCandidateBox-th">&nbsp;</th>
					<th class="pendingCandidateBox-th">{{'arenella-new-candidate-first-name' | translate}}</th>
					<th class="pendingCandidateBox-th">{{'arenella-new-candidate-surname' | translate}}</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pendingCandidateRow" *ngFor="let pendingCandidate of pendingCandidates">
					<td>
						<span class="material-icons">
	      					<a class="currliculum-link" href="{{getPendingCurriculumDownloadUrl(pendingCandidate.pendingCandidateId)}}" >
	      						insert_drive_file
	      					</a>
	      				</span>
					</td>
					<td class="pendingCandidateBox-td" (click)="loadPendingCandidate(pendingCandidate)">{{pendingCandidate.firstname}}</td>
					<td class="pendingCandidateBox-td" (click)="loadPendingCandidate(pendingCandidate)">{{pendingCandidate.surname}}</td>
					<td class="pendingCandidateBox-td">
						<button class="btn btn-secondary arenella-btn arenella-btn-popup-action" (click)="deletePendingCurriculum(pendingCandidate, false)">{{'arenella-new-candidate-btn-delete' | translate}}</button>
					</td>	
				</tr>
			</tbody>
		</table>			
	</div> 
</div>
</dialog>
     