<div>
	<form [formGroup]="formBean">
		<div class="new-candidate-group">
			<div class="row">
				<div class="new-camdidate-bg-tab-hdr">User</div>
			</div>	
			<div class="row ">
				<div class="new-candidate-inpt-lbl">Curriculum</div>
				<div>
					<input type="file" style="padding-right:45px" (change)="uploadCurriculumFile($event)">
				</div>
			</div>						
			<div class="row">
				<div class="new-candidate-inpt-lbl">Candidate Id</div>
				<div><input type="text" class="new-candidate-inpt" formControlName="candidateId"/></div>
			</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">First name</div>
					<div><input type="text" class="new-candidate-inpt" formControlName="firstname"/></div>
				</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">Surname</div>
					<div><input type="text" class="new-candidate-inpt" formControlName="surname"/></div>
				</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">email</div>
					<div><input type="text" class="new-candidate-inpt" formControlName="email"/></div>
				</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">Country</div>
					<div>
						<select class="new-candidate-inpt" formControlName="country" (change)="updateCountry()">
							<option>NETHERLANDS</option>
							<option>BELGIUM</option>
							<option>UK</option>
						</select>
					</div>
				</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">City</div>
					<div><input type="text" class="new-candidate-inpt" formControlName="city"/></div>
				</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">Dutch</div>
					<div>
						<select class="new-candidate-inpt" formControlName="dutch">
							<option value="NO">No</option>
							<option value="YES">Yes</option>
							<option value="BASIC">Basic</option>
						</select>
					</div>
				</div>
			<div class="row">
					<div class="new-candidate-inpt-lbl">English</div>
					<div>
						<select class="new-candidate-inpt" formControlName="english">
							<option value="NO">No</option>
							<option value="YES">Yes</option>
							<option value="BASIC">Basic</option>
						</select>
					</div>
				</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">French</div>
				<div>
					<select class="new-candidate-inpt" formControlName="french">
						<option value="NO">No</option>
						<option value="YES">Yes</option>
						<option value="BASIC">Basic</option>
					</select>
				</div>
			</div>
		</div>
		<div class="new-candidate-group">
			<div class="row">
				<div class="new-camdidate-bg-tab-hdr">Function</div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">Permanent</div>
				<div>
					<select class="new-candidate-inpt" formControlName="perm">
						<option value="FALSE">No</option>
						<option value="TRUE">Yes</option>
						<option value="UNKNOWN">Unknown</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">Freelance</div>
				<div>
					<select class="new-candidate-inpt" formControlName="freelance">
						<option value="FALSE">No</option>
						<option value="TRUE">Yes</option>
						<option value="UNKNOWN">Unknown</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">Function</div>
				<div>
					<select formControlName="function" class="new-candidate-inpt">
						<option></option>
						<option *ngFor="let f of functionTypes" [ngValue]="f.id">{{f.desc}}</option>
					</select>
				</div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">Role Sought</div>
				<div><input type="text" class="new-candidate-inpt" formControlName="roleSought"/></div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">Years Experience</div>
				<div><input type="text" class="new-candidate-inpt" formControlName="yearsExperience"/></div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl">Skills</div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl"></div>
				<div><textarea  class="new-candidate-skills" formControlName="skills"></textarea></div>
			</div>
			<div class="row">
				<div class="new-candidate-inpt-lbl"></div>
				<div class="new-candidate-inpt btn btn-secondary btn-action" (click)="addCandidate()">Save</div>
			</div>
			
		</div>
	</form>
</div>

<ng-template #feedbackBox let-modal>

	<div class="modal-header">
		<h4 class="modal-title">&nbsp;</h4>
   		<div class="filter-close-box" (click)="closeModal()">X</div>
 		</div>
	<div class="feedbackBox; {{feedbackBoxClass}}">
		<div class="modal-body">
			<p class="modal-body-text">{{feedbackBoxText}}</p>
		</div>       
	</div>
</ng-template>

<ng-template #pendingCandidateBox let-modal>
	
	<div>
		<div class="modal-header">
		<h4 class="modal-title">Pending Candidates</h4>
   		<div class="filter-close-box" (click)="closePendingCandidateModal()">X</div>
 	</div>
	
	<div class="modal-bod">
	
		<table class="table pendng-candidate-table" >
			<thead>
				<tr>
					<th class="pendingCandidateBox-th">&nbsp;</th>
					<th class="pendingCandidateBox-th">First Name</th>
					<th class="pendingCandidateBox-th">Surname</th>
					<th class="pendingCandidateBox-th">Email</th>
					<th class="pendingCandidateBox-th">Options</th>
				</tr>
			</thead>
			<tbody>
				<tr class="pendingCandidateRow" *ngFor="let pendingCandidate of pendingCandidates">
					<td>
						<span class="material-icons">
	      					<a class="currliculum-link" href="{{getPendingCurriculumDownloadUrl(pendingCandidate.pendingCandidateId)}}" >
	      						insert_drive_file
	      					</a>
	      				</span>
					</td>
					<td class="pendingCandidateBox-td" (click)="loadPendingCandidate(pendingCandidate)">{{pendingCandidate.firstname}}</td>
					<td class="pendingCandidateBox-td" (click)="loadPendingCandidate(pendingCandidate)">{{pendingCandidate.surname}}</td>
					<td class="pendingCandidateBox-td" (click)="loadPendingCandidate(pendingCandidate)">{{pendingCandidate.email}}</td>
					<td class="pendingCandidateBox-td">
						&nbsp;
					</td>
				</tr>
			</tbody>
		</table>
			
	</div> 
</div>
	  
	
</ng-template>
     