.col-1{
    border:1px black solid;
    background-color: #ffffff;    font-size: x-small;
    text-align: center;
    margin: 0px;
    padding: 5px;
    max-width: 120px;
}


.microcol{
    max-width: 60px;
}

.medicol{
    max-width: 90px;
}
.col-2{
    border:1px black solid;
    background-color: #ffffff;    font-size: x-small;
    text-align: left;
    margin: 0px;
    padding: 5px;
    min-width: 580px;
    max-width:580px;
}

.bg-tab-hdr{
	background: #6c757d;
    color: #ffffff;
    column-width: 100px;
}

.centerdiv{
    margin: 0 auto;
}

.candidate-table{
    margin:0 auto;
    width:1400px;
    margin-top:25px;
}

.btnRight{
    margin-bottom:20px;
    margin-right:50px;
}

.fltrcol{
    background:#E8E8E8;
    text-align:center;
    height:25px;
    cursor:pointer;
}
.material-icons {
    font-size: 16px;
    color:#6c757d;
    background:#E8E8E8;
    text-align:center;
    cursor:pointer;
}

 .modal-header{
     background:#181414;
     color:#6A5ACD;
     font-weight:bold;
 }

 .modal-label{
     padding-right:10px;

     
 }

 .filtercheckbox{
    margin-right:5px;
 }


 .filterColmnSpecific{
     margin-top:25px;
     border-top:1px blak solid;
 }