<div class=".container m-2">

    <div class='candidate-table'>
            <div class="row">
                <div class="col-1 bg-tab-hdr medicol" (click)="open(mymodal)">CandidateId</div>
                <div class="col-1 bg-tab-hdr microcol">Country</div>
                <div class="col-1 bg-tab-hdr">City</div>
                <div class="col-1 bg-tab-hdr">Function</div>
                <div class="col-1 bg-tab-hdr microcol" style>Perm</div>
                <div class="col-1 bg-tab-hdr microcol">Freelance</div>
                <div class="col-1 bg-tab-hdr microcol">Years Exp</div>
                <div class="col-1 bg-tab-hdr medicol">Dutch</div>
                <div class="col-1 bg-tab-hdr medicol">English</div>
                <div class="col-1 bg-tab-hdr medicol">French</div>
                <div class="col-2 bg-tab-hdr">Skills</div>
            </div>
            <div class="row" *ngFor="let candidate of candidates">
                <div class="col-1 medicol">{{candidate.candidateId}}</div>
                <div class="col-1 microcol">{{candidate.country}}</div>
                <div class="col-1">{{candidate.city}}</div>
                <div class="col-1">{{pretifyFunction(candidate.function)}}</div>
                <div class="col-1 microcol">{{candidate.permanent}}</div>
                <div class="col-1 microcol">{{candidate.freelance}}</div>
                <div class="col-1 microcol">{{candidate.yearsExperience}}</div>
                <div class="col-1 medicol">{{candidate.getDutch()}}</div>
                <div class="col-1 medicol">{{candidate.getEnglish()}}</div>
                <div class="col-1 medicol">{{candidate.getFrench()}}</div>
                <div class="col-2">{{candidate.getSkills()}}</div>
            </div>	

    </div>

</div>


<ng-template #mymodal let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
    This is example from ItSolutionStuff.com
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Ok</button>
  </div>
</ng-template>