.campaign-btn{
	margin-right:10px;
}

.candidate-block{
	cursor:pointer;
}

.participant-block{
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	background:green;
	border:3px solid green;
	padding:10px;
	text-align:center;
	cursor:pointer;
}

.campaign-button-panel{
	clear:both;
	border-top:2px solid black;
	margin-top:20px;
	padding-top:10px;
}

.participant-selected{
	border:3px solid red;
}

.candidate-selected{
	background:grey;
}

.campaign-candidate-table{
	width:100%;
	border:1px solid black;
	margin-bottom:10px;
}

.campaign-candidate-table th{
	width:400px;
	padding:5px;
	text-align:left;
	background:#002549;
	color:white;
	font-weight:bold;
}

.public-chat-option{
	float:right;
	margin-right:10px;
	margin-top:10px;
	cursor:pointer;
}