.campaign-btn{
	margin-right:10px;
	float:right;
}

.candidate-block{
	cursor:pointer;
}

.candidate-table{
	height:250px;
	overflow-y: scroll;
	width:100%;
	margin-bottom:20px;
}

.participant-block{
	width:100px;
	height:100px;
	float:left;
	margin:10px;
	background:green;
	border:3px solid green;
	padding:10px;
	text-align:center;
	cursor:pointer;
}

.campaign-button-panel{
	clear:both;
	border-top:2px solid black;
	margin-top:20px;
	padding-top:10px;
}

.participant-selected{
	border:3px solid red;
}

.candidate-selected{
	background:grey;
}

.campaign-candidate-table{
	width:100%;
	margin-bottom:10px;
}

.campaign-candidate-table th{
	width:400px;
	padding:5px;
	text-align:left;
	background:#002549;
	color:white;
	font-weight:bold;
}

.public-chat-option{
	float:right;
	margin-right:10px;
	margin-top:10px;
	cursor:pointer;
}

.campaigin-section-hdr{
	display: inline-block;
	width:200px;
}

.document-inline{
	left:50px;
	margin:20px;
	width:100%;
	border:3px solid black;
	background:#002549;
	top:20%;
	margin-left:0%;
	height:500px;
}

.campaign_candidate_select{
	margin-left:10px;
}

.campaing_candidate_btn_selectall{
	float:right;
	margin-bottom:10px;
}

.campaign-box{
	float:left;
	padding-top:20px;
	padding-left:20px;
	width:50%;
}

.campaign-box-header{
	background:#694F90;
	padding:10px;
	margin-bottom:20px;
}

.role-box-header{
	background:#2AAA8A;
	padding:10px;
	margin-bottom:20px;
}

.campaign-arrow{
	float:right;
	margin-right:10px;
}

.campaign-btn{
	float:right;
	min-width:180px;
	
}

.modal-buttons{
	margin-bottom:10xp;
}

.campaign-ext-candidate-table{
	width:100%;
	margin-bottom:10px;
}

.campaign-ext-candidate-table th{
	width:30%;
	padding:5px;
	text-align:left;
	color:#002549;
	font-weight:bold;
}

.campaign-box-external-message-body{
	width:700px;
	height:350px;
}

.campaign-box-external-message-body-content{
	float:right;
	width:100%;
}

.campaign-box-external-message-body-content-textarea{
	width:100%;
	height:280px;
}

.campaign-box-external-message-body-buttons{
	clear:both;
}

.campaign-box-external-candidates-body{
	width:830px;
	height:350px;
}

.campaign-box-external-candidates-body-desc{
	float:left;
	width:350px;
	margin:10px;
	padding:5px;
	text-align:left;
	font-size:14px;
}

.campaign-box-external-candidates-body-form{
	float:left;
	width:400px;
	margin:10px;
	padding:5px;
	text-align:left;
}

.campaign-ext-candidate-table tr td input{
	width:250px;
}

.campaign-box-external-candidates-body-buttons{
	clear:both
}

.campaign-box-messages-body{
	width:700px;
	height:410px;
}

.campaign-box-messages-body-variables{
	text-align:left;
	list-style:none;
	margin-left:0px;
	padding-left:0px;
}

.campaign-box-messages-body-textarea-panel{
	float:right;
	width:80%;
}

.campaign-box-messages-body-textarea{
	width:100%;
	height:280px;
}

.campaign-box-messages-buttons{
	clear:both
}

.campaign-box-document-body{
	height:200px;
}

.campaign-box-document-form-table{
	text-align:left;
	width:100%;
}

.campaign-box-document-form-table-document-name{
	min-width:200px;
	margin-bottom:5px;
}

.campaign-box-document-form-table-document-filesize{
	min-width:200px;
}

.campaign-box-document-form-table-name{
	min-width:200px;
	margin-bottom:5px;
}

