
<div style="margin-top:20px;">


	<div style="width:610px;float:left">
		<app-selectionbox (selectedCampaignEmitter)="handleCampaignSelectedEmitterEvent($event)" (selectedRoleEmitter)="handleRoleSelectedEmitterEvent($event)"></app-selectionbox>
	</div>
	
	
	<div style="float:left;padding-top:20px;padding-left:20px;width:50%;" *ngIf="campaign !== undefined && role == undefined && !showInlineCVView">
	
		<div style="background:#694F90;padding:10px;margin-bottom:20px;">
			<button class="btn btn-secondary campaign-btn" (click)="showConfirmDeleteModal()" style="float:right;">Delete Campaign</button>
			<h3>{{campaign.name}}</h3>
			<pre style="color:white;white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{campaign.description}}</pre>
		</div>
		
		
		<div style="width:100%;clear:both;">
		
		
			<div style="cursor:pointer;" (click)="toggleShowParticipants()">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Participations</span>  [{{getCampaignLevelParticipation().length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="showParticipants">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="!showParticipants">arrow_drop_down</mat-icon>
			</div>
	
			<div style="clear:both;margin-top:20px;" *ngIf="showParticipants">
				<button class="btn btn-secondary campaign-btn" (click)="showAddParticipantBox()" style="float:right;">Add Participant</button>
				<button class="btn btn-secondary campaign-btn" (click)="deleteParticipation()"   style="float:right;" *ngIf="currentUserAdminForSelectedObject()">Delete Participant</button>
				<div class="participant-block {{getSelectedParticipantCSSClass(participation)}}" *ngFor="let participation of getCampaignLevelParticipation()" (click)="selectParticipation(participation)">
					{{participation.contact.firstName}} {{participation.contact.surname}} 
					<br>
					{{participation.type}}
				</div>
			</div>
		</div>
		
		<div style="width:100%;clear:both;">
			<div (click)="toggleShowCandidates()" style="cursor:pointer">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Candidates</span>  [{{campaign.candidates.length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;" *ngIf="showCandidates">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;" *ngIf="!showCandidates">arrow_drop_down</mat-icon>
			</div>
			
			<div style="clear:both;margin-top:20px;" *ngIf="showCandidates">
				<table class="campaign-candidate-table">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Title</th>
						<th>Options</th>
					</tr>
					<tr *ngFor="let candidate of campaign.candidates" class="candidate-block {{getSelectedCandidateCSSClass(candidate)}}" (click)="selectCandidate(candidate)">
						<td>{{candidate.id}}</td>
						<td>{{candidate.firstName}} {{candidate.surname}}</td>
						<td>{{candidate.jobTitle}}</td>
						<td>
							<div class="chat-icon material-icons public-chat-option" (click)="openChat(candidate)">chat</div>
						</td>
					</tr>
				</table>
				<button class="btn btn-secondary campaign-btn" (click)="deleteCandidate()" style="float:right;" *ngIf="currentUserAdminForSelectedObject()">Remove Candidate</button>
			</div>
			
		</div>
		
		<div style="width:100%;clear:both;">
			<div style="cursor:pointer;" (click)="toggleShowNotes()">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Notes</span>  [{{getCampaignLevelNotes().length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="showParticipants">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="!showParticipants">arrow_drop_down</mat-icon>
			</div>
	
			<div style="clear:both;margin-top:20px;" *ngIf="showNotes">
				<table style="width:100%;">
					<tr  *ngFor="let note of getCampaignLevelNotes()" style="cursor:pointer" (click)="showNote(note)">
						<td style="width:50px;"><mat-icon>assignment</mat-icon></td>
						<td>{{note.title}}</td>		
					</tr>
				</table>
				<button class="btn btn-secondary campaign-btn" (click)="showAddNotModal()" style="float:right;">Add Note</button>
			</div>
			<div style="clear:both;"></div>
		</div>
		
		<div style="width:100%;clear:both;">
			<div style="cursor:pointer;" (click)="toggleShowDocuments()">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Documents</span>  [{{campaign.documents.length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="showDocuments">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="!showDocuments">arrow_drop_down</mat-icon>
			</div>
	
			<div style="clear:both;margin-top:20px;" *ngIf="showDocuments">
				<table style="width:100%;">
					<tr  *ngFor="let document of campaign.documents" style="cursor:pointer"  (click)="showDocument(document)">
						<td style="width:50px;"><mat-icon>assignment</mat-icon></td>
						<td>{{document.title}}</td>		
					</tr>
				</table>
				<button class="btn btn-secondary campaign-btn" (click)="showAddDocumentModal()" style="float:right;">Add Document</button>
				<div style="clear:both;"></div>
			</div>
		</div>
		
		<div>
		
		</div>
		
		<div class="campaign-button-panel">
			<button class="btn btn-secondary campaign-btn">Add Appointment / Todo</button>
			
			
		</div>
		
	</div>
	
		<div style="float:left;padding-top:20px;padding-left:20px;width:50%;" *ngIf="role !== undefined && !showInlineCVView">
		<div style="background:#2AAA8A;padding:10px;margin-bottom:20px;">
			<button class="btn btn-secondary campaign-btn" (click)="showConfirmDeleteModal()" style="float:right;" *ngIf="currentUserAdminForSelectedObject()">Delete Role</button>
			<h3>{{role.name}}</h3>
			<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{role.description}}</pre>
		</div>
		
		<div>
			
			<div (click)="toggleShowParticipants()" style="cursor:pointer">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Participations</span>  [{{role.participations.length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;" *ngIf="showParticipants">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;" *ngIf="!showParticipants">arrow_drop_down</mat-icon>
			</div>
			<div style="clear:both;margin-top:20px;" *ngIf="showParticipants">
				<button class="btn btn-secondary campaign-btn" (click)="showAddParticipantBox()" style="float:right;">Add Participant</button>
				<button class="btn btn-secondary campaign-btn" (click)="deleteParticipation()"   style="float:right;">Delete Participant</button>
				<div class="participant-block {{getSelectedParticipantCSSClass(participation)}}" *ngFor="let participation of role.participations" (click)="selectParticipation(participation)">
					{{participation.contact.firstName}} {{participation.contact.surname}} 
					<br>
					{{participation.type}}
				</div>
			</div>
			
			
		</div>
		
		<div style="width:100%;clear:both;">
			<div (click)="toggleShowCandidates()"  style="cursor:pointer">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Candidates</span>  [{{role.candidates.length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="showCandidates">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="!showCandidates">arrow_drop_down</mat-icon>
			</div>
			
			<div style="clear:both;margin-top:20px;" *ngIf="showCandidates">
				<table class="campaign-candidate-table">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Title</th>
						<th>Options</th>
					</tr>
					<tr *ngFor="let candidate of role.candidates" class="candidate-block {{getSelectedCandidateCSSClass(candidate)}}" (click)="selectCandidate(candidate)">
						<td>{{candidate.id}}</td>
						<td>{{candidate.firstName}} {{candidate.surname}}</td>
						<td>{{candidate.jobTitle}}</td>
						<td>
							<div class="chat-icon material-icons public-chat-option" (click)="openChat(candidate)">chat</div>
						</td>
					</tr>
				</table>
				<button class="btn btn-secondary campaign-btn" (click)="deleteCandidate()" style="float:right;" *ngIf="currentUserAdminForSelectedObject()">Remove Candidate</button>
			</div>
			
		<div style="width:100%;clear:both;">
			<div style="cursor:pointer;" (click)="toggleShowNotes()">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Notes</span>  [{{role.notes.length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="showNotes">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="!showNotes">arrow_drop_down</mat-icon>
			</div>
	
			<div style="clear:both;margin-top:20px;" *ngIf="showNotes">
				<table style="width:100%;">
					<tr  *ngFor="let note of role.notes" style="cursor:pointer"  (click)="showNote(note)">
						<td style="width:50px;"><mat-icon>assignment</mat-icon></td>
						<td>{{note.title}}</td>		
					</tr>
				</table>
				<button class="btn btn-secondary campaign-btn" (click)="showAddNotModal()" style="float:right;">Add Note</button>
				<div style="clear:both;"></div>
			</div>
		</div>
		
		<div style="width:100%;clear:both;">
			<div style="cursor:pointer;" (click)="toggleShowDocuments()">
				<h5 style="float:left;"><span class="campaigin-section-hdr">Documents</span>  [{{role.documents.length}}]</h5>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="showDocuments">arrow_drop_up</mat-icon>
				<mat-icon style="float:right;margin-right:10px;"  *ngIf="!showDocuments">arrow_drop_down</mat-icon>
			</div>
	
			<div style="clear:both;margin-top:20px;" *ngIf="showDocuments">
				<table style="width:100%;">
					<tr  *ngFor="let document of role.documents" style="cursor:pointer"  (click)="showDocument(document)">
						<td style="width:50px;"><mat-icon>assignment</mat-icon></td>
						<td>{{document.title}}</td>		
					</tr>
				</table>
				<button class="btn btn-secondary campaign-btn" (click)="showAddDocumentModal()" style="float:right;">Add Document</button>
				<div style="clear:both;"></div>
			</div>
		</div>
		
		</div>
		
		<div>
		
		</div>
		
		<div class="campaign-button-panel" >
			<button class="btn btn-secondary campaign-btn">Add Appointment / Todo</button>
		</div>
		
	</div>
	
</div>


<div style="float:left;padding-top:20px;padding-left:20px;width:55%;" *ngIf="showInlineCVView">
	<div class="action-buttons">
		<button class="btn btn-secondary arenella-btn" (click)="deleteDocument()">Delete</button>
		<button class="btn btn-secondary arenella-btn" (click)="closeDocument()">{{'arenella-suggestions-inlinecv-btn-back' | translate}}</button>
	</div>		
	<object id="content"  class="document-inline" [attr.data]="trustedResourceUrl"></object>
</div>

<!-- Confirm Delete Box -->
<dialog #confirmDelete>
	<!--  Options -->
	<div class="modal-header">
		<h4 class="modal-title">Confirm Delete</h4>
		<div class="filter-close-box" (click)="confirmDelete.close()">X</div>
	</div>
	<div class="modal-body">
		<p>Please confirm Deletion.</p>
		<p>This action cannot be undone.</p>
		<button class="btn btn-secondary campaign-btn" (click)="handleCancelDelete()">Cancel</button>
		<button class="btn btn-secondary campaign-btn" (click)="handleConfirmDelete()">Confirm</button>
	</div> 
</dialog>

<!-- Add Note Box -->
<dialog #addNote>
	<!--  Options -->
	<div class="modal-header">
		<h4 *ngIf="!note" class="modal-title">Add Note</h4>
		<h4 *ngIf="note" class="modal-title">{{note.title}}</h4>
		<div class="filter-close-box" (click)="addNote.close()">X</div>
	</div>
	<div class="modal-body">
		
		<div *ngIf="note" style="text-align:left;">
			
			
			<div *ngIf="editNote">
				<div style="width:550px;margin: 0 auto;text-align:left;">
					<form [formGroup]="addNoteForm">
						<table style="margin-top:20px;margin-bottom:20px;width:550px;">
							<tr>
								<th style="padding-right:15px;font-weight:bold;">Title</th>
							</tr>
							<tr>
								<td><input type="text" value=""  style="width:100%;" formControlName="title"/></td>
							</tr>
							<tr>
								<th style="padding-right:15px;font-weight:bold;">Body</th>
							</tr>
							<tr>
								<td>
									<textarea formControlName="text" style="width:100%;"></textarea>
								</td>
							</tr>
						</table>
					</form>
				</div>
			</div>
			
			
			<div style="border:1px solid black;padding:10ox;" *ngIf="!editNote">
				<pre style="padding:5px;white-space: pre-line; font-family: Roboto, 'Helvetica Neue', sans-serif; overflow:overflow-y;height:450px;">{{note.text}}</pre>
			</div>
			<div style="margin-top:10px;">
				<button class="btn btn-secondary campaign-btn" (click)="addNote.close()" style="float:right;" *ngIf="currentUserAdminForSelectedObject()">Close</button>
				<button class="btn btn-secondary campaign-btn" (click)="deleteNote()" 	 style="float:right;" *ngIf="currentUserAdminForSelectedObject()">Remove Note</button>
				<button class="btn btn-secondary campaign-btn" (click)="toggleEditNote()" style="float:right;" *ngIf="currentUserAdminForSelectedObject() && !editNote" >Edit</button>
				<button class="btn btn-secondary campaign-btn" (click)="updateNote()" style="float:right;" *ngIf="currentUserAdminForSelectedObject() && editNote" >Update</button>
			</div>
			<div style="clear:both;margin-top:10px;margin-bottom:10px;background:green">
			
			</div>
			
		</div>
		
		<div *ngIf="!note">
			<div style="width:550px;margin: 0 auto;text-align:left;">
				<form [formGroup]="addNoteForm">
					<table style="margin-top:20px;margin-bottom:20px;width:550px;">
						<tr>
							<th style="padding-right:15px;font-weight:bold;">Title</th>
						</tr>
						<tr>
							<td><input type="text" value=""  style="width:100%;" formControlName="title"/></td>
						</tr>
						<tr>
							<th style="padding-right:15px;font-weight:bold;">Body</th>
						</tr>
						<tr>
							<td>
								<textarea formControlName="text" style="width:100%;"></textarea>
							</td>
						</tr>
					</table>
				</form>
			</div>
		
			<div>
				<button class="btn btn-secondary campaign-btn" (click)="closeAddNotModal()">Cancel</button>
				<button class="btn btn-secondary campaign-btn" (click)="handleAddNote()">Confirm</button>
			</div>
		</div>
		
	</div> 
</dialog>

<!-- Add Participant Box -->
<dialog #addParticipant>
	<!--  Options -->
	<div class="modal-header">
		<h4 class="modal-title">Add Participant</h4>
		<div class="filter-close-box" (click)="addParticipant.close()">X</div>
	</div>
	
	<div class="modal-body" *ngIf="errMshActive">
		<h3>Unable to add participant.</h3>
		<p>
		We are currently unable to add the participant. Please check the userId of the participant is correct and that the 
		user is not already an existing participant.
		</p>
		<p>
		If the problem persists please message  admin@arenella-ict.com and we will help you resolve this issue.
		</p>
	</div>
	
	<div class="modal-body" *ngIf="!errMshActive">
		<p>Please enter the user Id and assign a Role to the new participant.</p>
		<p>The User will then be able to participate in the Campaign/Role.</p>
		
		<div style="width:200px;margin: 0 auto;text-align:left;">
			<form [formGroup]="newParticipantForm">
				<table style="margin-top:20px;margin-bottom:20px;">
					<tr>
						<td style="padding-right:15px;font-weight:bold;">UserId</td>
						<td><input type="text" value=""  style="width:150px" formControlName="userId"/></td>
					</tr>
					<tr>
						<td style="padding-right:15px;font-weight:bold;">Role</td>
						<td>
							<select style="width:150px" formControlName="role">
								<option></option>
								<option value="ADMIN">Admin</option>
								<option value="EDIT">Edit</option>
								<option value="VIEW">View</option>
							</select>	
						</td>
					</tr>
				</table>
			</form>
		</div>
	
		<div>
			<button class="btn btn-secondary campaign-btn" (click)="handleCancelAddParticipant()">Cancel</button>
			<button class="btn btn-secondary campaign-btn" (click)="handleAddParticipant()">Confirm</button>
		</div>
		
	</div> 
</dialog>

<!-- Add Note Box -->
<dialog #addDocument>
	<!--  Options -->
	<div class="modal-header">
		<h4 *ngIf="!note" class="modal-title">Add Document</h4>
		<div class="filter-close-box" (click)="addDocument.close()">X</div>
	</div>
	<div class="modal-body">
	
		<div>
			<form [formGroup]="addDocumentForm">
				<table>
					<tr>
						<th>Document Name</th>
						<td><input class="" type="text" formControlName="title"></td>
					</tr>
					<tr>
						<th>PDF File (Max 1 MB)</th>
						<td>
							<input class="email-input" type="file" accept=".pdf" (change)="uploadDocumentFile($event)"> 
						</td>
					</tr>
				</table>
			</form>
		</div>
		
		<div>
			<button class="btn btn-secondary campaign-btn" (click)="closeAddDocumentModal()">Cancel</button>
			<button class="btn btn-secondary campaign-btn" (click)="handleAddDocument()">Confirm</button>
		</div>
		
		
	</div> 
</dialog>