.tabNav{
	cursor:pointer;
}

.container-div{
	margin:20px;
}

.marketplace-table{
	margin-top:20px;
	margin-bottom:20px;	
}

.bg-tab-hdr{
	border:1px black solid;
	background: #6c757d;
    color: #ffffff;
    font-size: x-small;
    white-space:nowrap;
    padding:5px;
    margin:5px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    min-width:50px;
}

.action-buttons{
	text-align:right;
}

.action-btn{
	width:150px;
	margin-top:5px;
	margin-left:5px;
	padding-left:0px;
	padding-right:5px;
} 

.small-action-btn{
	width:100px;
	margin-top:5px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:5px;
	float:right;
}

.small-action-btn-confirm-del{
	background:red;
} 

.static-item{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
.selected-skill{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
.selected-skill:hover{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:red;
 	cursor:pointer;
 	display:inline-block;
 }
 
 .add-skill-btn{
 	margin-left:5px;
 }
 
 .candidate-title{
 	color:#6f42c1;
 	word-wrap:break-word;
 }
 
 .candidate-view-div-standard{
 	float:left;
 	margin-left:10px;
 	margin-right:20px;
 	margin-top:10px;
 	margin-bottom:20px;
 	border: 1px solid black;
 	width:340px;
 	height:200px;
 	padding:40px;
 }
 
 .open-position-view-div-standard{
 	float:left;
 	margin-left:10px;
 	margin-bottom:20px;
 	border: 1px solid black;
 	width:340px;
 	min-width:48%;
 	max-width:96%;
 	height:220px;
 }
 
 .open-position-view-div-standard h3{
 	background:#6c757d;
 	padding:10px;
 }
 
 .open-position-view-div-standard p{
 	padding:10px;
 }
 
 .open-position-view-div-standard table tr td{
 	padding:10px;
 	padding-bottom:0px;
 }
 
 .candidate-view-div h3{
 	background:#6c757d;
 	padding:10px;
 }
 
 .open-position-view-div table tr td{
 	padding:10px;
 	padding-bottom:0px;
 }
 
 .candidate-view-div{
 	clear:both;
 	margin-left:10px;
 	margin-bottom:20px;
 	border: 1px solid black;
 	width:90%;
 	min-width:97%;
 	
 }

.candidate-view-div p{
	padding:10px; 	
}
  
.candidate-view-div-footer{
 	min-height:20px;
 	width:90%;
 	padding:40px;
	min-width:340px;
}
 
 .table-hdr-td{
 	font-weight:bold;
 	margin-right:15px;
}
 
.table-bdy-td{
	word-wrap:break-word;
	/*max-width:100px;*/
}

textarea {
    width:100%;
    height:200px;
}

.tabNavActive{
	color:#6f42c1;
}

td{
	font-size:14px;
}

.as-link{
	cursor:pointer;	
}
/*
.modal-title{
	margin-left:20px;
}
*/
/*
.modal-body{
	font-size: large;
	height:300px;
	text-align: center;
}
*/
/*
.modal-header{
	background:#181414;
	color:#6A5ACD;
	font-weight:bold;
}
*/
.filter-close-box{
	padding:10px;
	cursor:pointer;
	font-size:20px;
	font-weight: bold;
	text-align: right;        
}

.btn-right{
	float:right;
}

.message-send-failure{
	margin-top:100px;
	font-weight:bold;
}

.message-send-success{
	margin-top:100px;
	font-weight:bold;
}

.main-action_btn{
	background:green;
}

.main-btns{
	width:200px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:5px;
	
}

.left-box-title{
	min-width:300px;
	margin-bottom:30px;
	max-width:300px;
	color:#6A5ACD;
	font-weight:bold;
}

.left-box{
	min-width:300px;
	margin-bottom:30px;
	max-width:300px;
}

.left-box-body{
	padding:5px;
	background:#e8e8e8;
}

.left-box table{
	width:100%;
}

.left-box table th{
	width:120px;
}

.left-box h5{
	border-bottom:2px solid black;
}

.left-box-title h5{
	margin-top:20px;
	border-bottom:none;
}

.skill{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 	background:green;
 	color:white;
}

.profile-photo-details{
	width:300px;
	height:320px;
	border:2px solid lightgrey;
	margin-bottom:10px;
}

.main-btns{
	width:200px;
	margin-right:10px;
	margin-bottom:10px;
	margin-top:5px;
	
}

.modal-title{
	margin-left:20px;
}
/*
.modal-body{
	font-size: large;
	height:300px;
	text-align: center;
}
*/
/*
.modal-body-text{
	vertical-align: middle;
	margin-top: 60px;
	font-weight: bold;
}
*/
.feedbackBox{
	padding:20px;
	min-height:200px;
	font-weight:bold;
	width:100%;
}

.listing-view-title{
	margin-top:20px;
	color:#6A5ACD;
}

.listing-view-div{
	margin-top:10px;
}
