<div class="page">
	<!-- Nav options -->
	<div class="nav-tabs-bar">
		<ul class="nav nav-tabs">
		  <li class="nav-item">
		    <span class="nav-link tabNav tabNavActive" *ngIf="showDemand  && unseenOpenPositions > 0" (click)="switchTab('showDemand')"><span class="unseen-posts">{{unseenOpenPositions}}</span>{{'arenella-recruiter-mp-open-roles' | translate}}</span>
		    <span class="nav-link tabNav tabNavActive" *ngIf="showDemand  && unseenOpenPositions <= 0" (click)="switchTab('showDemand')"><span style="margin-left:20px;">&nbsp;</span>{{'arenella-recruiter-mp-open-roles' | translate}}</span>
		    <span class="nav-link tabNav" *ngIf="!showDemand && unseenOpenPositions > 0" (click)="switchTab('showDemand')"><span class="unseen-posts">{{unseenOpenPositions}}</span>{{'arenella-recruiter-mp-open-roles' | translate}}</span>
		    <span class="nav-link tabNav" *ngIf="!showDemand   && unseenOpenPositions <= 0" (click)="switchTab('showDemand')"><span style="margin-left:20px;">&nbsp;</span>{{'arenella-recruiter-mp-open-roles' | translate}}</span>
		    
		  </li>
		  <li class="nav-item">
		    <span class="nav-link tabNav tabNavActive" *ngIf="showSupply  && unseenOfferedCandidates >  0"  (click)="switchTab('showSupply')"><span class="unseen-posts">{{unseenOfferedCandidates}}</span>{{'arenella-recruiter-mp-your-candidates' | translate}}</span>
		    <span class="nav-link tabNav tabNavActive" *ngIf="showSupply  && unseenOfferedCandidates <=  0"  (click)="switchTab('showSupply')"><span style="margin-left:20px;">&nbsp;</span>{{'arenella-recruiter-mp-your-candidates' | translate}}</span>
		    <span class="nav-link tabNav" *ngIf="!showSupply  && unseenOfferedCandidates >  0" (click)="switchTab('showSupply')"><span class="unseen-posts">{{unseenOfferedCandidates}}</span>{{'arenella-recruiter-mp-your-candidates' | translate}}</span>
		    <span class="nav-link tabNav" *ngIf="!showSupply   && unseenOfferedCandidates <=  0" (click)="switchTab('showSupply')"><span style="margin-left:20px;">&nbsp;</span>{{'arenella-recruiter-mp-your-candidates' | translate}}</span>
		  </li>
		</ul>
	</div>
	<div class="page-body">
	
		<!-- Supply -->
		<div *ngIf="showSupply">
			<div class="action-buttons">
				<button class="btn btn-secondary arenella-btn" 	(click)="switchTab('addSupply')" 	*ngIf="!isAuthenticatedAsAdmin()">{{'arenella-recruiter-mp-offer-candidate' | translate}}</button>
			</div>
			<p>{{'arenella-recruiter-mp-offer-candidate-desc' | translate}}</p>
			
			<!-- List of offered Candidates -->
			<div>
				<table class="table marketplace-table">
					<thead>
						<tr>
							<th class="bg-tab-hdr">{{'arenella-recruiter-mp-offer-candidate-country' | translate}}</th>
							<th class="bg-tab-hdr">{{'arenella-recruiter-mp-offer-candidate-firstname' | translate}}</th>
							<th class="bg-tab-hdr">{{'arenella-recruiter-mp-offer-candidate-surname' | translate}}</th>
							<th class="bg-tab-hdr">{{'arenella-recruiter-mp-offer-candidate-role' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let candidate of offeredCandidates" class="as-link" (click)="viewCandidate(candidate)">
							<td class="table-bdy-td" align="center">
								<span class="flag-icon flag-icon-{{getIso2Code(candidate)}} country-flag"></span>
							</td>
							<td>{{candidate.firstname}}</td>
							<td>{{candidate.surname}}</td>
							<td>{{candidate.roleSought}}</td>
						</tr>
					</tbody>	
				</table>
			</div>
		</div>
		<!-- Show Demand  -->
		<div *ngIf="showDemand">
			<div class="action-buttons">
				<button class="btn btn-secondary arenella-btn" (click)="showJustMyOpenPositions()" 	*ngIf="!isAuthenticatedAsAdmin() && !showJustMyOpenPositionsActive">{{'arenella-recruiter-mp-btn-my-roles' | translate}}</button>
				<button class="btn btn-secondary arenella-btn" (click)="fetchOpenPositions()" 		*ngIf="showJustMyOpenPositionsActive">{{'arenella-recruiter-mp-btn-all-roles' | translate}}</button>
				<button class="btn btn-secondary arenella-btn" (click)="switchTab('addDemand')" 	*ngIf="!isAuthenticatedAsAdmin() && passedCreditCheck">{{'arenella-recruiter-mp-btn-make-request' | translate}}</button>
				<button class="btn btn-secondary arenella-btn" (click)="showNoCredits()" 			*ngIf="!isAuthenticatedAsAdmin() && !passedCreditCheck">{{'arenella-recruiter-mp-btn-request-candidate' | translate}}</button>
				<button class="btn btn-secondary arenella-btn non-mobile-only-element" (click)="showPublicity()"			*ngIf="showDemand && isAuthenticatedAsAdmin()">{{'arenella-mp-publicity' | translate}}</button>
		
			</div>
			<p>{{'arenella-recruiter-mp-roles-desc' | translate}}
			 
			</p>
			<!-- Request Candidate -->
			<div>
				<table class="table marketplace-table">
					<thead>
						<tr>
							<th class="bg-tab-hdr">{{'arenella-recruiter-mp-roles-created' | translate}}</th>
							<th class="bg-tab-hdr">{{'arenella-recruiter-mp-roles-position' | translate}}</th>
							<th class="bg-tab-hdr" *ngIf="!showJustMyOpenPositionsActive">{{'arenella-recruiter-mp-roles-country' | translate}}</th>
							<th class="bg-tab-hdr closing-date-marketplace" *ngIf="!showJustMyOpenPositionsActive">{{'arenella-recruiter-mp-roles-closing' | translate}}</th>
						</tr>
					</thead>
					<tbody>
						<tr  *ngFor="let openPosition of openPositions" class="as-link">
							<td class="table-bdy-td td-date" *ngIf="openPosition.viewed || !isNotMineOP(openPosition)" 	(click)="viewOpenPosition(openPosition)">{{openPosition.created | date: 'dd/MM/yyyy'}}</td>
							<td class="table-bdy-td td-date" *ngIf="!openPosition.viewed && isNotMineOP(openPosition)" 	(click)="viewOpenPosition(openPosition)"><b>{{openPosition.created | date: 'dd/MM/yyyy'}}</b></td>

							<td class="table-bdy-td" 		 *ngIf="openPosition.viewed || !isNotMineOP(openPosition)"	(click)="viewOpenPosition(openPosition)">{{openPosition.positionTitle}}</td>
							<td class="table-bdy-td" 		 *ngIf="!openPosition.viewed && isNotMineOP(openPosition)"	(click)="viewOpenPosition(openPosition)"><b>{{openPosition.positionTitle}}</b></td>
														
							<td class="table-bdy-td" 		 (click)="viewOpenPosition(openPosition)"align="center" *ngIf="!showJustMyOpenPositionsActive">
								<span title="{{openPosition.country}}" class="flag-icon flag-icon-{{getCountryCode(openPosition.country)}} suggestion-flag-country listing-country"></span>	
							</td>
							
							<td class="table-bdy-td td-date closing-date-marketplace">
								<span (click)="viewOpenPosition(openPosition)" *ngIf="!showJustMyOpenPositionsActive && hasValidClosingDate(openPosition) && (openPosition.viewed || !isNotMineOP(openPosition))">{{openPosition.positionClosingDate | date: 'dd/MM/yyyy'}}</span>
								<span (click)="viewOpenPosition(openPosition)" *ngIf="!showJustMyOpenPositionsActive && hasValidClosingDate(openPosition) && !openPosition.viewed && isNotMineOP(openPosition)"><b>{{openPosition.positionClosingDate | date: 'dd/MM/yyyy'}}</b></span>
							</td>
							
						</tr>
						
					</tbody>	
				</table>
			</div>
		</div>
		<!-- Add Demand  -->
		<div *ngIf="addDemand">
			<div class="action-buttons">
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" (click)="showFilterByJobSpecDialog()" download>{{'arenella-recruiter-mp-add-btn-create-by-spec' | translate}}</button>
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" (click)="publishOpenPosition()">{{'arenella-recruiter-mp-add-btn-publish' | translate}}</button>
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" (click)="showOpenPositions()">{{'arenella-recruiter-mp-add-btn-back' | translate}}</button>
			</div>
			<h3>{{'arenella-recruiter-mp-add-title' | translate}}</h3>
			<form [formGroup]="requestedCandidateFormBean">
				<table class="table marketplace-table">
					<tr>
						<td>{{'arenella-recruiter-mp-add-pos-]title' | translate}}</td>
						<td>
							<input formControlName="positionTitle" type="text"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-country' | translate}}</td>
						<td>
							<select formControlName="country">
								<option *ngFor="let opt of countryOptions" [ngValue]="opt.value">{{opt.label}}</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-location' | translate}}</td>
						<td>
							<input formControlName="location" type="text"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-contract-type' | translate}}</td>
						<td>
							<select  formControlName="contractType">
								<option></option>
								<option value="CONTRACT">{{'arenella-recruiter-mp-add-contract' | translate}}</option>
								<option value="PERM">{{'arenella-recruiter-mp-add-perm' | translate}}</option>
								<option value="BOTH">{{'arenella-recruiter-mp-add-both' | translate}}</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-salary' | translate}}</td>
						<td>
							<input formControlName="renumeration" type="text"/>
						</td>	
					</tr>
					<tr>
						<td>
							{{'arenella-recruiter-mp-add-skills' | translate}}
						</td>
						<td class="sugg-srch-bdy">
							<input type="text" formControlName="skill"><button (click)="addOfferedPositionSkill()" class="btn btn-secondary add-skill-btn" *ngIf="!isAuthenticatedAsAdmin()">{{'arenella-recruiter-mp-add-btn-add' | translate}}</button>
							<div style="min-height:35px;">
								<div class="selected-skill" *ngFor="let skill of requestedCandidateCoreSkills" (click)="removeRequestedCandidateSkill(skill)">{{skill}}</div>
							</div>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-start-date' | translate}}</td>
						<td>
							<input formControlName="startDate" type="date"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-closing-date' | translate}}</td>
						<td>
							<input formControlName="positionClosingDate" type="date"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-description' | translate}}</td>
						<td>
							<textarea formControlName="description"></textarea>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-add-comments' | translate}}</td>
						<td>
							<textarea formControlName="comments"></textarea>
						</td>	
					</tr>
				</table>
			</form>
		</div>
		<!-- Edit Demand  -->
		<div *ngIf="editDemand">
			<div class="action-buttons">
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" (click)="publishOpenPosition()">{{'arenella-recruiter-mp-add-btn-update' | translate}}</button>
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" (click)="showOpenPositions()">{{'arenella-recruiter-mp-add-btn-back' | translate}}</button>
			</div>
			<h3>{{'arenella-recruiter-mp-update-header' | translate}}</h3>
			<form [formGroup]="requestedCandidateFormBean">
				<table class="table marketplace-table">
					<tr>
						<td>{{'arenella-recruiter-mp-update-pos-title' | translate}}</td>
						<td>
							<input formControlName="positionTitle" type="text"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-country' | translate}}</td>
						<td>
							<select formControlName="country">
								<option *ngFor="let opt of countryOptions" [ngValue]="opt.value">{{opt.label}}</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-location' | translate}}</td>
						<td>
							<input formControlName="location" type="text"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-contact-type' | translate}}</td>
						<td>
							<select  formControlName="contractType">
								<option></option>
								<option value="CONTRACT">{{'arenella-recruiter-mp-update-contract' | translate}}</option>
								<option value="PERM">{{'arenella-recruiter-mp-update-perm' | translate}}</option>
								<option value="BOTH">{{'arenella-recruiter-mp-update-both' | translate}}</option>
							</select>
						</td>	
					</tr>
					<tr>
						<td>
							{{'arenella-recruiter-mp-update-skills' | translate}}
						</td>
						<td class="sugg-srch-bdy">
							<input type="text" formControlName="skill"><button (click)="addOfferedPositionSkill()" class="btn btn-secondary add-skill-btn" *ngIf="!isAuthenticatedAsAdmin()">{{'arenella-recruiter-mp-update-btn-add' | translate}}</button>
							<div style="min-height:35px;">
								<div class="selected-skill" *ngFor="let skill of requestedCandidateCoreSkills" (click)="removeRequestedCandidateSkill(skill)">{{skill}}</div>
							</div>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-salary' | translate}}</td>
						<td>
							<input formControlName="renumeration" type="text"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-start' | translate}}</td>
						<td>
							<input formControlName="startDate" type="date"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-closing' | translate}}</td>
						<td >
							<input formControlName="positionClosingDate" type="date"/>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-description' | translate}}</td>
						<td>
							<textarea formControlName="description"></textarea>
						</td>	
					</tr>
					<tr>
						<td>{{'arenella-recruiter-mp-update-comments' | translate}}</td>
						<td>
							<textarea formControlName="comments"></textarea>
						</td>	
					</tr>
				</table>
			</form>
		</div>
		<!-- Open Position Details -->
		<div *ngIf="showDemandDetails">
			<div class="action-buttons">
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" *ngIf="isMyOpenPosition()" (click)="editOpenPosition(activeOpenPosition)">{{'arenella-recruiter-mp-detils-btn-edit' | translate}}</button>
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" *ngIf="isMyOpenPosition() && confirmDeleteOpenPosition != activeOpenPosition.id"  (click)="deleteMyOpenPosition(activeOpenPosition.id)">{{'arenella-recruiter-mp-detils-btn-delete' | translate}}</button>
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}} small-action-btn-confirm-del " *ngIf="isMyOpenPosition() && confirmDeleteOpenPosition === activeOpenPosition.id" (click)="applyDeleteMyOpenPosition(activeOpenPosition.id)">{{'arenella-recruiter-mp-detils-btn-confirm' | translate}}</button>
				<button class="btn btn-secondary arenella-btn {{suggestionMobileBtnClass}}" (click)="showOpenPositions()">{{'arenella-recruiter-mp-detils-btn-back' | translate}}</button>
			</div>
			<div class="{{mobileListingLeftPaneContainer}}X">
				<!-- Left Pane -->
				<app-candidate-info-box [config]="infoItemConfig" (openContactBoxEvent)="contactRecruiter()"></app-candidate-info-box>
      		</div>
			<div class="right-body-pane">
      			<div class="listing-view-div">
					<h1 *ngIf="!isMobile" class="listing-view-title">{{activeOpenPosition.positionTitle}}</h1>
					<h1 *ngIf="isMobile" class="listing-view-title">{{'arenella-recruiter-mp-detils-desc' | translate}}</h1>
				</div>
				<div>
					<div>
						<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{activeOpenPosition.description}}</pre>
					</div>
				</div>
				<div *ngIf="activeOpenPosition.comments">
					<h1 *ngIf="isMobile" class="listing-view-title">{{'arenella-recruiter-mp-detils-comments' | translate}}</h1>
					<div>
						<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{activeOpenPosition.comments}}</pre>
					</div>
				</div>
				<div class="candidate-view-div-footer"></div>
			</div>
		</div>
	</div>
</div>

<dialog #feedbackBox>
	<div class="modal-header">
		<h4 class="modal-title">{{feedbackBoxTitle}}</h4>
 				<div class="filter-close-box" (click)="closeModal()">X</div>
		</div>
		<div class="feedbackBox; {{feedbackBoxClass}}">
		<div class="modal-body">
			<ul class='feedback-failure'>
				<li *ngFor="let errMessage of validationErrors"> {{errMessage}} </li>
			</ul><br>
		</div>       
	</div>
</dialog> 

<dialog #contactBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-recruiter-mp-box-contact-hdr' | translate}}</h4>
 		<div class="filter-close-box" (click)="closeModal()">X</div>
	</div>
	<div class="modal-body" *ngIf="contactRecruiterView === 'message'">
		<form [formGroup]="sendMessageGroup">
			<textarea formControlName="message"></textarea>
			<button class="btn btn-secondary arenella-btn contact-button" (click)="sendMessageToRecruiter()" 	*ngIf="!showJustMyOpenPositionsActive">{{'arenella-recruiter-mp-box-contact-btn-send' | translate}}</button>
		</form>	
	</div>
	<div class="modal-body message-send-success" *ngIf="contactRecruiterView === 'success'">
			<p>{{'arenella-recruiter-mp-box-msg-success-1' | translate}}</p>
			<p>{{'arenella-recruiter-mp-box-msg-success-2' | translate}}</p>
	</div>
	<div class="modal-body" *ngIf="contactRecruiterView === 'failure'">
			<p class="message-send-failure">{{'arenella-recruiter-mp-box-msg-failed' | translate}}</p>
	</div>
</dialog> 

<dialog #specUploadBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-recruiter-mp-box-spec-upld-hdr' | translate}}</h4>
 		<div class="filter-close-box" (click)="closeModal()">X</div>
	</div>
	<div class="feedbackBox">
		<div class="modal-body" *ngIf="showFilterByJobSpec">
			<input type="file" (change)="setJobSepecFile($event)">
			<br><br>
				<button class="btn btn-secondary" (click)="extractFiltersFromJobSpec()">{{'arenella-recruiter-mp-box-spec-upld-btn-extract' | translate}}</button>
			<br><br>
			<p>{{'arenella-recruiter-mp-box-spec-upld-filetype' | translate}}</p>
			<br><br>
		</div>
		<div class="modal-body" *ngIf="showFilterByJonSpecFailure">
			<p>{{'arenella-recruiter-mp-box-spec-upld-msg-failure' | translate}}</p>
		</div>
	</div>
</dialog> 
<dialog #mpPublicityBox>
	<div class="modal-header">
		<h4 class="modal-title">Publicity</h4>
 		<div class="filter-close-box" (click)="closeModal()">X</div>
	</div>
	<div class="feedbackBox">
		<div class="modal-body">
			<table class="mp-publicity">
				<tbody>
					<tr  *ngFor="let openPosition of openPositions.slice(0,10)" class="as-link">
						<td class="table-bdy-td-publicity" align="center">{{openPosition.country}}</td>
						<td class="table-bdy-td-publicity">{{openPosition.positionTitle}}</td>
					</tr>
				</tbody>
			</table>	
		</div>		
	</div>
</dialog> 
<!-- Recruiter Listing Box -->
<dialog #marketplaceBox style="max-width:500px">
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-recruiter-mp-listing' | translate}}</h4>
 		<div class="filter-close-box" (click)="closeModal()">X</div>
	</div>
	<div class="feedbackBox;">
		<div class="modal-body"  style="min-height:400px;">
			<h3>{{'arenella-recruiter-mp-listing-add' | translate}}</h3>
			<p>{{'arenella-recruiter-mp-listing-add-text' | translate}}</p>
			<div>
				<button class="btn btn-secondary arenella-btn suggestion-button" (click)="declineListing()">{{'arenella-recruiter-listing-mp-btn-decline' | translate}}</button>
				<button class="btn btn-secondary arenella-btn suggestion-button" (click)="publishListing()">{{'arenella-recruiter-listing-mp-btn-agree' | translate}}</button>
			</div>
			
		</div>
	</div>
</dialog>