.tabNav{
	cursor:pointer;
}

.container-div{
	margin:20px;
}

.marketplace-table{
	margin-top:20px;
	margin-bottom:20px;	
}

.bg-tab-hdr{
	border:1px black solid;
	background: #6c757d;
    color: #ffffff;
    font-size: x-small;
    white-space:nowrap;
    padding:5px;
    margin:5px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    min-width:50px;
}

.action-buttons{
	text-align:right;
}

.action-btn{
	width:150px;
	margin-top:5px;
	margin-left:5px;
	padding-left:0px;
	padding-right:5px;
} 

.small-action-btn{
	width:100px;
	margin-top:5px;
	margin-left:5px;
	padding-left:5px;
	padding-right:5px;
	margin-bottom:5px;
	float:right;
}

.small-action-btn-confirm-del{
	background:red;
} 

.static-item{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
.selected-skill{
	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
.selected-skill:hover{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:red;
 	cursor:pointer;
 	display:inline-block;
 }
 
 .add-skill-btn{
 	margin-left:5px;
 }
 
 .candidate-title{
 	color:#6f42c1;
 	word-wrap:break-word;
 }
 
 .candidate-view-div-standard{
 	float:left;
 	margin-left:10px;
 	margin-right:20px;
 	margin-top:10px;
 	margin-bottom:20px;
 	border: 1px solid black;
 	width:340px;
 	height:200px;
 	padding:40px;
 }
 
 .open-position-view-div-standard{
 	float:left;
 	margin-left:10px;
 	margin-top:20px;
 	margin-bottom:20px;
 	border: 1px solid black;
 	width:340px;
 	min-width:45%;
 	height:220px;
 	padding:40px;
 }
 
 .candidate-view-div{
 	clear:both;
 	margin-left:10px;
 	margin-bottom:20px;
 	border: 1px solid black;
 	padding:10px;
 	width:90%;
 	padding:40px;
 	min-width:340px;
 	
 }
 
 .candidate-view-div-footer{
 	min-height:20px;
 	width:90%;
 	padding:40px;
	min-width:340px;
 }
 
 .table-hdr-td{
 	font-weight:bold;
 	margin-right:15px;
}
 
.table-bdy-td{
	word-wrap:break-word;
	max-width:100px;
}

textarea {
    width:100%;
    height:200px;
}

.tabNavActive{
	color:#6f42c1;
}

td{
	font-size:14px;
}

.as-link{
	cursor:pointer;	
}