<div class="page">
	<!-- View Candidate of selected Item -->
	<div *ngIf="candidateId.length > 0">
		<app-suggestions [parentComponent]="'newsfeed'" [externalProvileViewCandidateId]="candidateId" (switchViewEvent)="handleswitchViewEvent()"></app-suggestions>
	</div>
	<!-- Main newsfeed -->
	<div *ngIf="candidateId.length == 0">
		<div class="nav-tabs-bar"></div>
		<div class="page-body">	
			<div class="news-feed">
				<div>
					<div class="news-feed-item" *ngFor="let item of newsFeedItems" id="{{item.id}}">
						<div class="news-feed-item-header">{{getHumanReadableType(item)}}</div>
						<!-- Candidate Available -->
						<div class="news-feed-item-body">
							<div *ngFor="let line of item.lines">
								<div *ngIf="line.type == 'TEXT'">
									
									<span *ngIf="isUnread(item)" class="news-item-body-unread">{{line.text}}</span>
									<span *ngIf="!isUnread(item)">{{line.text}}</span>
								</div>
								<div *ngIf="line.type == 'INTERNAL_URL'">
									<button *ngIf="item.itemType != 'CANDIDATE_BECAME_UNAVAILABLE'" class="btn btn-secondary arenella-btn" (click)="viewCandidateProfile(line.url, item.id)">View Profile</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div class="newsfeed-footer">&nbsp;</div>
		</div>	
	</div>
</div>
	
