.newsfeed-messages-panel{
	margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    width:50%;
    margin-top:20px;
}
.new-message-panel{
	width:100%;
	border:1px solid grey;
	height:170px;
}

.new-message-panel-textarea{
	margin: 0 auto;
	width:95%;
}
.new-message-panel textarea{
	margin-top:10px;
	height:100px;
	resize: none;
}

.new-message-panel button{
	float:right;
	margin:5px;
}

.posts-panel{
	width:100%;
	margin-top:30px;
}

.post{
	margin-top:10px;
	border-bottom:1px solid grey;
	padding:5px;
}

.newsfeed-boop-panel{
	width:23%;
	float:left;
	border:1px solid grey;
	margin-left:1%;
	min-height:300px;
}


.newsfeed-notification-panel{
	width:23%;
	float:right;
	border:1px solid grey;
	margin-right:1%;
	min-height:300px;
}


@media (max-width: 768px) {
	
}
