<div class="page">
	
	<div class="newsfeed-boop-panel">
	
	</div>
	
	<div class="newsfeed-notification-panel">
	
	</div>
	
	<div class="newsfeed-messages-panel">
		<div class="new-message-panel">
			<form [formGroup]="newMessageForm">
				<div class="new-message-panel-textarea">
					<textarea formControlName="message"></textarea>
					<button class="btn btn-secondary arenella-btn" (click)="createNewMessage()">Post</button>
				</div>
			</form>
		</div>
		
		<div class="posts-panel">
			<div class="post" *ngFor="let chat of topLevelPosts">
				{{chat.message}}
			</div>
		</div>
	</div>

	
	
</div>
	
