.news-feed{
	margin: 0 auto;
	margin-top:20px;
	width:33%;	
}

.news-feed-item{
	border:2px solid darkgreen;
	margin:20px;
}

.news-item-body-unread{
	color:blue;
}

.news-feed-item-header{
	padding:10px;
	text-align:center;
	font-weight:bold;
	background:lightgrey;
	color:black;
}

.news-feed-item-body{
	min-height:50px;
	padding:10px;
	text-align:center;
	
}

.newsfeed-footer{
	padding:20px;
}

@media (max-width: 768px) {
	.news-feed{
		margin: 0 auto;
		margin-top:20px;
		width:100%;	
	}
	
}