.chart-data-panel-page{
	margin:10px;
}

.chart-panel{
	margin-top:40px;
}

.listing-filter-panel{
	overflow:auto;
	height:200px;
	border: solid 1px grey;
	margin-bottom:50px;
}

.listing-filter-panel table {
	width:100%;
	min-width:320px;
}

.listing-filter-panel table thead tr{
	background:#6c757d;
	color:white;
	width:100%;
	text-align:center;
}

.listing-filter-panel table tbody tr{
	cursor:pointer;
	
}

.listing-filter-panel table tbody tr td{
	padding-left:10px;
}

.selectedListing{
	background:green;
}

.no-posts{
	text-align:left;
	padding: 30px;
	min-width:350px;
	max-width:500px;
	margin: auto; 
}

.no-posts h2{
	text-align:center; 
}

.action-buttons{
	text-align:right;
	margin-right:70px;
	margin-top:30px;
}

.nav-item{
	width:200px;
}

.statsChartTab{
	width:200px;
	cursor:pointer;
}

.stat-canvas{
	max-height:300px;
}