.intro{
	width:80%;
	margin-top:20px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:0px;
	text-align:center;
}

.features-body{
	margin:20px;
}

.feature{
	width:100%;
	margin-top:50px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:20px;
	clear:both;
}

.feature-main-title{
	background:lightgrey;
	height:60px;
	margin:10px;
	padding:10px;
}

.feature-image{
	float:left;
	margin:10px;
	width:45%;
}
.feature-block-text{
	width:40%;
	min-height:370px;
	float:left;
	margin-left:5%;
	margin-right:5%;
	padding-top:40px;
}