<div class="page">

    <div class="page-body">
   		<div class="intro">
   			<h1 class="public-hdr">{{ "arenella-app-menu-features" | translate }}</h1>
   		</div>
   	</div>
   	
   	<div class="features-body">
   	
   		<div class="feature">
   			<h2 class="feature-main-title">{{"feature-cv-database-title" | translate}}</h2>
			<img src="../assets/img/features/candidates.png" class="feature-image" alt="IT candidates Cv database"/>
			<div class="feature-block-text">
				<h3>{{"feature-cv-database-search-page-title" | translate}}</h3>
				<p>{{"feature-cv-database-search-page-p1" | translate}}</p>
				<p>{{"feature-cv-database-search-page-p2" | translate}}</p>
			</div>		
				
			<div class="feature-block-text">
				<img src="../assets/img/features/candidate-profile.png" class="mobile-only-element feature-image"  alt="IT candidates profile"/>
				<h3>{{"feature-cv-database-profile-page-title" | translate}}</h3>
				<p>{{"feature-cv-database-profile-page-p1" | translate}}</p>
				<ul>
					<li>{{"feature-cv-database-profile-page-itm1" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm2" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm3" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm4" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm5" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm6" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm7" | translate}}</li>
					<li>{{"feature-cv-database-profile-page-itm8" | translate}}</li>
				</ul>
			</div>
			<img src="../assets/img/features/candidate-profile.png" class="non-mobile-only-element feature-image" alt="IT candidates profile"/>
			<div style="clear:both"></div>
		</div>
   		
   		<div style="clear:both"></div>
   		
   		<div class="feature">
   			<h2 class="feature-main-title">{{"feature-jobboard-title" | translate}}</h2>
			<img src="../assets/img/features/jobboard.png" class="feature-image" alt="IT candidates job board"/>
			<div class="feature-block-text">
				<h3>{{"feature-jobboard-title" | translate}}</h3>
				<p>{{"feature-jobboard-p1" | translate}}</p>
				<p>{{"feature-jobboard-p2" | translate}}</p>
				<p>{{"feature-jobboard-p3" | translate}}</p>
			</div>
			<div style="clear:both"></div>
		</div>
   		
   		<div style="clear:both"></div>
   		
   		<div class="feature">
   			<h2 class="feature-main-title">{{"feature-marketplace-title" | translate}}</h2>
   			<img src="../assets/img/features/marketplace.png" class="mobile-only-element feature-image" alt="IT candidates marketplace"/>
			<div class="feature-block-text">
				<h3>{{"feature-marketplace-offers" | translate}}</h3>
				<p>{{"feature-marketplace-offers-p1" | translate}}</p>
				<p>{{"feature-marketplace-offers-p2" | translate}}</p>
				<h3>{{"feature-marketplace-requests" | translate}}</h3>
				<p>{{"feature-marketplace-requests-p1" | translate}}</p>
			</div>
			<img src="../assets/img/features/marketplace.png" class="non-mobile-only-element feature-image" alt="IT candidates marketplace"/>
			<div style="clear:both"></div>
		</div>
   		
   		<div style="clear:both"></div>
   		
   		<div class="feature">
   			<h2 class="feature-main-title">{{"feature-newsfeed-title" | translate}}</h2>
			<img src="../assets/img/features/newsfeed.png" class="feature-image" alt="IT newsfeed"/>
			<div class="feature-block-text">
				<h3>{{"feature-newsfeed-title" | translate}}</h3>
				<p>{{"feature-newsfeed-p1" | translate}}</p>
				<p>{{"feature-newsfeed-p2" | translate}}</p>
			</div>
			<div style="clear:both"></div>
		</div>
   		
   		<div style="clear:both"></div>
   		
   		<div class="feature">
   			<h2 class="feature-main-title">{{"feature-im-title" | translate}}</h2>
			<img src="../assets/img/features/chat-with-cv.png" class="feature-image" alt="IT candidates cv"/>
			<div class="feature-block-text">
				<h3>{{"feature-im-view-cv" | translate}}</h3>
				<p>{{"feature-im-view-cv-p1" | translate}}</p>
				<p>{{"feature-im-view-cv-p2" | translate}}</p>
			</div>
		</div>
		
		<div class="feature">
			<div class="feature-block-text">
			<h3>{{"feature-im-view-profile" | translate}}</h3>
			<img src="../assets/img/features/chat-with-profile.png" class="mobile-only-element feature-image" alt="IT candidates profile"/>
			<p>{{"feature-im-view-profile-p1" | translate}}</p>
			</div>
			<img src="../assets/img/features/chat-with-profile.png" class="non-mobile-only-element feature-image" alt="IT candidates profile"/>
			<div style="clear:both"></div>
		</div>
   		
	</div>	
</div>