<div id="pageTop" style="visibility:hidden" class="mobile-only-element"></div>
<div class="mobile-only-element mobile-header-bar">
</div>
<div class="mobile-only-element">
	<span class="material-icons" style="width:100%;">
	 	 
		<a class="mobile-menu-bar-icon" style="text-decoration:none; cursor:pointer; color:#002549;float:left;" (click)="toggleMobileMenuOpt()">
			menu
		</a>
		<a class="mobile-menu-bar-icon" style="text-decoration:none; cursor:pointer; color:#002549;float:right;" (click)="toggleMobileAuthMenuOpt()">
			account_box
		</a> 
		<a class="mobile-menu-bar-icon unread-chats-{{hasUnreadMessages()}} unread-notifications-{{getUnreadNewsFeedNotifications() > 0 }}" style="text-decoration:none; margin-top:2px; padding-right:0px; cursor:pointer; float:right;"  (click)="openNewsFeedNotifications()" *ngIf="isAuthenticated()">
           notifications
        </a> 
		<a class="mobile-menu-bar-icon unread-chats-{{unreadNewFeedItems}} unread-notifications-{{unreadNewFeedItems}}" style="text-decoration:none; margin-top:2px; padding-right:0px; cursor:pointer; float:right;"  (click)="openNewsFeed()" *ngIf="isAuthenticated()">
           bubble_chart
        </a>
		<a class="mobile-menu-bar-icon unread-chats-{{hasUnreadMessages()}}" style="text-decoration:none; margin-top:2px; padding-right:0px; cursor:pointer; float:right;"  (click)="openChat()" *ngIf="isAuthenticated()">
           chat
        </a> 
	</span>
	
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-arenella-primary nav-primary arenella-primary-background arenella-primary-colour" id="page-top" style="scrollbar-gutter: stable;">
  <h1 class="main-app-header" style="width:100%;font-family:allessa">Arenella ICT</h1>
  <button *ngIf="isShowQuickActionButton()" class="btn btn-secondary main-btn no-quick-actions-for-mobile quick-actions-btn" (click)="openQuickActions()">Quick Actions</button>
</nav>

<div class="mobile-only-element {{toggleMobileAuthMenu}}">
	<ul class="arenella-navbar arenella-secondary-background arenella-secondary-colour" (click)="resetMenu()">
 	
 		<li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/create-candidate">{{'arenella-app-menu-candidate-signup' | translate}}</a>
        </li>
        <li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/recruiter-signup">{{'arenella-app-menu-recruiter-signup' | translate}}</a>
        </li>
        <li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/suggestions">{{'arenella-app-menu-login' | translate}}</a>
        </li>
  	</ul>
</div>

<div class="app-main-menu non-mobile-only-element {{toggleMobileMenu}}">

	<ul class="arenella-navbar arenella-secondary-background arenella-secondary-colour" (click)="resetMenu()">
      
		<!-- Pre Authentication -->
		<li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/listing">{{'arenella-app-menu-jobs' | translate}}</a>
        </li>
		<li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/about">{{'arenella-app-menu-about' | translate}}</a>
        </li>
		<li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/faq">{{'arenella-app-menu-faq' | translate}}</a>
        </li>
        <li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/features">{{'arenella-app-menu-features' | translate}}</a>
        </li>
        <li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/pricing">{{'arenella-app-menu-pricing' | translate}}</a>
        </li>
        <li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std" *ngIf="!isAuthenticated()">
        	<a  class="dropdown-item dropdown-item-preauth" routerLink="/contact">{{'arenella-app-menu-contact' | translate}}</a>
        </li>
        
		<li  class="li-arenella-nav-pre-login li-arenella-nav-pre-login-std non-mobile-only-element" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item dropdown-item-preauth" routerLink="/suggestions">{{'arenella-app-menu-login' | translate}}</a>
        </li> 
        <li class="non-mobile-only-element li-arenella-nav-pre-login li-arenella-nav-pre-signup signup-candidate arenella-fourth-background arenella-fourth-colour" *ngIf="!isAuthenticated()">
           	<a class="dropdown-item dropdown-item-preauth" routerLink="/create-candidate">{{'arenella-app-menu-candidate-signup' | translate}}</a>
 	    </li>
		<li class="non-mobile-only-element li-arenella-nav-pre-login li-arenella-nav-pre-signup signup-recruiter arenella-fourth-background arenella-fourth-colour" *ngIf="!isAuthenticated()">
    		<a class="dropdown-item dropdown-item-preauth" routerLink="/recruiter-signup">{{'arenella-app-menu-recruiter-signup' | translate}}</a>
        </li>
		
		<!-- Post Authentication -->
		<li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" routerLink="/listing">{{'arenella-app-menu-job-board' | translate}}</a>
        </li>
        <li  class="li-arenella-nav {{menuItemMobileCss}}"  *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription() && !isCandidate()">	
           <a  class="dropdown-item" (click)="navToSuggestions()">{{'arenella-app-menu-suggestions' | translate}}</a>
        </li>
		<li class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription() && !isCandidate()" (click)="refreschUnreadAlerts()">
        	<a *ngIf="unseenMpPosts > 0" 	class="dropdown-item" routerLink="/recruiter-marketplace"><span class="unseen-posts">{{unseenMpPosts}}</span>{{'arenella-app-menu-mp' | translate}}</a>
			<a *ngIf="unseenMpPosts <= 0" 	class="dropdown-item" routerLink="/recruiter-marketplace">{{'arenella-app-menu-mp' | translate}}</a>
        </li>
        <li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticatedAsAdmin()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" routerLink="/statistics">{{'arenella-app-menu-statistics' | translate}}</a>
        </li>
 		<li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isCandidate()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" routerLink="/candidate-statistics">{{'arenella-app-menu-statistics' | translate}}</a>
        </li>
 		<li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticatedAsAdmin()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" (click)="navToNewCandidate()">{{'arenella-app-menu-new' | translate}}</a>
        </li>
		<li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription()" (click)="refreschUnreadAlerts()">
        	<a *ngIf="unseenEmails > 0" 	class="dropdown-item" routerLink="/email"><span class="unseen-posts">{{unseenEmails}}</span>{{'arenella-app-menu-emails' | translate}}</a>
			<a *ngIf="unseenEmails <= 0"	class="dropdown-item" routerLink="/email">{{'arenella-app-menu-emails' | translate}}</a>
        </li>
		<li  class="li-arenella-nav {{menuItemMobileCss}}"  *ngIf="isCandidate()" (click)="refreschUnreadAlerts()">	
           <a  class="dropdown-item" routerLink="/suggestions">{{'arenella-app-menu-profile' | translate}}</a>
        </li>
		<li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription() && !isCandidate()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" routerLink="/recruiter-profile">{{'arenella-app-menu-community' | translate}}</a>
        </li>
        <li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && isRecruiter() && !isRecruiterNoSubscription() && !hasUnpaidSubscription()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" routerLink="/recruiter-stats">{{'arenella-app-menu-stats' | translate}}</a>
        </li>
        
        <li  class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription()" (click)="openNewsFeed()">
        	<span class="material-icons" style="float:left;margin:0px;padding:0px;">
        		<a title="news feed notifications" class="mobile-menu-bar-icon unread-chats-{{hasUnreadMessages()}} unread-notifications-{{getUnreadNewsFeedNotifications() > 0 }} non-mobile-only-element" style="text-decoration:none; margin-top:2px; padding-right:0px; cursor:pointer; float:right;"  (click)="openNewsFeedNotifications()" *ngIf="isAuthenticated()">
        		   notifications
        		</a> 
				<a title="news feed" class="mobile-menu-bar-icon unread-chats-{{unreadNewFeedItems}} unread-notifications-{{unreadNewFeedItems}} non-mobile-only-element" style="text-decoration:none; margin-top:2px; padding-right:0px; cursor:pointer; float:right;"  (click)="openNewsFeed()" *ngIf="isAuthenticated()">
        		   bubble_chart
       			 </a>
       		</span>
       		<span style="float:left;margin:0px;padding:0px;min-width:0px;">
       			<a	class="dropdown-item" style="min-width:0px;" >{{'arenella-app-menu-news-feed' | translate}}</a>
       		</span>
        </li>
        <li class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticatedAsAdmin() && !isCandidate()" (click)="refreschUnreadAlerts()">
           <a  class="dropdown-item" routerLink="/accounts">{{'arenella-app-menu-accounts' | translate}}</a>
        </li>
		<li class="li-arenella-nav {{menuItemMobileCss}}" *ngIf="isAuthenticated() && !isAuthenticatedAsAdmin() && !isCandidate()" (click)="refreschUnreadAlerts()">
           <a class="dropdown-item recruiter-account " routerLink="/recruiter-account">{{'arenella-app-menu-account' | translate}}</a>
        </li>
        <li class="li-arenella-nav {{menuItemMobileCss}} non-mobile-only-element" *ngIf="isAuthenticated()" (click)="openChat()">
           <span class="chat-icon material-icons unread-chats-{{hasUnreadMessages()}}">chat</span>
        </li>      		
      </ul>
</div>

<router-outlet></router-outlet>

<app-inline-cv class="global-inline-cv-panel" *ngIf="showInlineCVView" [cssClass]="'cv-inline-chat'" [trustedResourceUrl]="trustedResourceUrl" (switchViewEvent)="hideInliceCV()"></app-inline-cv>
<app-private-messaging #privateChat></app-private-messaging>
<app-candidate-mini-overview *ngIf="showCandidateProfileView" class="profile-inline-chat" [candidateId]="miniProfileCandidateId"></app-candidate-mini-overview>

<dialog #tandcBox class="terms-and-conditions-box">

		<div class="cookie-policy-hdr">
			<div class="cookie-policy-title">{{'arenella-app-cookies-and-privacy' | translate}}</div> 
		</div>
		
		<div class="cookie-policy-btn"><button (click)="acceptTandCs()">{{'arenella-app-accept-terms-and-conditions' | translate}}</button></div>
		
		<div class="cookie-policy-text">
			<h5>{{'arenella-app-cookies-title1' | translate}}</h5>
			<p>{{'arenella-app-cookies-text1' | translate}}</p>
			<h5>{{'arenella-app-cookies-title2' | translate}}</h5>
			<p>{{'arenella-app-cookies-text2' | translate}}</p>
			<h5>{{'arenella-app-cookies-title3' | translate}}</h5>
			<p>{{'arenella-app-cookies-text3' | translate}}</p>
			<h5>{{'arenella-app-cookies-title4' | translate}}</h5>
			<p>{{'arenella-app-cookies-text4' | translate}}</p>
			<h5>{{'arenella-app-cookies-title5' | translate}}</h5>
			<p>{{'arenella-app-cookies-text5-a' | translate}}</p>
			<p>{{'arenella-app-cookies-text5-b' | translate}}</p>
			<h5>{{'arenella-app-cookies-title6' | translate}}</h5>
			<p>{{'arenella-app-cookies-text6' | translate}}</p>
			<h5>{{'arenella-app-cookies-title7' | translate}}</h5>
			<p>{{'arenella-app-cookies-text7' | translate}}</p>
			<h5>{{'arenella-app-cookies-title8' | translate}}</h5>
			<p>{{'arenella-app-cookies-text8' | translate}}</p>
		</div>
		
</dialog>

<!-- Reply Box -->
<dialog #validationExBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-app-validation-errors-title' | translate}}</h4>
 		<div class="filter-close-box" (click)="validationExBox.close()">X</div>
	</div>
	<div class="feedbackBox">
	
		<p>{{'arenella-app-validation-errors-text' | translate}}</p>
		<ul>
			<li *ngFor="let msg of validationExceptions">{{msg}}</li>
		</ul>
	</div>
</dialog>
<dialog #noCreditsBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-app-no-credits-title' | translate}}</h4>
 		<div class="filter-close-box" (click)="noCreditsBox.close()">X</div>
	</div>
	<div class="feedbackBox">
	
		<p>{{'arenella-app-no-credits-text' | translate}}</p>
		
		<p *ngIf="creditsCurriculum > 0" class="credits-available">{{'arenella-app-credits-curriculum' | translate:{creditsCurriculum} }}</p>
		<p *ngIf="creditsMarketplace > 0" class="credits-available">{{'arenella-app-credits-mp' | translate:{creditsMarketplace} }}</p>
		<p *ngIf="creditsJobboard> 0" class="credits-available">{{'arenella-app-credits-jobboard' | translate:{creditsJobboard} }}</p>
		<p>{{'arenella-app-credits-text-footer' | translate}}</p>
		<div style="text-align:center">
			<button class="btn btn-secondary main-btn" style="margin-left:5px; margin-top:5px;min-width:200px;" (click)="navToSubscriptions()">{{'arenella-app-credits-btn-choose-subscription' | translate}}</button>
			<button class="btn btn-secondary main-btn" style="margin-left:5px; margin-top:5px;min-width:200px;" (click)="noCreditsBox.close()">{{'arenella-app-credits-wait-for-credits' | translate}}</button>
		</div>
	</div>
</dialog>
<dialog #noChatAccessBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-app-paid-feature' | translate}}</h4>
 		<div class="filter-close-box" (click)="noChatAccessBox.close()">X</div>
	</div>
	<div class="no-chat-box">
	
		{{'arenella-app-paid-feature-text' | translate}}
		
	</div>
</dialog>
<dialog #quickActionsBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'quick-actions-title' | translate}}</h4>
 		<div class="filter-close-box" (click)="quickActionsBox.close()">X</div>
	</div>
	<div class="quick-actions-box">
		<div>
			<button *ngIf="isShowGoPro()"  class="btn btn-secondary main-btn" (click)="quickActionGoPro()"><b>Go Pro</b><br> {{'quick-action-text-gopro' | translate}}</button>
			<button *ngIf="!isShowGoPro()" class="btn btn-secondary main-btn" disabled><b>Go Pro</b><br> {{'quick-action-text-gopro' | translate}}</button>
		</div>
		<div>
			<button *ngIf="passedListingCreditCheck"  class="btn btn-secondary main-btn" (click)="quickActionJobboardPost()"><b>{{'arenella-app-menu-job-board' | translate}}</b><br> {{'quick-action-text-jobboard' | translate}}</button>
			<button *ngIf="!passedListingCreditCheck" class="btn btn-secondary main-btn" (click)="showNoCredits()"><b>{{'arenella-app-menu-job-board' | translate}}</b><br> {{'quick-action-text-jobboard' | translate}}</button>
		</div>
		<div>
			<button *ngIf="passedMarketplaceCreditCheck" class="btn btn-secondary main-btn" (click)="quickActionMarketplacePost()"><b>{{'arenella-app-menu-mp' | translate}}</b><br> {{'quick-action-text-mp' | translate}}</button>
			<button *ngIf="!passedMarketplaceCreditCheck" class="btn btn-secondary main-btn" (click)="showNoCredits()"><b>{{'arenella-app-menu-mp' | translate}}</b><br> {{'quick-action-text-mp' | translate}}</button>
		</div>
		
	</div>
</dialog>