<nav class="navbar navbar-expand-lg navbar-light bg-arenella-primary nav-primary">
  <h1>Arenella ICT Candidate Recruitment</h1>
</nav>

<div>

	<ul class="arenella-navbar">
      <li  class="li-arenella-nav" *ngIf="!isAuthenticated()  || isAuthenticatedAsAdmin()">
           <a  class="dropdown-item" routerLink="/listing">Job Board</a>
        </li>
        <li  class="li-arenella-nav" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item" routerLink="/view-candidates">Login</a>
        </li>
		<li  class="li-arenella-nav" *ngIf="!isAuthenticated()">
           <a  class="dropdown-item" routerLink="/about">About</a>
        </li>
		<li  class="li-arenella-nav"  *ngIf="isAuthenticated() && !isRecruiterNoSubscription() && !hasUnpaidSubscription()">	
           <a  class="dropdown-item" routerLink="/view-candidates">Candidates</a>
        </li>
        <li  class="li-arenella-nav" *ngIf="isAuthenticatedAsAdmin()">
           <a  class="dropdown-item" routerLink="/statistics">Statistics</a>
        </li>
 		<li  class="li-arenella-nav" *ngIf="isAuthenticatedAsAdmin()">
           <a  class="dropdown-item" routerLink="/new-candidate">New Candidate</a>
        </li>
		<li class="li-arenella-nav" *ngIf="isAuthenticatedAsAdmin()">
           <a  class="dropdown-item" routerLink="/accounts">Accounts</a>
        </li>
		<li class="li-arenella-nav" *ngIf="!isAuthenticated()" class="candidate-signup">
           <a class="dropdown-item" routerLink="/create-candidate">Candidate Signup</a>
        </li>
		<li class="li-arenella-nav" *ngIf="!isAuthenticated()" class="recruiter-signup">
           <a class="dropdown-item" routerLink="/recruiter-signup">Recruiter Signup</a>
        </li>
		<li class="li-arenella-nav" *ngIf="isAuthenticated() && !isAuthenticatedAsAdmin()">
           <a class="dropdown-item recruiter-account" routerLink="/recruiter-account">Manage Account</a>
        </li>
		<li class="li-arenella-nav" *ngIf="isAuthenticated() && !isAuthenticatedAsAdmin() && !isRecruiterNoSubscription() && !hasUnpaidSubscription()">
           <a class="dropdown-item recruiter-account" routerLink="/recruiter-listings">Manage Job Listings</a>
        </li>

      </ul>

</div>

<router-outlet></router-outlet>

<!--
<nav class="footer">
 <p>Email: kparkings@gmail.com</p>
</nav>
-->