@media (min-width:701px)  {
	
	.main-app-header{
		width:100%;
	}
	
	.arenella-primary-background{
		background:#002549;	
	}
	
	.arenella-primary-colour{
		color:white;
	}
	
	.arenella-secondary-background{
		/*background:#d2d2d2;*/
		background:white;		
	}
	
	.arenella-secondary-colour{
		color:#002549;
	}
	
	.arenella-third-background{
			background:#dee2e6;	
	}
	
	.arenella-third-colour{
		color:#6d6969;
	}
	
	.arenella-fourth-background{
			background:#a0aca0;	
	}
	
	.arenella-fourth-colour{
		color:#002549;
	}
	
	

	.terms-and-conditions-box{
		position:absolute;
		float:right;
		right:0;
		bottom:0;
		width: 500px;
		margin:auto;
		background-color: white;
		border:5px solid #6A5ACD;
		width:500px;
		height:250px;
		border-radius:25px;
	}
	
	.cookie-policy-hdr{
		color:#6A5ACD;
		text-align:center;
	}

	.cookie-policy-btn{
		margin-top:20px;
		margin-right:10px;
		width:100%;
		text-align:center;
	}

	.cookie-policy-title{
		font-size:24px;
		font-weight:bold;
		margin-top:10px;
		position:relative;
		top:5px;
		margin-left:10px;
		color:#6A5ACD;
		margin-bottom:20px;
	}

	.cookie-policy-text{
		overflow-y:scroll; 
		height:150px;
		margin:10px;
		font-size:12px;
		color:black;
	}
	
	.li-arenella-nav{
		margin-bottom:5px;
		min-width:140px;
		text-align:center;
	}
	
	.li-arenella-nav-mob{
		margin-bottom:5px;
		width:48%;
		margin-left:1%;
		margin-right:1%;
		text-align:center;
	}
	
	.li-arenella-nav-pre-login{
		margin-bottom:5px;
		float:left;
		min-width:105px;
		border-right: solid 1px grey;
		text-align:center;
		border-right: none;
	}
	
	.li-arenella-nav-pre-login-std{
		min-width:80px;
		max-width:85px;
	}
	
	.li-arenella-nav-pre-login-mob{
		margin-bottom:5px;
		width:48%;
		margin-left:1%;
		margin-right:1%;
		text-align:center;
		border-right: solid 1px grey;
	}
	
	.li-arenella-nav-pre-signup{
		font-weight:bold;
		background:none;
		float:right;
	}
	
	.signup-recruiter{
		width:200px;
	}
	
	.signup-candidate{
		width:200px;
	}
	
	.filter-close-box{
		cursor:pointer;
	}
	
	.modal-feedback{
		margin-top:50px;
		height:150px;
	}
	
	.feedbackBox{
		padding:20px;
		min-height:200px;
		font-weight:bold;
	}
	
	.feedbackBox ul{
		margin-top:20px;
	}
	
	.main-btns{
		width:155px;
		margin-right:10px;
		margin-bottom:10px;
		margin-top:5px;	
	}
	
	.credits-available{
		color:green;
	}
	
	.quick-actions-box{
		margin:20px;
		text-align:center;
		width:600px;
	}
	
	.quick-actions-box button {
		margin:10px;
		width:90%;
	}
	
	.quick-actions-box b{
		color:white;
		margin-right:20px;
	}
	
	.quick-actions-btn{
		float:right;
		width:200px;
		background:green;
	}
}