<div class="page">
	<!-- Nav options -->
	<div class="nav-tabs-bar"></div>
	
    <div class="page-body">
   		<div class="intro">
   			<h1>{{ "arenella-contact-title" | translate }}</h1>
   		</div>
   	</div>
   	 <div class="contact-div">
		  <table>
			<tr>
				<th>{{ "arenella-contact-company-name" | translate }}</th>
				<td>Arrenella-ICT</td>
			</tr>
			<tr>
				<th>{{ "arenella-contact-company-address" | translate }}</th>
				<td>Julianastraat 16, Noordwijk 2202KD, Nederland</td>
			</tr>
			<tr>
				<th>{{ "arenella-contact-company-registration-number" | translate }}</th>
				<td>61982156</td>
			</tr>
			<tr>
				<th>{{ "arenella-contact-company-registration-email" | translate }}</th>
				<td>admin&#64;arenella-ict.com</td>
			</tr>
		</table>     
	</div>
</div>