.newsfeed-messages-panel{
	margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    width:50%;
    margin-top:20px;
}

.new-message-panel{
	width:100%;
	border:1px solid grey;
	height:170px;
}

.new-message-panel-textarea{
	margin: 0 auto;
	width:95%;
}

.new-message-panel-textarea-textarea{
 padding:8px;	
}

.new-message-panel textarea{
	margin-top:10px;
	height:100px;
	resize: none;
	padding:2px;
}

.new-message-panel button{
	float:right;
	margin:5px;
}

.posts-panel{
	width:100%;
	margin-top:25px;
}

.post{
	margin-top:15px;
	border:1px solid grey;
}

.post-header{
	height:43px;
	background:#E8E8E8;
}

.public-chat-owner-name{
	padding-top:10px;
	font-weight:bold;
	float:left;
	margin-left:10px;	

}

.public-chat-option{
	float:right;
	margin-right:10px;
	margin-top:10px;
	cursor:pointer;
}

.public-chat-option-footer{
	float:right;
	margin-right:10px;
	cursor:pointer;
}

.post-message{
	padding:8px;
	min-height:100px;
	 white-space:pre-wrap;
}

.post-footer{
	height:50px;
	background:light-grey;
	border-top:1px solid grey;
}

.post-footer-item-left{
	float:left;
	margin:5px;
	color:purple;
	padding:5px;
	cursor:pointer;
}

.post-footer-item-right{
	float:right;
	margin:5px;
	color:purple;
	padding:5px;	
	cursor:pointer;
}

.chat-footer-total{
	margin-right:3px;
}

.chat-liked{
	color:grey;
}

.participant-likes{
	height:200px;
	overflow-y:scroll;
	width:100%;
}

.like-info{
	width:100%;
}

.like-info-image{
	width:50px;
	float:left;
}

.like-info-name{
	float:left;
	margin-left:10px;
}

.chat-liked-true{
	color:green;
}

.public-chat-image{
	float:left;
	width:32px;
	height:32px;
	margin-left:5px;
	margin-top:5px;
	margin-right:10px;
}

.newsfeed-boop-panel{
	width:23%;
	float:left;
	border:1px solid grey;
	margin-left:1%;
	min-height:300px;
}

.newsfeed-notification-panel{
	width:23%;
	float:right;
	border:1px solid grey;
	margin-right:1%;
	min-height:300px;
}

.header{
	background:#002549;
	height:50px;
	font-weight:bold;
	color:white;
	text-align:center;
	line-height:50px;
}

.edit-message-panel-textarea{
	margin-top:10px;
	resize: none;
	border:1px solid grey;
	padding:5px;
}

.edit-message-panel-textarea-textarea{
	margin: 0 auto;
	width:100%;
	height:200px;
}

.edit-chat-button{
	float:right;
	margin-right:10px;	
}

.like-participant-name{
	float:left;
	margin-top:5px;
	margin-left:10px;
}

.like-participant-chat{
	float:right;
	margin-top:5px;
	margin-right:10px;
}

.replyCssClassOdd{
	background:#E8E8E8;
}

.replyCssClassEven{
	background:#A39C94;
}

@media (max-width: 768px) {
	.newsfeed-boop-panel{
		display:none;
	}
	
	.newsfeed-notification-panel{
		display:none;
	}
	
	.new-message-panel textarea{
		margin-top:10px;
		height:100px;
		width:100%;
		resize: none;
		padding:2px;
	}
	
	.newsfeed-messages-panel{
		width:100%;
	}
	
	.arenella-btn {
        width: 70px;
    }
	
}
