<div class="post" *ngFor="let chat of topLevelPosts" id="chat-id-{{chat.id}}">
	<div class="post-header replyCssClass{{replyCssClass}} current-notification-{{isCurrentNotification(chat)}}">
		<img class="public-chat-image" *ngIf="hasImage(chat)"  id='base64image' src='data:image/jpeg;base64, {{getChatParticipantPhoto(chat)}}' />
		<img class="public-chat-image" *ngIf="!hasImage(chat)" id='base64image' src="../assets/img/default-user-image.jpg"  />
		<div class="public-chat-owner-name mobile-only-element">{{cappedLengthStringMobile(chat.owner.firstName + " " + chat.owner.surname)}}</div>
		<div class="public-chat-owner-name non-mobile-only-element">[ {{chat.owner.type | translate}} ] - {{chat.owner.firstName}} {{chat.owner.surname}}</div>
		<div class="chat-icon material-icons public-chat-option" *ngIf="!isOwnMessage(chat) && !isCandidate() && chatIsNotOwnerByRecruiter(chat)" (click)="openChat(chat)">chat</div>
		<div class="chat-icon material-icons public-chat-option" *ngIf="isOwnMessage(chat)" (click)="openDeleteOptionBox(chat)">delete</div>
		<div class="chat-icon material-icons public-chat-option" *ngIf="isOwnMessage(chat)" (click)="showEditView(chat)">edit</div>
	</div>
	
	<!-- View Mode -->
	<div class="post-message-created" *ngIf="!isInEditMode(chat)" >
		<span style="float:right;margin:10px;color:lightgrey">{{chat.created | date: 'dd / MM / yyyy'}}</span>
	</div>
	
	<div class="post-message" *ngIf="!isInEditMode(chat)">{{chat.message}}</div>
	
	<!-- Edit Mode -->
	<div class="edit-post-panel" *ngIf="isInEditMode(chat)">
		<form [formGroup]="editChatForm">
			<div class="edit-message-panel-textarea">
				<textarea class="edit-message-panel-textarea-textarea" formControlName="message">{{chat.message}}</textarea>
			</div>
		</form>
	</div>
	
	<!-- Reply Mode -->
	<div class="reply-post-panel" *ngIf="isInReplyMode(chat)">
		<form [formGroup]="replyChatForm">
			<div class="reply-message-panel-textarea">
				<textarea class="edit-message-panel-textarea-textarea" formControlName="message">{{chat.message}}</textarea>
			</div>
		</form>
	</div>
	
	<div class="post-footer">
		<div *ngIf="!isInEditMode(chat) && !isInReplyMode(chat)">
			
			<div class="post-footer-item-left post-footer-item-left-disabled" *ngIf="getReplyCount(chat) == 0">
				<span class="chat-footer-total">({{getReplyCount(chat)}})</span>
				<span>{{'REPLIES' | translate}}</span>
			</div>
			
			<div class="post-footer-item-left" (click)="toggleReplies(chat)" *ngIf="getReplyCount(chat) != 0">
				<span class="chat-footer-total">({{getReplyCount(chat)}})</span>
				<span>{{'REPLIES' | translate}}</span>
			</div>
		
			<div class="post-footer-item-left">
				<span class="chat-footer-total" *ngIf="chat.likes.length != 0" (click)="openLikesOptionBox(chat)">({{chat.likes.length}})</span>
				<span class="chat-footer-total post-footer-item-left-disabled" *ngIf="chat.likes.length == 0" >({{chat.likes.length}})</span>
				<span class="chat-icon material-icons public-chat-option-footer chat-liked-{{isLikedByUser(chat)}}" (click)="toggleLikeForChat(chat)">thumb_up</span>
			</div>
			
			<span class="post-footer-item-right" (click)="showReplyView(chat)">{{'REPLY' | translate}}</span>
			
		</div>
		
		<div *ngIf="isInEditMode(chat)">
			<button class="btn btn-secondary arenella-btn edit-chat-button" (click)="showFeedView()">{{'BACK' | translate}}</button>
			<button class="btn btn-secondary arenella-btn edit-chat-button" (click)="saveChatUpdate(chat)">{{'SAVE' | translate}}</button>
		</div>	
		<div *ngIf="isInReplyMode(chat)">
			<button class="btn btn-secondary arenella-btn edit-chat-button" (click)="showFeedView()">{{'BACK' | translate}}</button>
			<button class="btn btn-secondary arenella-btn edit-chat-button" (click)="saveChatReply(chat)">{{'SAVE' | translate}}</button>
		</div>	
	</div>

	<div *ngIf="chat.showReplies">
		<div style="border-top:1px solid grey;margin-top:5px;width:100%;height:30px;" (click)="toggleReplies(chat)">
			<span style="float:right;font-weight:bold;cursor:pointer;margin-top:10px;margin-right:10px;">{{'CLOSE' | translate}}</span>
		</div>
		<div>
			<app-public-posts [topLevel]="'False'" [currentTopLevelChatId]="chat.id" [notificationPath]="notificationPath" [parentCss]="replyCssClass"></app-public-posts>
		</div>
		
	</div>
	
</div>

<dialog #publicChatDeleteConfirmBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'confirm-box-header' | translate}}</h4>
		<div class="filter-close-box" (click)="closeDeleteOptionBox()">X</div>
	</div>
	<div class="modal-body">
		<div class="confirm-chat-delete-box">
			<button class="btn btn-secondary arenella-btn" (click)="closeDeleteOptionBox()">{{'cancel-btn' | translate}}</button>
			<button class="btn btn-secondary arenella-btn" (click)="deleteChat()">{{'confirm-btn' | translate}}</button>
		</div>
	</div>	
</dialog>

<dialog #publicChatLikes>
	<div class="modal-header">
		<h4 class="modal-title"></h4>
		<div class="filter-close-box" (click)="closeLikesOptionBox()">X</div>
	</div>
	<div class="modal-body participant-likes">
		<div *ngFor="let participant of likeChatParticipants">
		
			<div style="clear:both">
				<div style="float:left;">
					<img class="public-chat-image" *ngIf="participant.photo"  id='base64image' src='data:image/jpeg;base64, {{participant.photo.imageBytes}}' />
					<img class="public-chat-image" *ngIf="!participant.photo" id='base64image' src="../assets/img/default-user-image.jpg"  />
				</div>
				<div class="like-participant-name">
					{{participant.firstName}} {{participant.surname}}
				</div>
				<div class="like-participant-chat">
					<div class="chat-icon material-icons public-chat-option" *ngIf="!isChatPossible(participant)" (click)="openChatChatParticipant(participant)">chat</div>
				</div>
			</div>
		</div>
	</div>	
</dialog>