 .add-campaign-box{
 	height:400px;
 }
 
 .campaign-selectionbox-btn{
 	float:right;
 	margin:5px;
 	margin-bottom:10px;
 }
 
 .campaign-selectionbox-addcampaign-btn{
 	float:right;
 	margin:20px;
 }
 
 
 .campaign-selectionbox-vert-btn{
 	float:right;
 	margin-right:20px;
 	margin-bottom:5px;
 }
 
 .add-campaign-div{
 	padding:10px;
 }

 .add-campaign-div table{
 	width:100%;
 }

.add-campaign-div-textarea{
 	width:100%;
 	
 }
 
 .add-campaign-div table tr td{
 	padding-top:10px;
 }
  
 .add-campaign-div table tr th{
 	width:100px;
 }
 
 .add-campaign-div table tr td input{
 	width:300px;
 }
 
 .campaign-selection-panel{
 	height:400px;
 	width:530px;
 	overflow-y: auto;
 	
 }
 
 .campaign-selection{
 	width:490px;
 	height:80px;
 	padding-left:20px;
 	padding-right:20px;
 	margin:20px;
 	font-size:36px;
 	font-weight:bold;
 	text-align:center;
 	background:#694F90;
 	cursor:pointer;
 	line-height:80px;
 }
 
 .role-selection{
 	background:#2AAA8A;
 }
 
