<div class="page">

    <div class="page-body">
   		<div class="intro">
   			<h1 class="public-hdr">{{ "arenella-contact-pricing" | translate }}</h1>
   		</div>
   	</div>
   	
	<div class="pricing-table">
		<table>
			<tr class="pricing-table-main-header" >
				<th style="background:#002549"></th>
				<th style="background:#002549">{{"pricing-free-tier" | translate}}</th>
				<th style="background:#002549;color:white;">
					{{"pricing-paid-tier" | translate}}
				</th>
			</tr>
			<tr>
				<th class="pricing-feature" style="background:#002549;color:white;">{{"pricing-euros-per-month" | translate}}</th>
				<th style="background:#002549;color:white;">0</th>
				<th style="background:#002549;color:white;">
					10
				</th>
			</tr>
			<tr>
				<th class="pricing-feature pricing-feature-group" colspan="3">Features</th>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-cv-downloads" | translate}}</td>
				<td>8 {{"pricing-per-week" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-jobboard" | translate}} {{"pricing-jobboard-posts" | translate}}</td>
				<td>2 {{"pricing-per-week" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-marketplace" | translate}} {{"pricing-marketplace-posts" | translate}}</td>
				<td>2 {{"pricing-per-week" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-newsfeed" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-im" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">close</span></td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
			<tr>
				<th class="pricing-feature pricing-feature-group" colspan="3">{{"pricing-candidate-types" | translate}}</th>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-access-available-candidates" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
			<tr>
				<td class="pricing-feature">{{"pricing-access-unavailable-candidates" | translate}}</td>
				<td><span class="chat-icon material-icons public-chat-option">close</span></td>
				<td><span class="chat-icon material-icons public-chat-option">check</span></td>
			</tr>
		</table>
		<p class="pricing-vat">{{"pricing-vat" | translate}} </p>
		
	</div>

</div>