<div *ngIf="currentView === 'saved-candidates'">
	
	<div class="action-buttons">
		<button class="btn btn-secondary arenella-btn" (click)="handleswitchViewEvent()">{{'arenella-suggestions-saved-candidate-btn-back' | translate}}</button>
	</div>	 
	<br>
	<div style="margin-top:0px;">
		<div class="suggestion-icon" *ngFor="let savedCandidate of savedCandidates" >
			<!--  Standard -->
			<div *ngIf="!isNoLongerAvailableSC(savedCandidate)" (click)="showSuggestedCandidateOverviewSavedCandidate(savedCandidate)">
				<div class="saved-candidate-icon-header">
					C{{savedCandidate.candidate.candidateId}}
				</div>
				<div class="suggestion-icon-body">
					<div>
						{{savedCandidate.candidate.firstname}} {{savedCandidate.candidate.surname}}
					</div>
					<div>
						{{savedCandidate.candidate.roleSought}}
					</div>
				</div>
			</div>
			<!--  Unavailable -->
			<div style="cursor:default">
				<div *ngIf="isNoLongerAvailableSC(savedCandidate)" style="cursor:default">
					<div class="saved-candidate-icon-header-disabled">
						C{{savedCandidate.candidate.candidateId}}
					</div>
					<div class="suggestion-icon-body-disabled">
						<div>
							{{'saved-candidate-no-longer-available' |translate}}
						</div>
						<div>
							{{savedCandidate.candidate.roleSought}}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="suggestion-result-footer">&nbsp;</div>
</div>

<div *ngIf="currentView === 'suggested-canidate-overview'">
	<app-candidate-profile (backEvent)="showSavedCandidates()" [parentComponent]="'savedCandidates'"[infoItemConfig]="infoItemConfig" [suggestedCandidate]="suggestedCandidate" [candidateProfile]="candidateProfile" [skillFilters]="skillFilters"></app-candidate-profile>
</div>

			
