<div class="page">

	<!-- Nav options -->
	<div class="nav-tabs-bar"></div>
	
    <div class="page-body">
    	<div>
        	<div  class="subject-header">
            	<h1>{{ "arenella-home-title" | translate }}</h1>
            	<h5>{{ "arenella-home-sub-title" | translate }}</h5>
            </div>
           	<p>{{ "arenella-home-intro-1" | translate }}
            
            </p>
            <p>{{ "arenella-home-intro-2" | translate }}
            
            </p>
            <p>{{ "arenella-home-intro-3" | translate }}
            
            </p>
            <p>{{ "arenella-home-intro-4" | translate }}
            
            </p>
		</div>
    </div>
</div>