<div class=".container m-2" >

	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <span class="nav-link tabNav" (click)="switchTab('recruiters')">Recruiters</span>
	  </li>
	  <li class="nav-item tabNav">
	    <span class="nav-link" (click)="switchTab('candidates')">Candidates</span>
	  </li>
	  <li class="nav-item tabNav">
	    <span class="nav-link" (click)="switchTab('flaggedAsUnavailable')">Flagged as unavailable</span>
	  </li>
	</ul>
	
	<!-- Recruiters-->
	<div *ngIf="showRecruitersTab">
		<h3>Create Account</h3>
		<form [formGroup]="createRecruiterAccountForm">
			<table class="table create-recruiter-account-table">
				<tr>
					<td>
						<label>Username</label>
					</td>
					<td>
						<input type="input" formControlName="proposedUserName"/>
					</td>
					<td>
						<button (click)="createRecruiterAccount()">Create Account</button>
					</td>
				</tr>
				<tr *ngIf="createAccountDetailsAvailable">
					<td>
						Username
					</td>
					<td>
						{{recruiterUsername}}
					</td>
				</tr>
				<tr *ngIf="createAccountDetailsAvailable">
					<td>
						Password
					</td>
					<td>
						{{recruiterPassword}}
					</td>
				</tr>
			</table>
		</form>
	</div>
	
	<!-- Candidates-->
	<div *ngIf="showCandidatesTab">
		<form [formGroup]="candidateFormGroup">
			<h3>Candidates</h3>
			<span>
				<label 	class="control-spacing">Firstname</label>
				<input 	class="control-spacing" type="text" formControlName="firstname"/>
				<label 	class="control-spacing">Surname</label>
				<input 	class="control-spacing" type="text" formControlName="surname"/>
				<label 	class="control-spacing">email</label>
				<input 	class="control-spacing" type="text" formControlName="email"/>
				<button	class="control-spacing" (click)="fetchCandidates()">Filter</button>
			</span>
			
		</form>
		<!-- Candidates table -->  
	<div>
      
		<table class="table candidate-table">
			<thead>
	      		<tr>
	      			<!-- Table Headers -->
	      			<th class="bg-tab-hdr">CandidateId</th>
	      			<th class="bg-tab-hdr">Firstname</th>
	                <th class="bg-tab-hdr">Surname</th>
	                <th class="bg-tab-hdr">Email</th>
	                <th class="bg-tab-hdr">Actions</th>
	              
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<!-- Table row -->
	      		<tr *ngFor="let candidate of candidates">
	      			<td class="candidate-tab-col"><span class="candidate-id-prefix">C</span>{{candidate.candidateId}}</td>
	                <td class="candidate-tab-col mini-col"> {{candidate.firstname}}</td>
	                <td class="candidate-tab-col medicol">{{candidate.surname}}</td>
	                <td class="candidate-tab-col medicol">{{candidate.email}}</td>
	                <td class="candidate-tab-col medicol">
	                	<div [ngSwitch]="candidate.available">
	                		<div  *ngSwitchCase="true">
	                			<button	class="control-spacing" (click)="disableCandidate(candidate.candidateId)">Disable</button>
	                		</div>
	                		<div  *ngSwitchCase="false">
	                			<button	class="control-spacing" (click)="disableCandidate(candidate.candidateId)">Enable</button>
	                		</div>
	                	</div>
	                </td>
	      		</tr>	
	      	</tbody>
		</table>
	</div>
	</div>
	
	<!-- Flagged as Unavailable-->
	<div *ngIf="showFlaggedAsUnavailableTab">
		<form [formGroup]="candidateFormGroup">
			<h3>Flagged as Unavailable</h3>
			
			<table class="table candidate-table">
			<thead>
	      		<tr>
	      			<!-- Table Headers -->
	      			<th class="bg-tab-hdr">CandidateId</th>
	      			<th class="bg-tab-hdr">Firstname</th>
	                <th class="bg-tab-hdr">Surname</th>
	                <th class="bg-tab-hdr">Email</th>
	                <th class="bg-tab-hdr">Actions</th>
	              
	      		</tr>
	      	</thead>
	      	<tbody>
	      		<!-- Table row -->
	      		<tr *ngFor="let candidate of candidates">
	      			<td class="candidate-tab-col"><span class="candidate-id-prefix">C</span>{{candidate.candidateId}}</td>
	                <td class="candidate-tab-col mini-col"> {{candidate.firstname}}</td>
	                <td class="candidate-tab-col medicol">{{candidate.surname}}</td>
	                <td class="candidate-tab-col medicol">{{candidate.email}}</td>
	                <td class="candidate-tab-col medicol">
	                	<button	class="control-spacing" (click)="disableFlaggedAsUnavailableCandidate(candidate.candidateId)">Disable</button>
	                	<button	class="control-spacing" (click)="removeFlaggedAsUnavailableFlag(candidate.candidateId)">Remove Flag</button>
	                </td>
	      		</tr>	
	      	</tbody>
		</table>
			
		</form>
		<!-- Candidates table -->  
	<div>
	
</div>