<div>
	<div class="centerdiv">
		<div class="center-table">
    
    		<form [formGroup]="formBean">

	<div class=".container m-2">

        <div class="login-table">

            <div class="row">

                <div class="col leftcol">
                    Username
                </div>
                <div class="col rightcol">
                    <input type="text" formControlName="username"/>
                </div>

            </div>

            <div class="row">

                <div class="col leftcol">
                    Password
                </div>
                <div class="col rightcol">
                    <input type="password" formControlName="password"/>
                </div>

            </div>

            <div>
                <div class="row">
                    <div class="col leftcol">&nbsp;</div>
                    <div class="col right"><button class="loginbutton" (click)="login()">Login</button></div>
                </div>
            </div>
        </div>
    </div>
</form>

<ng-template #feedbackBox let-modal>
	<div class="modal-header">
		<h4 class="modal-title">&nbsp;</h4>
   		<div class="filter-close-box" (click)="closeModal()">X</div>
 	</div>
	<div class="feedbackBox">
		<div class="modal-body">
			Invalid Login attempt
		</div>       
	</div>
</ng-template>

     	</div>
    </div>
</div>


