
.leftcol{
    text-align:right;
    margin-right:5px;
    margin-bottom:5px;    
}

.rightcol{
    text-align:left;
    margin-right:5px;
    margin-bottom:5px;
}

input{
    width:300px;
}

.loginbutton{
	margin-top:20px;
    float:right;
    margin-right:20px;
}

.modal-header{
    background: #303030;
    font-size: medium;
    height: 50px;
    text-align:center;
    padding:0px;
    margin:0px;
}

.modal-header-text{
    text-align:center;
    color:#6f42c1;
    margin-top:10px;
    width:500px;
}

.modal-body{
	margin-top:100px;
	font-size: large;
    height:200px;
    text-align: center;
}

.modal-body-text{
    vertical-align: middle;
    margin-top: 60px;
    font-weight: bold;
}

 .modal-header{
     background:#181414;
     color:#6A5ACD;
     font-weight:bold;
 }

 .filter-close-box{
     cursor:pointer;
     margin-right:10px;
     margin-top:10px;  
}

.wholepagerow {
    margin: 0 auto;
    width: 320px;
}

.centerdiv{
    margin: 0 auto;
    padding-left:20px;
    padding-right:10px;
    margin-top:50px;
}

.center {
  margin: auto;
  width: 50%;
  padding: 10px;
  padding-top:50px;
}

.inpt-tab-std{
	max-width:220px;
}

.forgotten-password-link{
	color:blue;
	cursor:pointer;
	text-align:right;
	padding-top:20px;
}

.forgotten-password-link:hover{
	color:darkblue;
	cursor:pointer;
	text-align:right;
	padding-top:20px;
}

.forgotten-password-button{
	width:135px;
}

.new-subscription {
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;	
}

.new-subscription h2{
	color: green;
	
}

.new-subscription h3{
	font-size:14px;
}

dialog {
	overflow: hidden;
	padding:0px;
	border:none;
	width:50%;
	min-width:280px;
}