.stats-table{
	margin-left:20px;
	margin-right:20px;
	vertical-align:middle;
	margin:0 auto;
    width:98%;
    margin-top:25px;
}

.statsChartTab{
	cursor:pointer;
}

.chart-wrapper{
	float:left;
	width:40%;
	min-width:400px;
	margin:20px;
}

.action-buttons{
	text-align:right;
	margin-right:60px;
	margin-top:30px;
}

.btnRight{
	margin-right:10px;
}

.new-candidate-table-td{
	padding-right:10px;
}

