<div class=".container m-2" >

	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <span class="nav-link statsChartTab" (click)="switchTab('downloads')">Downloads</span>
	  </li>
	  <li class="nav-item statsChartTab">
	    <span class="nav-link" (click)="switchTab('availability')">Availability</span>
	  </li>
	</ul>

	
	<!-- Downloads -->
	
	<div *ngIf="showStatsDownloads">
		<table class="table stats-table">
			<tr>
				<td>
					<div class="chart-wrapper"  style="width:600px">
						<h3>Daily downloads</h3>
		   	 			<canvas baseChart 
		        				[datasets]="lineChartData" 
		        				[labels]="lineChartLabels" 
		        				[options]="lineChartOptions"
		        				[colors]="lineChartColors" 
		        				[legend]="lineChartLegend" 
		        				[chartType]="lineChartType" 
		       			 		[plugins]="lineChartPlugins">
		   				 </canvas>
					</div>
				</td>
				<td>
					<div class="chart-wrapper"  style="width:600px;">
						<h3>Recruiter downloads</h3>
		    			<canvas baseChart 
		        				[datasets]="recruiterDownloadsChartData" 
		        				[labels]="recruiterDownloadsChartLabels" 
		        				[options]="recruiterDownloadsChartOptions"
		        				[colors]="recruiterDownloadsChartColors" 
		        				[legend]="recruiterDownloadsChartLegend" 
		        				[chartType]="recruiterDownloadsChartType" 
		        				[plugins]="recruiterDownloadsChartPlugins">
		    			</canvas>
					</div>
				</td>
			</tr>		
						
		</table>

	</div>

	<!-- Availability -->
	<div *ngIf="showStatsAvailability">
		<table class="table stats-table">
			<tr>
				<td>
					<div class="chart-wrapper"  style="width:600px;">
						<h5>Totals:</h5>
						<table>
							<tr>
								<td>Active Users</td>
								<td>{{totalNumberActiveCandidates}}</td>
							</tr>
						</table>
					</div>
				</td>
		
				<td>
					<div class="chart-wrapper"  style="width:600px;">
						<h5>Available by Function</h5>
   						<canvas baseChart 
       						[datasets]="functionChartData" 
       						[labels]="functionChartLabels" 
       						[options]="functionChartOptions"
       						[colors]="functionChartColors" 
       						[legend]="functionChartLegend" 
       						[chartType]="functionChartType" 
       						[plugins]="functionChartPlugins">
    					</canvas>
					</div>
					
				</td>
				
			</tr>		
				
		</table>
	</div>	
      
</div>