<div class="chatwindow chatwindow-{{getChatWindowState()}}">
	
	<div class="chatwindow-header">
		<span class="chatwindow-header-item" (click)="closeChat()">x</span>
		<span class="chatwindow-header-item" (click)="minimizeChat()" *ngIf="getChatWindowState() == 'maximized'">-</span>
		<span class="chatwindow-header-item" (click)="maximizeChat()" *ngIf="getChatWindowState() == 'minimized'">+</span>
	</div>
	
	<div class="chatwindow-chat">
		<div class="chatwindow-view">
			<div class="chatwindow-view-item {{viewItemContactsSeleted}}" (click)="showContactsItemView()" *ngIf="chatViewItem == 'contacts'">Contacts</div>
			<div class="chatwindow-view-item {{viewItemContactsSeleted}}" (click)="showContactsItemView()" *ngIf="chatViewItem == 'message'">
				<span class="chat-iconX material-icons">arrow_back</span>
			</div>
			<div class="chat-view-item-panel" *ngIf="chatViewItem == 'contacts'">
				<div class="no-contacts-message" *ngIf="chats.length == 0 && isCandidate()">
					<h3>No contacts </h3>
					<p>Contacts will appear in this panel when Recruiters contact you.</p>
				</div>
				<div class="no-contacts-message" *ngIf="chats.length == 0 && isRecruiter()">
					<h3>No contacts </h3>
					<p>Use the Chat button in the Candidate profiles to start a Chat.</p>
					<p>This feature is only available on the paid tier.</p>
				</div>
				<div class="contacts" *ngIf="chats.length != 0">
					<div class="chat-list-box" style="clear:both" *ngFor="let chat of getChats()" (click)="showChatMessages(chat)">
						<div>
							<div style="float:left;">{{getUserName(chat.senderId, chat.recipientId)}}</div>
							<div style="float:right;color:green;padding-top:5px;padding-right:5px;"><span class="chat-iconX material-icons">chat_bubble</span></div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="chat-view-item-panel" *ngIf="chatViewItem == 'message'">
				<div class="pm-messages-header">
					<span class="pm-messages-header-username">{{getSelectedChatOtherUserName()}}</span>
				</div>
				<div class="pm-messages-messages">
					<div id="reply.id" class="msg-reply" *ngFor="let reply of getCurrentChatReplies() ">
						<div>{{reply.created | date:  'dd MMM yy - hh:mm'}}</div>
						<div class="message-own-{{isOwnMessage(reply)}}">{{reply.message}}</div>
						
					</div>
					<div id="boop"></div>
				</div>
				<div class="pm-messages-new-message">
					<form [formGroup]="messageForm">
						<textarea formControlName="newMessage" #newMsgBox>
							
						</textarea>
						<button class="btn btn-secondary chatBtn" (click)="sendMessage()">Send</button>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	
</div>
