
<div class="chatwindow chatwindow-{{getChatWindowState()}}">
	
	<div class="chatwindow-header">
		<span class="chatwindow-header-item" (click)="closeChat()">x</span>
		<span class="chatwindow-header-item non-mobile-only-element" (click)="minimizeChat()" *ngIf="getChatWindowState() == 'maximized'">-</span>
		<span class="chatwindow-header-item non-mobile-only-element" (click)="maximizeChat()" *ngIf="getChatWindowState() == 'minimized'">+</span>
	</div>
	
	<div class="chatwindow-chat">
		
		<div class="chatwindow-view">
			<div class="chatwindow-view-item {{viewItemContactsSeleted}}" (click)="showContactsItemView()" *ngIf="chatViewItem == 'contacts'">Contacts</div>
			<div class="chatwindow-view-item {{viewItemContactsSeleted}}" (click)="showContactsItemView()" *ngIf="chatViewItem == 'message'">
				<span class="chat-iconX material-icons">arrow_back</span>
			</div>
			<div class="chat-view-item-panel" *ngIf="chatViewItem == 'contacts'">
				<div class="no-contacts-message" *ngIf="chats.length == 0 && isCandidate()">
					<h3>No contacts </h3>
					<p>Contacts will appear in this panel when Recruiters contact you.</p>
				</div>
				<div class="no-contacts-message" *ngIf="chats.length == 0 && isRecruiter()">
					<h3>No contacts </h3>
					<p>Use the Chat button in the Candidate profiles to start a Chat.</p>
					<p>This feature is only available on the paid tier.</p>
				</div>
				<div class="contacts" *ngIf="chats.length != 0">
					<div class="chat-list-box" style="clear:both" *ngFor="let chat of getChats()" (click)="showChatMessages(chat)">
						<div>
							<div style="float:left;">{{getUserName(chat.senderId, chat.recipientId)}}</div>
							<div><span class="chat-iconX material-icons private-chat-bubble unread-messages-{{hasUnviewedMessages(chat)}}">chat_bubble</span></div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="chat-view-item-panel" *ngIf="chatViewItem == 'message'">
				<div class="pm-messages-header">
					<span class="pm-messages-header-username">
						{{getSelectedChatOtherUserName()}}
						<span class="chat-header-{{getBlockedStatus()}} material-icons " (click)="toggleBlockUserChat()">block</span>
						<span class="chat-header-other-user-typing material-icons " *ngIf="otherUserTypeing == true">chat</span>
					</span>
				</div>
				<div class="pm-messages-messages" (scroll)="setScrollOff()">
					<div id="reply.id" class="msg-reply" *ngFor="let reply of currentReplies ">
						<div class="message-header">{{reply.created | date:  'dd MMM yy - HH:mm'}}
							<span *ngIf="isOwnMessage(reply) == 'true' && getBlockedStatus() == 'unblocked'" class="message-header-delete material-icons" (click)="deleteReply(reply)" >delete</span>
						</div>
						<div class="message-own-{{isOwnMessage(reply)}}" style="white-space: pre-wrap;">{{reply.message}}</div>
						
					</div>
					<div id="boop" style="visibility:hidden">{{this.scrollOff}}</div>
				</div>
				<div class="pm-messages-new-message">
					<form [formGroup]="messageForm">
						<textarea formControlName="newMessage" #newMsgBox *ngIf="getBlockedStatus() == 'unblocked'" (input)="handleIsTyping()" (click)="setScrollOn()">
							
						</textarea>
						<div *ngIf="getBlockedStatus() != 'unblocked'">
							<p>This chat is currently blocked.</p>
						</div>
						<button class="btn btn-secondary chatBtn" (click)="sendMessage()" *ngIf="getBlockedStatus() == 'unblocked'">Send</button>
					</form>
				</div>
			</div>
		</div>
		
	</div>
	
</div>
