.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.listing-nav{
     cursor:pointer;
     color:blue;
     font-weight:bold;
     margin-left:20px;
     margin-right:20px;
 }

 .listing-nav-disabled{
     color:grey;
     font-weight:bold;
     margin-left:20px;
     margin-right:20px;
 }
 
 .listing-step-content{
 	margin-top:50px;
 	margin-left:50px;
 }
 
 .btn-listing{
 	margin-top:20px;
	margin-right:10px;
    min-width:100px;
}

.a-table-cell{
	display:table-cell; 
}

.text-area-listing{
	height:260px;
	width:100%;
}

.checkbox-ctrl{
		margin-right:5px;
}

.radio-button{
	margin-right:5px;
}

.radio-button_label{
	margin-right:10px;
}

 
 .selected-skills-filter{
	min-height:100px;
	margin-top:10px;	
	display: inline-block; 
 }
 
 .selected-skill{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:grey;
 	display:inline-block;
 }
 
 .selected-skill:hover{
 	margin:2px;
 	padding:5px;
 	border-radius:5px;
 	background:red;
 	cursor:pointer;
 	display:inline-block;
 }
 
 .feedback-failure{
    background: #F0F0F0;
    color: red;
    list-style-type: none;
    text-align:left;
}

.feedback-success{
    background: #F0F0F0;
}

.feedbackBox{
    width:300px;
    height:500px;
}

.modal-header{
    background: #303030;
    font-size: medium;
    height: 50px;
    text-align:center;
    width:500px;
    padding:0px;
    margin:0px;
    
}

.modal-header-text{
    text-align:center;
    color:#6f42c1;
    margin-top:10px;
    width:500px;
    
}

.feedbackBox{
    width:200px;
    height:350px;
}

.modal-body{
    font-size: large;
    height:200px;
    text-align: center;
}

.modal-body-text{
    vertical-align: middle;
    margin-top: 60px;
    font-weight: bold;
}

 .modal-header{
     background:#181414;
     color:#6A5ACD;
     font-weight:bold;
 }

.modal-title{
	margin-left:20px;
}

.filter-close-box{
     padding:10px;
     cursor:pointer;
     font-size:20px;
     font-weight: bold;
    text-align: right;
        
}

.listing-table{
	margin-top:20px;
	vertical-align:middle;
}

.listing-tab-col{
    border:1px black solid;
    background-color: #ffffff;
    font-size: x-small;
    text-align: center;
    padding: 5px;
}

.bg-tab-hdr{
	border:1px black solid;
	background: #6c757d;
    color: #ffffff;
    font-size: x-small;
    white-space:nowrap;
    padding:5px;
    margin:5px;
    text-align:center;
    padding-left:5px;
    padding-right:5px;
    min-width:50px;
}

.action-buttons{
	text-align:right;
	margin-right:40px;
}

.btnRight{
	margin-top:20px;
    margin-bottom:20px;
    margin-right:20px;
    min-width:100px;
}

.pagination-options{
	margin-top:20px;
	margin-bottom:10px;
	text-align:right;
	margin-right:95px;
}
 
.listing-nav{
	cursor:pointer;
	color:blue;
	font-weight:bold;
	margin-left:20px;
	margin-right:20px;
}

.listing-nav-disabled{
	color:grey;
    font-weight:bold;
    margin-left:20px;
    margin-right:20px;
}
 
.listing-tab-row:hover{
	cursor:pointer;
}

.listing-view-title{
	margin-top:20px;
	color:#6A5ACD;
}

.listing-view-div{
	margin-top:10px;
}

.confirm-delete{
	background:red;
}


 