.page{
	width:100%;
}

.account-subscription-status-panels{
	margin:0 auto;	
	margin-top:100px;
	width:1000px;
	margin-bottom:20px;
}

.account-subscription-panel{
	width:290px;
	height:250px;
	padding:50px;
	text-align:center;	
	cursor:pointer;
	margin:20px;
	float:left;
	background:#e8e8e8;
	border:darkgrey 2px solid;
}

.account-subscription-panel h1{
	height:100px;
	margin-bottom:20px;
	font-weight:bold;
	color:grey;
}

.subscriptions-awaiting-activation{
	color:green;
	
}

.subscriptions-awaiting-payment{
	color:#6A5ACD;
}

.subscriptions-disabled{
	color:red;
}

.clear-float{
	clear:both;
	margin-bottom:10px;
}

.subscription-action-item{
	cursor:pointer;
}

.subscription-action-item:hover{
	background:grey;
}

.subscription-details{
	margin:0px;	
	float:left;
}

.subscription-details{	
	width:100%;	
	
}
.subscription-details table{
	margin:0 auto;
	width:80%;
	border:green solid 1px;
}

.subscription-details table th{
	width:350px;
	font-weight:bold;
	background:grey;
	padding:5px;
}

.subscription-details table td{
	padding:5px;
}

.invoiceDetailsBox{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}

.invoiceDetailsBox table{
	width:80%;
	margin:0 auto;
}

.invoiceDetailsBox table tr td{
	margin:5px;
}

.invoice-box-btn-generate{
	float:right;
}

.cv-inline{
	margin-top:20px;
	margin-left:40px;
	width:95%; 
	height:500px;
}

@media (max-width:700px)  {
	
	.account-subscription-status-panels{
		margin:0 auto;	
		margin-top:20px;
		width:100%;
	}
	
	.account-subscription-panel{
		margin:0 auto;	
		width:100%;
		height:250px;
		padding:50px;
		text-align:center;	
		cursor:pointer;
		float:left;
		margin-bottom:10px;
	}

	.subscription-details table{
		margin:0 auto;
		width:100%;	
	}
	
	.subscription-list-table{
		width:100%;
		padding:0px;
	}
	
	.subscription-list-recruiter-name{
		display:none;
	}
	
	.subscription-list-table thead th{
		width:30%;
		font-weight:bold;
		padding:5px;
	}
	
	.subscription-list-table td{
		width:30%;
		padding:5px;
	}
	
	.subscription-details table th{
		width:30%;
		font-weight:bold;
		background:grey;
		padding:10px;
	}

	.subscription-details table td{
		width:30%;
		padding:10px;
	}
	
	.mobile{
		display:hidden;
	}
	
}