<div class="page">

	<!-- Panel showing types of Status -->
	<div class="account-subscription-status-panels" *ngIf="currentView == SUBSCRIPTION_VIEW.SELECT_SUBSCRIPTION_STATUS">
	
		<div class="account-subscription-panel subscriptions-awaiting-activation" (click)="selectSubscriptionStatus(SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_AWAITING_ACTIVATION)">
			<h1>Awaiting Activation</h1>
			<p>{{getRecruitersWithSubscriptionActionsStatusCount(SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_AWAITING_ACTIVATION)}}</p>
		</div>
		<div class="account-subscription-panel subscriptions-awaiting-payment" (click)="selectSubscriptionStatus(SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_AWAITING_PAYMENT)">
			<h1>Awaiting Payment</h1>
			<p>{{getRecruitersWithSubscriptionActionsStatusCount(SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_AWAITING_PAYMENT)}}</p>
		</div>
		<div class="account-subscription-panel subscriptions-disabled" (click)="selectSubscriptionStatus(SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_DISABLED)">
			<h1>Disabled</h1>
			<p>{{getRecruitersWithSubscriptionActionsStatusCount(SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_DISABLED)}}</p>
		</div>	
		
	</div>
	
	<!-- Panel showing subscriptions of selected Status -->
	<div *ngIf="currentView == SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_AWAITING_ACTIVATION || currentView == SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_AWAITING_PAYMENT || currentView == SUBSCRIPTION_VIEW.SUBSCRIPTION_STATUS_DISABLED ">
		<div class="action-buttons">
			<button	class="btn btn-secondary arenella-btn" (click)="showStatusOptions()">Back</button>
		</div>
		<table class="table subscription-list-table">
			<thead>
				<tr>
					<th class="medicol">{{'arenella-accounts-tabsubscriptions-id' | translate}}</th>
					<th class="medicol subscription-list-recruiter-name">{{'arenella-accounts-tabsubscriptions-name' | translate}}</th>
					<th class="medicol">{{'arenella-accounts-tabsubscriptions-type' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let subscriptionAction of getRecruitersWithSubscriptionActions()" class="subscription-action-item" (click)="setSelectSubscriptionAction(subscriptionAction)">
					<td class="medicol">{{subscriptionAction.userId}}</td>
					<td class="medicol subscription-list-recruiter-name">{{subscriptionAction.firstName}} {{subscriptionAction.surname}}</td>
					<td class="medicol">{{subscriptionAction.type | translate}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Panel showing selected subscription -->
	<div *ngIf="currentView == SUBSCRIPTION_VIEW.SUBSCRIPTION_DETAILS" class="subscription-details">
		<div class="action-buttons">
			<button	class="btn btn-secondary arenella-btn" (click)="backFromSubscriptionDetails()">Back</button>
		</div>
		<div class="subscription-details">
			<table class="subscription-details-table">
				<tr>
					<th>Recruiter Id</th>
					<td>{{selectedSubscriptionAction.userId}}</td>
				</tr>
				<tr>
					<th>Name</th>
					<td>{{selectedSubscriptionAction.firstName + " " + selectedSubscriptionAction.surname}}</td>
				</tr>
				<tr>
					<th>Email</th>
					<td>{{selectedSubscriptionAction.email}}</td>
				</tr>
				<tr>
					<th>Language</th>
					<td>{{selectedSubscriptionAction.language}}</td>
				</tr>
				<tr>
					<th>Subscription Id</th>
					<td>{{selectedSubscriptionAction.subscriptionId}}</td>
				</tr>
				<tr>
					<th>Invoice Type</th>
					<td>{{selectedSubscriptionAction.invoiceType}}</td>
				</tr>
				<tr *ngIf="selectedSubscriptionAction.invoiceType && selectedSubscriptionAction.invoiceType == 'BUSINESS'">
					<th colspan="2">Company Details</th>
				</tr>
				<tr *ngIf="selectedSubscriptionAction.invoiceType && selectedSubscriptionAction.invoiceType == 'BUSINESS'">
					<th>Name</th>
					<td>{{selectedRecruiter.companyName}}</td>
				</tr>
				<tr *ngIf="selectedSubscriptionAction.invoiceType && selectedSubscriptionAction.invoiceType == 'BUSINESS'">
					<th>Address</th>
					<td>{{selectedRecruiter.companyAddress}}</td>
				</tr>
				<tr *ngIf="selectedSubscriptionAction.invoiceType && selectedSubscriptionAction.invoiceType == 'BUSINESS'">
					<th>Country</th>
					<td>{{selectedRecruiter.companyCountry}}</td>
				</tr>
				<tr *ngIf="selectedSubscriptionAction.invoiceType && selectedSubscriptionAction.invoiceType == 'BUSINESS'">
					<th>Registration Number</th>
					<td>{{selectedRecruiter.companyRegistrationNumber}}</td>
				</tr>
				<tr *ngIf="selectedSubscriptionAction.invoiceType && selectedSubscriptionAction.invoiceType == 'BUSINESS'">
					<th>VAT Number</th>
					<td>{{selectedRecruiter.companyVatNumber}}</td>
				</tr>
				<tr>
					<th>Actions</th>
					<td>
						<button class="btn btn-secondary arenella-btn" style="min-width:100px;"  *ngFor="let action of selectedSubscriptionAction.actions" (click)="performAction(selectedSubscriptionAction, action)">{{frmtSubscriptionAction(action)}}</button>	
						<button class="btn btn-secondary arenella-btn mobile" *ngIf="selectedSubscriptionAction.type != 'CREDIT_BASED_SUBSCRIPTION' && selectedSubscriptionAction.type != 'CREDIT_BASED_SUBSCRIPTION'" (click)="showGenerateInvoiceOptions()">Invoice</button>
					</td>
				</tr>
			</table>
		</div>
		
	</div>
	
	<!-- Inline Invoice view -->
	<div *ngIf="currentView == SUBSCRIPTION_VIEW.SUBSCRIPTION_INVOICE_INLINE">
		<div class="action-buttons">
			<button	class="btn btn-secondary arenella-btn" (click)="showSubscriptionDetails()">Back</button>
		</div>
		<object id="content"  class="cv-inline" [attr.data]="trustedResourceUrl" type="application/pdf"></object>
	</div>
	
	<div class="clear-float"></div>
	
</div>
<!-- Invoice Details Box -->
<dialog #invoiceDetailsBox>
	<div class="modal-header">
		<h4 class="modal-title">Invoice Details</h4>
 		<div class="filter-close-box" (click)="invoiceDetailsBox.close()">X</div>
	</div>
	<div class="invoiceDetailsBox">
		<form [formGroup]="invoiceDetailsForm">
			<table>
				<tr>
					<th>Invoice Number</th>
					<td>
						<input type="text" formControlName="invoiceNumber"/>
					</td>
				</tr>
				<tr>
					<th>Invoice Date</th>
					<td>
						<input type="date" formControlName="invoiceDate"/>
					</td>
				</tr>
				<tr>
					<th>Service Description</th>
					<td>
						<textarea formControlName="unitDescription"></textarea>
					</td>
				</tr>
				<tr>
					<th>Apply BTW</th>
					<td>
						<input type="checkbox" formControlName="btwApplies"/>
					</td>
				</tr>
				<tr>
					<td></td>
					<td>
						<button class="btn btn-secondary invoice-box-btn-generate" [disabled]="!isInvoiceButtonEnabled()" (click)="generateInvoice()" >Generate</button> 		
					</td>
				</tr>
			</table>
			         
		</form>
	</div>
</dialog>