<div>
    <div class="centerdiv">
        <div class="center-table">
            <div class="row">
            	<div class="reruiter-signup-page">
            		<h1>Create Recruiter Account</h1>
            		<h5>Sign-up for a no obligation 30 day free trial</h5>
            	</div>
            	
            	<div style="margin-top:40px;">
	            	<div style="float:left;margin-right:30px;margin-bottom:50px;"> 
						<form [formGroup]="signupForm">
							<table>
							<tr>
								<td class="tb-lbl">First name</td>
								<td><input type="text" class="inpt-tab-std" formControlName="firstName"/></td>
							</tr>
							<tr>
								<td class="tb-lbl">Surname</td>
								<td><input type="text" class="inpt-tab-std" formControlName="surname"/></td>
							</tr>
							<tr>
								<td class="tb-lbl">Email</td>
								<td><input type="text" class="inpt-tab-std" formControlName="email"/></td>
							</tr>
							<tr>
								<td>Company Name</td>
								<td><input type="text" class="inpt-tab-std" formControlName="company"/></td>
							</tr>
							<tr>
								<td>Preferred Language</td>
								<td>
									<select formControlName="preferredLanguage">
										<option value="ENGLISH">English</option>
										<option value="DUTCH">Dutch</option>
										<option value="FRENCH">French</option>
									</select>
								</td>
								</tr>
								<tr>
									<td colspan="2" style="max-width:400px; padding-top:10px; font-style:italic; font-size:12px;">
										By registering you are agreeing to your information being stored in the system. 
										Your data will not be shared with third parties.
										Your activity in the site will be stored internally to provide statistics and 
										to improve your user experience.
									</td>
								</tr>
								<tr>
									<td></td>
									<td>
										<button (click)="startFreeTrial()" [disabled]="isFreeTrialButtonEnabled()" style="margin-top:10px;float:right;">Start free trial</button>
									</td>
								</tr>
							</table>
						</form>
					</div>
					
					<div class="rec-signup-info"  style="float:left;margin-right:30px">
					<div style="margin-bottom:40px;">
						<h5>Free trial</h5>
						<p>
						Sign up for a no obligation free trial. During the trial you can download unlimited candidate CVs, Create unlimited posts on the job board and unlimited requests 
						for candidates from other recruitment agencies in the Marketplace.
						</p>
					</div>
					
					<div>
						<h5>Free and paid subscriptions</h5>
						<p>
						The site generates revenue based upon a subscription model. After your 30 day trial ends, the next time you login you will be able to choose from either a 
						Free subscription with limited weekly downloads, job board posts and marketplace requests or for just 120 euro's per year excluding Tax you 
						have access to all these features with no limits.
						</p>
						<p>
						The subscription is the only cost involved in using the site. There are no additional costs such as 
						margins or commissions for placing candidates.  
						</p>
					</div>
					</div>
	            </div>
            </div>
        </div>
    </div>
</div>

<dialog #feedbackBox>
	<div class="modal-header">
		<h4 class="modal-title">&nbsp;</h4>
		<div class="filter-close-box" (click)="feedbackBox.close()">X</div>
	</div>
	<div class="feedbackBox; {{feedbackBoxClass}}">
		<div class="modal-body">
			<p class="modal-body-text">{{feedbackBoxText}}</p>
		</div>       
	</div>
</dialog>