<div class="page">

	<!-- Nav options -->
	<div class="nav-tabs-bar"></div>
	
	<div class="page-body">
		<div>
			<div class="recruiter-profile-buttons">
				<div class="action-buttons">
					<button class="btn btn-secondary arenella-btn"  *ngIf="isOwnAccountExists()  && currentView != 'view-create' && currentView != 'view-details'" 	(click)="showViewCreate()">{{'arenella-recruiter-prof-btn-edit' | translate}}</button>
					<button class="btn btn-secondary arenella-btn"  *ngIf="!isOwnAccountExists() && currentView != 'view-create' && currentView != 'view-details'" 	(click)="showViewCreate()">{{'arenella-recruiter-prof-btn-create' | translate}}</button>
					<button class="btn btn-secondary arenella-btn" 	*ngIf="currentView != 'view-main'" 																(click)="showViewMain()">{{'arenella-recruiter-prof-btn-back' | translate}}</button>
				</div>
			</div>
			
			<div *ngIf="currentView === 'view-main' && !recruiterProfile">
				<p class="no-account">{{'arenella-recruiter-prof-no-account' | translate}}</p>
			</div>
			
			<div *ngIf="currentView === 'view-main' && recruiterProfile">
				<div class="profile-overwiew" *ngFor="let profile of recruiterProfiles" (click)="showViewDetails(profile)">
					<div>
						<img class="profile-photo-overview" *ngIf="profile?.profilePhoto?.imageBytes" id='base64image' src='data:image/jpeg;base64, {{profile?.profilePhoto?.imageBytes}}' />
						<div *ngIf="!profile?.profilePhoto?.imageBytes" class="profile-photo-overview material-icons person ">
							<span style="font-size:100px;color:green;">person</span>
						</div>
						
						
						<span class="profile-photo-name">
							<h3>{{profile.recruiterFirstName | enumToHumanReadableValue}} {{profile.recruiterSurname | enumToHumanReadableValue}}</h3>
							{{profile.jobTitle | enumToHumanReadableValue}}
							<br>
							{{profile.companyName | enumToHumanReadableValue}}				
						</span>	
					</div>
					<div class="profile-recruits-in">
						<span *ngFor="let country of profile.recruitsIn">
							<span class="flag-icon flag-icon-{{getCountryFlagClass(country)}} profile-country-flag"></span>
						</span>
					</div>
				</div>
			</div>
			
			<div *ngIf="currentView === 'view-details'">
			
				<!-- Left Pane -->
				<app-candidate-info-box [config]="infoItemConfig" (openContactBoxEvent)="contactRecruiter()"></app-candidate-info-box>
			
				<div class="right-body-pane">
					<div style="float:center">
						
						<h1>{{selectedRecruiterProfile.recruiterFirstName | enumToHumanReadableValue}} {{selectedRecruiterProfile.recruiterSurname | enumToHumanReadableValue}}</h1>
						<br>
						<pre style="white-space:pre-line;font-family: Roboto, 'Helvetica Neue', sans-serif;">{{selectedRecruiterProfile.introduction}}</pre>
					</div>
					
					<div>
						<div  class="details-left-collections">
					<h5>{{'arenella-recruiter-prof-recruits-in' | translate}}</h5>
					<ul>
						<li *ngFor="let country of selectedRecruiterProfile.recruitsIn">
							<span class="flag-icon flag-icon-{{getCountryFlagClass(country)}} profile-country-flag"></span>
						</li>
					</ul>
				</div>
				
				<div  class="details-left-collections">
					<h5>{{'arenella-recruiter-prof-laguages' | translate}}</h5>
					<ul>
						<li *ngFor="let language of selectedRecruiterProfile.languagesSpoken">
							<!--  {{language | enumToHumanReadableValue}}-->
							{{getLang(language)}}
						</li>
					</ul>
				</div>
				
				<div  class="details-left-collections">
					<h5>{{'arenella-recruiter-prof-sectors' | translate}}</h5>
					<ul>
						<li *ngFor="let sector of selectedRecruiterProfile.sectors">
							<!--  {{sector | enumToHumanReadableValue}}-->
							{{getSector(sector)}}
						</li>
					</ul>
				</div>
				
				<div  class="details-left-collections">
					<h5>{{'arenella-recruiter-prof-markets' | translate}}</h5>
					<ul>
					<li *ngFor="let tech of selectedRecruiterProfile.coreTech">
						<!--  {{tech | enumToHumanReadableValue}}-->
						{{getTech(tech)}}
					</li>
					</ul>
				</div>
				
				<div  class="details-left-collections">
					<h5>{{'arenella-recruiter-prof-contract-types' | translate}}</h5>
					<ul>
					<li *ngFor="let contractType of selectedRecruiterProfile.recruitsContractTypes">
						<!-- {{contractType | enumToHumanReadableValue}}-->
						{{getContractType(contractType)}}
					</li>
					</ul>
				</div>
					</div>
				</div>
		
				<div class="action-buttons" style="padding-bottom:50px;">
				</div>
			
			</div>
			
			<div *ngIf="currentView === 'view-create'" class="view-create-table">
				<form [formGroup]="newProfileFormBean">
					<table class="rec-prof-edit-tbl">
					 
						<tr>
							<th>{{'arenella-recruiter-prof-image' | translate}}</th>
							<td>
							  	<input type="file" accept="image/jpeg,image/png" (change)="uploadProfileImage($event)" class="file-input">
								<img class="profile-photo" *ngIf="recruiterProfile?.profilePhoto?.imageBytes" id='base64image'                 
	   									src='data:image/jpeg;base64, {{recruiterProfile?.profilePhoto?.imageBytes}}'/>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-title' | translate}}</th>
							<td>
								<input type="text" formControlName="jobTitle">
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-rec-type' | translate}}</th>
							<td>
								<select formControlName="recruiterType">
									<option *ngFor="let opt of recruitmentTypeOptions" value="{{opt}}">{{getUserReadableVal(opt)}}</option>
								</select>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-exp' | translate}}</th>
							<td>
								<input type="number" formControlName="yearsExperience">
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-rec-in' | translate}}</th>
							<td>
								<select formControlName="recruitsIn" (change)="addRecruitsInItem()">
									<option *ngFor="let opt of countryOptions"	value="{{opt}}">{{opt[1]}}</option>
								</select>
								<br>
								<div class="selected-items">
									<span *ngFor="let item of recruitsIn" (click)="removeRecruitsInItem(item)" class="selected-item">
										{{item | tupleStrValueByPos: false}}
									</span>
								</div>
							</td>
								
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-intro' | translate}}</th>
							<td>
								<textarea formControlName="introduction"></textarea>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-langs-spoken' | translate}}</th>
							<td>
								<select formControlName="languagesSpoken" (change)="addLanguageSpokenItem()">
									<option *ngFor="let opt of languageOptions" value="{{opt}}">{{opt[1]}}</option>
								</select>
								<br>
								<div class="selected-items">
									<span *ngFor="let item of languagesSpoken" (click)="removeLanguageSpokenItem(item)" class="selected-item">
										{{item | tupleStrValueByPos: false}}
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-sectors' | translate}}</th>
							<td>
								<select formControlName="sectorItem" (change)="addSectorItem()">
									<option *ngFor="let opt of sectorOptions" value="{{opt}}">{{opt[1]}}</option>
								</select>
								<br>
								<div class="selected-items">
									<span *ngFor="let item of sectors" (click)="removeSectorItem(item)" class="selected-item">
										{{item | tupleStrValueByPos: false}}
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-techs-stack' | translate}}</th>
							<td>
								<select formControlName="coreTechItem" (change)="addCoreTechItem()">
									<option *ngFor="let opt of techOptions" value="{{opt}}">{{opt[1]}}</option>
								</select>
								<br>
								<div class="selected-items">
									<span *ngFor="let item of coreTech" (click)="removeCoreTechItem(item)" class="selected-item">
										{{item | tupleStrValueByPos: false}}
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-contract-types' | translate}}</th>
							<td>
								<select  formControlName="contractTypeItem" (change)="addContractTypeItem()">
									<option *ngFor="let opt of contractTypeOptions" value="{{opt}}">{{opt[1]}}</option>
								</select>
								<br>
								<div class="selected-items">
									<span *ngFor="let item of contractTypes" (click)="removeContractTypeItem(item)" class="selected-item">
										{{item | tupleStrValueByPos: false}}
									</span>
								</div>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-vis-rec' | translate}}</th>
							<td>
								<input type="checkbox" formControlName="visibleToRecruiters"/>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-vis-can' | translate}}</th>
							<td>
								<input type="checkbox" formControlName="visibleToCandidates"/>
							</td>
						</tr>
						<tr>
							<th>{{'arenella-recruiter-prof-vis-public' | translate}}</th>
							<td>
								<input type="checkbox" formControlName="visibleToPublic"/>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="action-buttons" style="padding-bottom:50px;">
				<button class="btn btn-secondary arenella-btn" *ngIf="currentView === 'view-create'" (click)="saveProfile()">{{'arenella-recruiter-prof-btn-save' | translate}}</button>		
			</div>
			
		</div>
	</div>
</div>

<dialog #contactBox>
	<div class="modal-header">
		<h4 class="modal-title">{{'arenella-recruiter-prof-box-contact-title' | translate}}</h4>
 		<div class="filter-close-box" (click)="contactBox.close()">X</div>
	</div>
	<div class="modal-body" *ngIf="contactRecruiterView === 'message'">
		<form [formGroup]="sendMessageGroup">
			<div style="float:left;margin:0px; margin-bottom:10px;">
				<b>{{'arenella-recruiter-prof-box-contact-titleititle' | translate}}:</b><input type="text" style="margin-left:10px;" formControlName="title"/>
				<br>
			</div>
			<textarea formControlName="message"></textarea>
			<button class="btn btn-secondary arenella-btn contact-button" (click)="sendMessageToRecruiter()">{{'arenella-recruiter-prof-box-contact-btn-send' | translate}}</button>
		</form>	
	</div>
	<div class="modal-body message-send-success" *ngIf="contactRecruiterView === 'success'">
			<p>{{'arenella-recruiter-prof-box-contact-desc1' | translate}}</p>
			<p>{{'arenella-recruiter-prof-box-contact-desc2' | translate}}</p>
	</div>
	<div class="modal-body" *ngIf="contactRecruiterView === 'failure'">
			<p class="message-send-failure">{{'arenella-recruiter-prof-box-contact-failed' | translate}}</p>
	</div>
</dialog> 