.wholepagerow {
    margin: 0 auto;
    width: 400px;
}

.feedback-failure{
    background: #F0F0F0;
    color: red;
}

.feedback-success{
    background: #F0F0F0;
}

.feedbackBox{
    width:300px;
    height:500px;
}

.modal-header{
    background: #303030;
    font-size: medium;
    height: 50px;
    text-align:center;
    width:500px;
    padding:0px;
    margin:0px;
    
}

.modal-header-text{
    text-align:center;
    color:#6f42c1;
    margin-top:10px;
    width:500px;
    
}

.feedbackBox{
    width:200px;
    height:350px;
}

.modal-body{
    font-size: large;
    height:200px;
    text-align: center;
}

.modal-body-text{
    vertical-align: middle;
    margin-top: 60px;
    font-weight: bold;
}

 .modal-header{
     background:#181414;
     color:#6A5ACD;
     font-weight:bold;
 }

 .filter-close-box{
     padding:10px;
     cursor:pointer;
     font-size:20px;
     font-weight: bold;
    text-align: right;
        
}

.centerdiv{
    margin: 0 auto;
    padding-left:10px;
    padding-right:10px;
    width:90%;
}

.center-table{
    margin:0 auto;
    margin-top:25px;
}

.tb-lbl{
	padding-right:20px;
}

.tb-lbl-checkbox{
	padding-right:40px;
}

.inpt-tab-std{
	max-width:250px;
}

.div-spacing{
	margin-top:40px;
}